Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Use #is_a? instead of ===
  app/controllers/admin/base_controller.rb
Due: standardrb

Fix renewals controller tests.
  app/controllers/admin/renewals_controller.rb
  test/controllers/admin/renewals_controller_test.rb
Due: standardrb

First pass at cleaning up SASS (#1739)
  Procfile.dev
  app/assets/stylesheets/admin_application.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/application_overrides.scss
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/homepage.scss
  app/controllers/homepage_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/request_item_controller.js
  app/mailers/homepage_mailer.rb
  app/views/dev/styles.html.erb
  app/views/homepage/index.html.erb
  app/views/homepage_mailer/inquiry.mjml
  app/views/homepage_mailer/inquiry.text.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/homepage.html.erb
  config/routes.rb
  package.json
  test/mailers/previews/homepage_mailer_preview.rb
  yarn.lock
Due: standardjs, standardrb, erblint

Match first link to Drills category
  test/system/admin/items_test.rb
Due: standardrb

Add flash_highlight and clean up bits of old highlighting. (#1738)
  app/assets/stylesheets/styles.scss
  app/controllers/admin/base_controller.rb
  app/controllers/admin/bulk_renewals_controller.rb
  app/controllers/admin/loans_controller.rb
  app/controllers/admin/members/hold_loans_controller.rb
  app/controllers/admin/members/holds_controller.rb
  app/controllers/admin/renewals_controller.rb
  app/javascript/application.js
  app/javascript/lib/highlight.js
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  app/views/admin/categories/index.html.erb
  app/views/admin/members/holds/history.html.erb
  app/views/admin/members/holds/index.html.erb
  app/views/admin/members/show.html.erb
  app/views/layouts/admin.html.erb
  test/controllers/admin/renewals_controller_test.rb
Due: standardjs, standardrb, erblint

Use category name when linking to categories. (#1751)
  app/views/admin/items/_items.html.erb
  test/system/admin/items_test.rb
Due: standardrb, erblint

Reorder the maintenance tickets on the admin items page
  Gemfile.lock
  app/controllers/admin/items/tickets_controller.rb
Due: standardrb

Add the retired status to tickets, always change an item's status to be retired when a retired ticket is created or a ticket is updated to retired
  Gemfile.lock
  app/controllers/admin/items/tickets/ticket_updates_controller.rb
  app/controllers/admin/items/tickets_controller.rb
  app/models/ticket.rb
  db/migrate/20241113202700_add_retired_to_ticket_status.rb
  db/schema.rb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb

Sort tickets on maintenance ticket list on the admin item's page (#1752)
  Gemfile.lock
  app/controllers/admin/items/tickets_controller.rb
Due: standardrb

Add the retired status to tickets (#1753)
  app/controllers/admin/items/tickets/ticket_updates_controller.rb
  app/controllers/admin/items/tickets_controller.rb
  app/models/ticket.rb
  db/migrate/20241113202700_add_retired_to_ticket_status.rb
  db/schema.rb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb

Disable the maintenance option when creating an item
  app/helpers/items_helper.rb
  app/views/admin/items/_form.html.erb
  package.json
  test/helpers/items_helper_test.rb
  test/system/admin/items_test.rb
  yarn.lock
Due: standardrb, erblint

Pull html_safe string into helper to avoid erb_lint warning
  app/helpers/items_helper.rb
  app/views/admin/items/_form.html.erb
Due: standardrb, erblint

Mark items as in maintenance when creating any ticket that is not retired
  app/controllers/admin/items/tickets_controller.rb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb

Fix load_production_data_for_export
  lib/tasks/production.rake
Due: none

wip
  app/controllers/admin/reservations/pickups_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/forms/reservation_loan_lookup_form.rb
  app/helpers/reservations_helper.rb
  app/lib/reservation_state_machine.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/_lookup_form.html.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.erb
  app/views/admin/reservations/reservation_loans/check_in.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
  config/initializers/lograge.rb
  config/routes.rb
Due: standardrb, erblint

Check in is working
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/views/admin/reservations/reservation_loans/_reservation_hold.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  config/routes.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Move reservations system test into directory with others.
  test/system/admin/reservations/reservations_test.rb
Due: standardrb

Add a test for returning items.
  app/views/admin/reservations/reservation_loans/_reservation_hold.erb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

Run erblint.
  app/views/admin/reservations/reservation_loans/index.html.erb
Due: erblint

Disable the maintenance option when creating an item (#1755)
  app/controllers/admin/items/tickets_controller.rb
  app/helpers/items_helper.rb
  app/views/admin/items/_form.html.erb
  package.json
  test/controllers/admin/items/tickets_controller_test.rb
  test/helpers/items_helper_test.rb
  test/system/admin/items_test.rb
  yarn.lock
Due: standardrb, erblint

Fix load_production_data_for_export (#1763)
  lib/tasks/production.rake
Due: none

Extract CheckInsController
  app/controllers/admin/reservations/check_ins_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/views/admin/reservations/check_ins/_form.html.erb
  app/views/admin/reservations/check_ins/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
  config/routes.rb
Due: standardrb, erblint

Delete unused file.
  app/views/account/reservations/_profile.html.erb
Due: erblint

Fix a typo
  app/controllers/admin/reservations/check_ins_controller.rb
Due: standardrb

Fix pending items flow
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

Got the items in maintenance report to match the blazer example
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
  test/factories/tickets.rb
  test/system/admin/reports/items_in_maintenance_test.rb
Due: standardrb, erblint

Added categories
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: standardrb, erblint

Return items on a reservation (#1764)
  app/controllers/admin/reservations/check_ins_controller.rb
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/admin/reservations/pickups_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/forms/reservation_loan_lookup_form.rb
  app/helpers/reservations_helper.rb
  app/lib/reservation_state_machine.rb
  app/views/account/reservations/_profile.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/check_ins/_form.html.erb
  app/views/admin/reservations/check_ins/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
  config/initializers/lograge.rb
  config/routes.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

added sorting
  app/assets/stylesheets/admin_application.scss
  app/assets/stylesheets/reports.scss
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/helpers/admin/reports/items_in_maintenance_helper.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
  test/helpers/admin/reports/items_in_maintenance_helper_test.rb
Due: standardrb, erblint

Added ransack to do the heavy lifting on filtering and sorting
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/reports.scss
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/helpers/admin/reports/items_in_maintenance_helper.rb
  app/models/item.rb
  app/models/ticket.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
  test/controllers/admin/items_in_maintenance_controller_test.rb
  test/helpers/admin/reports/items_in_maintenance_helper_test.rb
  test/system/admin/reports/items_in_maintenance_test.rb
Due: standardrb, erblint

Added more filters and styles
  app/assets/stylesheets/reports.scss
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
  app/views/layouts/admin.html.erb
Due: standardrb, erblint

Lint fixes
  Gemfile
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: standardrb, erblint

Adjust empty message copy
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: erblint

Add sorting and filtering to the item maintenance report (#1766)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/admin_application.scss
  app/assets/stylesheets/reports.scss
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/models/item.rb
  app/models/ticket.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
  app/views/layouts/admin.html.erb
  test/controllers/admin/items_in_maintenance_controller_test.rb
  test/factories/tickets.rb
  test/system/admin/reports/items_in_maintenance_test.rb
Due: standardrb, erblint

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update to version 4 of upload-artifact (#1785)
  .github/workflows/ci.yml
Due: none

Display each item's actual status alongside the version members see in the admin interface
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/items/_items.html.erb
  test/system/admin/items_test.rb
Due: standardrb, erblint

Show the raw value of each item's status in addition to the member facing version in the admin interface (#1792)
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/items/_items.html.erb
  test/system/admin/items_test.rb
Due: standardrb, erblint

Upgrade to Ruby 3.4.0.rc1
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  test/lib/version_consistency_test.rb
Due: standardrb

Remove ShortLink, which was unused and had deprecation warnings
  app/models/short_link.rb
  config/routes.rb
  db/migrate/20241218023052_drop_short_links.rb
  db/schema.rb
  test/controllers/short_links_controller_test.rb
  test/factories/short_links.rb
  test/models/short_link_test.rb
Due: standardrb
