Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

pure CSS mobile navigation toggling
  app/assets/stylesheets/header.scss
  app/views/layouts/application.html.erb
  app/views/shared/_search.html.erb
Due: erblint

Workable desktop navigation
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/mixins.scss
  app/views/layouts/application.html.erb
Due: erblint

desktop nav style tweaks
  app/assets/stylesheets/header.scss
Due: none

Fix placement of time override
  app/assets/stylesheets/styles.scss
Due: none

Underline the "active" navigation group label
  app/assets/stylesheets/header.scss
Due: none

Pull markup into helper method
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
Due: standardrb, erblint

Add back search id
  app/views/layouts/application.html.erb
Due: erblint

Remove old markup
  app/views/layouts/application.html.erb
Due: erblint

Remove old navbar links partial
  app/views/shared/_navbar_links.html.erb
Due: erblint

Added space above the visit our website link, spaced the header to match the old version a bit more closely
  app/assets/stylesheets/header.scss
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
Due: standardrb, erblint

pull out box shadow
  app/assets/stylesheets/header.scss
Due: none

Remove no longer used styles
  app/assets/stylesheets/public.scss
Due: none

reorganize the css
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/header.scss
  app/views/layouts/application.html.erb
Due: erblint

Fix up tests that depend on the navigation
  app/views/layouts/application.html.erb
  test/system/appointments_test.rb
  test/system/user_signup_test.rb
Due: standardrb, erblint

Pull header out into its own partial
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
Due: erblint

Run prettier on new styles
  app/assets/stylesheets/header.scss
Due: none

Open external links in a new tab
  app/helpers/application_helper.rb
  app/views/layouts/_header.html.erb
Due: standardrb, erblint

Fix up a few more tests that depend on the header
  test/system/multitenancy_test.rb
  test/system/remove_holds_test.rb
Due: standardrb

Standard lint fixes
  app/helpers/application_helper.rb
Due: standardrb

erb lint fixes
  app/views/layouts/_header.html.erb
Due: erblint

Ensure the header appears over the page content
  app/assets/stylesheets/header.scss
Due: none

Adjust test for the new unconfirmed users
  test/system/user_signup_test.rb
Due: standardrb

Apply Jim's suggestions
  app/assets/stylesheets/header.scss
Due: none

Rebuild member navigation menu (#1660)
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/public.scss
  app/assets/stylesheets/styles.scss
  app/helpers/application_helper.rb
  app/views/layouts/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_navbar_links.html.erb
  app/views/shared/_search.html.erb
  test/system/appointments_test.rb
  test/system/multitenancy_test.rb
  test/system/remove_holds_test.rb
  test/system/user_signup_test.rb
Due: standardrb, erblint

Fix up the seeds
  db/seeds.rb
Due: standardrb

Added a missing items report
  app/controllers/admin/reports/missing_items_controller.rb
  app/models/item.rb
  app/views/admin/reports/missing_items/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/factories/ticket_updates.rb
  test/models/ticket_update_test.rb
  test/system/admin/reports/missing_items_test.rb
Due: standardrb, erblint

Put the item's name ahead of its number on the member view of the items index (#1664)
  app/assets/stylesheets/styles.scss
  app/views/items/index.html.erb
Due: erblint

Added a missing items report (#1665)
  app/controllers/admin/reports/missing_items_controller.rb
  app/models/item.rb
  app/views/admin/reports/missing_items/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  db/seeds.rb
  test/factories/ticket_updates.rb
  test/models/ticket_update_test.rb
  test/system/admin/reports/missing_items_test.rb
Due: standardrb, erblint

Use traits whe ncreating reservations
  test/system/admin/reservations_test.rb
Due: standardrb

Add PendingReservationItem and a few uses of it (#1639)
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/models/pending_reservation_item.rb
  app/models/reservation.rb
  app/views/admin/reservations/_pending_reservation_items.html.erb
  app/views/admin/reservations/pending_reservation_items/destroy.turbo_stream.erb
  app/views/admin/reservations/pickups/show.html.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  config/routes.rb
  db/migrate/20240812014456_create_pending_reservation_items.rb
  db/schema.rb
  test/application_system_test_case.rb
  test/factories/pending_reservation_items.rb
  test/models/pending_reservation_item_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Pull reservation question/answer tests into its own system test file
  test/system/admin/reservations/questions_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb

wip
  app/controllers/signup/checkouts_controller.rb
  app/javascript/controllers/square_payment_controller.js
  app/views/signup/checkouts/new.html.erb
Due: standardjs, standardrb, erblint

Resolve PendingReservationItems by adding them to a reservation.
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/concerns/reservation_lending.rb
  app/views/admin/reservations/_pending_reservation_items.html.erb
  config/routes.rb
  test/controllers/concerns/reservation_lending_test.rb
  test/factories/pending_reservation_items.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Added required answer, added the questions to the member facing form
  app/controllers/account/reservations_controller.rb
  app/models/required_answer.rb
  app/models/reservation.rb
  app/views/account/reservations/_answers.html.erb
  app/views/account/reservations/_form.html.erb
  app/views/account/reservations/show.html.erb
  test/factories/required_answers.rb
  test/models/required_answer_test.rb
  test/system/account/reservations/questions_test.rb
  test/system/account/reservations_test.rb
Due: standardrb, erblint

erblint fixes
  app/views/account/reservations/_answers.html.erb
Due: erblint

Skip update of playwright
  package.json
  yarn.lock
Due: none

Remove unused OpenDays
  app/lib/open_days.rb
  test/lib/open_days_test.rb
Due: standardrb

Don't send emails during seeding.
  db/seeds.rb
Due: standardrb

Generate some reservations during bin/setup.
  app/models/application_record.rb
  app/models/item_pool.rb
  bin/setup
  lib/tasks/devdata.rake
Due: standardrb

Run standard.
  lib/tasks/devdata.rake
Due: none
