Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://evilmartians.github.io/lefthook/intro.html
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    prettier:
      run: yarn run lint:fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md
    newlines:
      tags: lint
      glob: "*.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}"
      run: bin/add_newlines {staged_files} && git add {staged_files}

Remove ability to modify date or delete appointment
  app/controllers/account/appointments_controller.rb
  app/views/account/appointments/_form.html.erb
  config/routes.rb
  test/controllers/account/appointments_controller_test.rb
Due: standardrb, erblint, newlines

Lint & tests
  test/controllers/account/appointments_controller_test.rb
  test/system/appointments_test.rb
Due: standardrb, newlines

Upgrade rails 8.1
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: newlines

Update system tests
  test/system/appointments_test.rb
Due: standardrb, newlines

Destroy associated user when a member is destroyed (#2124)
  app/models/member.rb
  test/controllers/admin/members_controller_test.rb
Due: standardrb, newlines

Handle Pundit::NotAuthorizedError in account renewals controller
  app/controllers/account/renewals_controller.rb
  test/controllers/account/renewals_controller_test.rb
Due: standardrb, newlines

Adjust holds page text and buttons for more clarity (#2109)
  app/helpers/holds_helper.rb
  app/views/account/holds/index.html.erb
  lib/tasks/devdata.rake
  test/system/appointments_test.rb
Due: standardrb, erblint, newlines

Handle authorization error when renewing a stale loan (#2133)
  app/controllers/account/renewals_controller.rb
  test/controllers/account/renewals_controller_test.rb
Due: standardrb, newlines

Use :month_day_year everywhere to avoid leading zeros in dates.
  app/views/account/reservations/index.html.erb
  app/views/account/reservations/submissions/show.html.erb
  app/views/admin/reservations/_profile.html.erb
  test/system/account/reservations_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint, newlines

Flatten tabs partial into index template.
  app/views/account/reservations/_index_tabs.html.erb
  app/views/account/reservations/index.html.erb
Due: erblint, newlines

Simplify error handling
  app/controllers/account/reservation_holds_controller.rb
Due: standardrb, newlines

Don't pass a hash to #find
  app/controllers/account/reservation_holds_controller.rb
Due: standardrb, newlines

Add missed changes
  app/views/admin/reports/memberships/index.html.erb
  app/views/admin/reservations/index.html.erb
Due: erblint, newlines

Use open-day-aware expiration for all holds
  app/models/hold.rb
  test/models/hold_test.rb
Due: standardrb, newlines

Disable Turbo prefetching in admin layout
  app/views/layouts/admin.html.erb
Due: erblint, newlines

Add configurable per-item hold duration (#2118)
  app/controllers/admin/items_controller.rb
  app/helpers/holds_helper.rb
  app/helpers/items_helper.rb
  app/models/hold.rb
  app/models/item.rb
  app/views/account/holds/index.html.erb
  app/views/admin/items/_form.html.erb
  app/views/items/place_hold_on/_item.html.erb
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
  app/views/items/show.html.erb
  app/views/member_mailer/holds_available.mjml
  app/views/member_mailer/holds_available.text.erb
  db/migrate/20260317142040_add_hold_duration_to_items.rb
  db/schema.rb
  test/controllers/account/appointments_controller_test.rb
  test/models/hold_test.rb
Due: standardrb, erblint, newlines

Disable Turbo prefetching in admin layout (#2138)
  app/views/layouts/admin.html.erb
Due: erblint, newlines

Upgrade rails 8.1 (#2132)
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: newlines

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

Delete .github/dependabot.yml (#2140)
  .github/dependabot.yml
Due: none

Fix NoMethodError on public item pool pages for logged-out visitors
  app/controllers/application_controller.rb
  app/views/item_pools/show.html.erb
  test/controllers/item_pools_controller_test.rb
Due: standardrb, erblint, newlines

Fix Dependabot security alerts for trix, playwright, and brace-expansion
  package.json
  yarn.lock
Due: newlines

Bump capybara-playwright-driver for playwright 1.55 compat
  Gemfile.lock
Due: none

Fix flaky ReservationDateValidatorTest by pinning to beginning_of_day
  test/lib/reservation_date_validator_test.rb
Due: standardrb, newlines

Fix NoMethodError on public item pool pages for logged-out visitors (#2141)
  app/controllers/application_controller.rb
  app/views/item_pools/show.html.erb
  test/controllers/item_pools_controller_test.rb
Due: standardrb, erblint, newlines

Update nix flake inputs
  flake.lock
Due: none

Add camping gear reservation dashboard (#2122)
  app/controllers/admin/reports/myturn_reservations_controller.rb
  app/lib/myturn.rb
  app/views/admin/reports/myturn_reservations/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, erblint, newlines

Fix flaky test in CI by using ENV vars instead of stub
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, newlines

Fix time-of-day flaky test in ReservationDateValidator
  test/lib/reservation_date_validator_test.rb
Due: standardrb, newlines

Re-authenticate on 403 in addition to 401 and redirects
  app/lib/myturn.rb
Due: standardrb, newlines

Fix Dependabot security alerts for trix, playwright, and brace-expansion (#2142)
  Gemfile.lock
  package.json
  test/lib/reservation_date_validator_test.rb
  yarn.lock
Due: standardrb, newlines

Add gem
  Gemfile
  Gemfile.lock
Due: none

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/new.html.erb
  config/initializers/stripe.rb
  config/routes.rb
Due: standardrb, erblint, newlines

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/controllers/stripe_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/callback.html.erb
  app/views/account/organization_payments/new.html.erb
  config/environments/development.rb
  config/routes.rb
Due: standardrb, erblint, newlines

Sketch out integration
  .env
  app/controllers/account/organization_payments_controller.rb
  app/controllers/account/payment_methods_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/stripe_controller.js
  app/lib/feature_flags.rb
  app/lib/stripe_checkout.rb
  app/models/payment_method.rb
  app/models/user.rb
  app/views/account/organization_payments/callback.html.erb
  app/views/account/organization_payments/new.html.erb
  app/views/account/payment_methods/index.html.erb
  app/views/account/payment_methods/new.html.erb
  config/routes.rb
  db/migrate/20250904011345_add_stripe_customer_id_to_users.rb
  db/migrate/20250918011950_create_payment_methods.rb
  db/schema.rb
  test/factories/payment_methods.rb
  test/models/payment_method_test.rb
Due: standardrb, erblint, newlines

Rearrange migrations after rebase
  app/models/user.rb
  db/migrate/20250904011345_add_stripe_customer_id_to_users.rb
  db/migrate/20260213221407_add_stripe_customer_id_to_users_and_create_custom_payment_methods.rb
  db/schema.rb
Due: standardrb, newlines

Made skipping csrf protection narrower for the github security bot
  app/controllers/stripe_controller.rb
Due: standardrb, newlines

Added basic VCR/webmock setup and some tests for StripeCheckout
  Gemfile
  Gemfile.lock
  app/lib/stripe_checkout.rb
  test/lib/stripe_checkout_test.rb
  test/test_helper.rb
  test/vcr_cassettes/create_stripe_customer.yml
Due: standardrb, newlines

Added tests for StripeCheckout
  app/lib/stripe_checkout.rb
  test/lib/stripe_checkout_test.rb
  test/vcr_cassettes/create_intent.yml
  test/vcr_cassettes/create_intent_failure.yml
  test/vcr_cassettes/delete_stripe_payment_method.yml
  test/vcr_cassettes/delete_stripe_payment_method_failure.yml
  test/vcr_cassettes/list_stripe_payment_methods.yml
  test/vcr_cassettes/list_stripe_payment_methods_failure.yml
Due: standardrb, newlines
