Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

Added pagination
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/views/admin/borrow_policy_approvals/index.html.erb
Due: standardrb, erblint, newlines

Added edit/update for borrow policy approvals
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/views/admin/borrow_policy_approvals/edit.html.erb
  app/views/admin/borrow_policy_approvals/index.html.erb
  config/routes.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Added requires approval checkbox to the borrow policy form
  app/views/admin/borrow_policies/_form.html.erb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Added emails for borrow policy approval status changes
  app/controllers/admin/borrow_policies_controller.rb
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/mailers/borrow_policy_approval_mailer.rb
  app/views/admin/borrow_policy_approvals/edit.html.erb
  app/views/borrow_policy_approval_mailer/approved.mjml
  app/views/borrow_policy_approval_mailer/approved.text.erb
  app/views/borrow_policy_approval_mailer/rejected.mjml
  app/views/borrow_policy_approval_mailer/rejected.text.erb
  app/views/borrow_policy_approval_mailer/revoked.mjml
  app/views/borrow_policy_approval_mailer/revoked.text.erb
  test/controllers/admin/borrow_policies_controller_test.rb
  test/controllers/admin/borrow_policy_approvals_controller_test.rb
  test/mailers/borrow_policy_approval_mailer_test.rb
  test/mailers/previews/borrow_policy_approval_mailer_preview.rb
Due: standardrb, erblint, newlines

Keep the timeframe for sending renewal reminder emails in sync with when the renewal banner appears
  app/views/account/_membership_renewal_message.html.erb
  lib/tasks/email.rake
  test/factories/memberships.rb
  test/models/membership_test.rb
  test/system/membership_renewal_test.rb
Due: standardrb, erblint, newlines

Lint fixes
  app/controllers/admin/loan_summaries_controller.rb
  app/controllers/admin/renewal_requests_controller.rb
  db/migrate/20200925134546_establish_tenant_zero.rb
Due: standardrb, newlines

focus on testing the UI change
  test/system/admin/holds_test.rb
Due: standardrb, newlines

1756 add button to remove holds on an item (#1835)
  Gemfile.lock
  app/controllers/admin/items/holds_controller.rb
  app/views/admin/items/holds/_list.html.erb
  config/routes.rb
  test/system/admin/holds_test.rb
Due: standardrb, erblint, newlines

Ensure that if the renewal email has been sent, the renewal banner is also showing in app (#1890)
  app/views/account/_membership_renewal_message.html.erb
  lib/tasks/email.rake
  test/factories/memberships.rb
  test/models/membership_test.rb
  test/system/membership_renewal_test.rb
Due: standardrb, erblint, newlines

Support C tools (#1887)
  app/assets/stylesheets/reports.scss
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/controllers/admin/borrow_policies_controller.rb
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/mailers/borrow_policy_approval_mailer.rb
  app/models/borrow_policy.rb
  app/models/borrow_policy_approval.rb
  app/models/hold.rb
  app/models/member.rb
  app/views/admin/borrow_policies/_form.html.erb
  app/views/admin/borrow_policies/index.html.erb
  app/views/admin/borrow_policies/show.html.erb
  app/views/admin/borrow_policy_approvals/edit.html.erb
  app/views/admin/borrow_policy_approvals/index.html.erb
  app/views/borrow_policy_approval_mailer/approved.mjml
  app/views/borrow_policy_approval_mailer/approved.text.erb
  app/views/borrow_policy_approval_mailer/rejected.mjml
  app/views/borrow_policy_approval_mailer/rejected.text.erb
  app/views/borrow_policy_approval_mailer/revoked.mjml
  app/views/borrow_policy_approval_mailer/revoked.text.erb
  app/views/borrow_policy_approvals/_request_borrow_policy_approval.html.erb
  app/views/items/show.html.erb
  config/routes.rb
  db/devdata/borrow_policies.yml
  db/migrate/20250314201009_add_c_tool_support.rb
  db/schema.rb
  lib/tasks/devdata.rake
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/controllers/admin/borrow_policies_controller_test.rb
  test/controllers/admin/borrow_policy_approvals_controller_test.rb
  test/factories/borrow_policies.rb
  test/factories/borrow_policy_approvals.rb
  test/mailers/borrow_policy_approval_mailer_test.rb
  test/mailers/previews/borrow_policy_approval_mailer_preview.rb
  test/models/borrow_policy_approval_test.rb
  test/models/borrow_policy_test.rb
  test/models/hold_test.rb
  test/system/account/holds_test.rb
  test/system/account/loans_test.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Added accessories column to items, added ability to edit the field
  app/controllers/admin/items_controller.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  db/migrate/20250329202931_add_accessories_to_items.rb
  db/schema.rb
  test/factories/items.rb
  test/models/item_test.rb
  test/system/admin/items_test.rb
Due: standardrb, erblint, newlines

WIP
  app/views/admin/appointments/_checkouts.html.erb
  test/system/admin/appointments/details_test.rb
Due: standardrb, erblint, newlines

Add new column to item_pools
  db/migrate/20250404163403_add_max_reservable_percent_to_item_pools.rb
  db/schema.rb
Due: standardrb, newlines

Update UI to allow CRUD of new column.
  app/controllers/admin/item_pools_controller.rb
  app/lib/spectre_form_builder.rb
  app/models/item_pool.rb
  app/views/admin/item_pools/_form.html.erb
  app/views/admin/item_pools/_item_pool_panel.html.erb
  test/models/item_pool_test.rb
Due: standardrb, erblint, newlines

Update reservation logic to account for limit
  app/models/reservation_hold.rb
Due: standardrb, newlines

Don't send an email when a reservation is first created by an admin.
  app/controllers/admin/reservations_controller.rb
Due: standardrb, newlines

Add fields to member/membership exports
  app/lib/member_exporter.rb
  app/models/membership.rb
Due: standardrb, newlines

Add membership_type field to member/membership exports (#1900)
  app/lib/member_exporter.rb
  app/models/membership.rb
Due: standardrb, newlines

Use Google Calendar events to determine loan due dates
  app/controllers/concerns/lending.rb
  app/models/event.rb
  app/models/loan.rb
  test/controllers/concerns/lending_test.rb
  test/factories/events.rb
  test/models/event_test.rb
  test/models/loan_test.rb
  test/system/admin/check_in_check_out_test.rb
  test/test_helper.rb
Due: standardrb, newlines

WIP simpler test helperst
  test/controllers/account/renewals_controller_test.rb
  test/controllers/admin/hold_loans_controller_test.rb
  test/controllers/admin/loans_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/controllers/admin/renewal_requests_controller_test.rb
  test/controllers/concerns/lending_test.rb
  test/factories/events.rb
  test/mailers/member_mailer_test.rb
  test/models/item_test.rb
  test/models/member_test.rb
  test/test_helper.rb
  test/test_helpers/open_days_helper.rb
Due: standardrb, newlines

Added timecop to hopefully make the tests less flakey
  Gemfile
  Gemfile.lock
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, newlines

Prevent the occasional tool that requires approval from having a hold created on it in the devdata task
  app/models/item.rb
  lib/tasks/devdata.rake
Due: standardrb, newlines

Deleted .standard_todo.yml and added comments to disable the lines in the migrations that were causing warnings
  .standard_todo.yml
  db/migrate/20190427201337_install_audited.rb
  db/migrate/20190628042057_add_description_and_code_to_borrow_policies.rb
  db/migrate/20190628171313_add_uniquely_numbered_to_loans.rb
  db/migrate/20190710215125_remove_category_hierarchy.rb
  db/migrate/20190716012142_rename_agreements_to_documents.rb
  db/migrate/20190716013130_update_agreement_acceptances.rb
  db/migrate/20190716014635_remove_active_from_documents.rb
  db/migrate/20190807020247_add_payment_info_to_adjustments.rb
  db/migrate/20200906182546_add_pronouns_to_members.rb
  db/migrate/20201017185636_drop_hold_requests.rb
  db/migrate/20201107024718_downcase_emails.rb
  db/migrate/20201129191804_make_memberships_pending.rb
  db/migrate/20210129221240_remove_pronoun_and_custom_pronoun_columns.rb
  db/migrate/20210903205105_change_event_attendees_to_jsonb.rb
  db/migrate/20220225192017_drop_maintenance_reports.rb
  db/migrate/20220303210904_remove_maintenance_statuses_from_items.rb
  db/migrate/20240122202020_relax_notifications_schema_for_sms.rb
  db/migrate/20240411151214_create_ahoy_visits_and_events.rb
Due: standardrb, newlines

Fix flakey unpulled items system tests and bin/setup errors (#1906)
  Gemfile
  Gemfile.lock
  app/models/item.rb
  lib/tasks/devdata.rake
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, newlines

Update org signup link
  app/views/signup/home/index.html.erb
Due: erblint, newlines

Remove enum gem and run db:migrate
  Gemfile
  Gemfile.lock
  db/schema.rb
Due: newlines

Prevent borrow policy approval errors in devdata rake task
  lib/tasks/devdata.rake
Due: none

Update organization signup link (#1903)
  app/views/signup/home/index.html.erb
Due: erblint, newlines

Remove activerecord-postgres_enum gem (#1902)
  Gemfile
  Gemfile.lock
  db/schema.rb
Due: newlines

Add optional limit to how much of an item pool can be reserved by a single reservation (#1901)
  app/controllers/admin/item_pools_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/lib/spectre_form_builder.rb
  app/models/item_pool.rb
  app/models/reservation_hold.rb
  app/views/admin/item_pools/_form.html.erb
  app/views/admin/item_pools/_item_pool_panel.html.erb
  db/migrate/20250404163403_add_max_reservable_percent_to_item_pools.rb
  db/schema.rb
  test/models/item_pool_test.rb
Due: standardrb, erblint, newlines

Added accessories column to items, added ability to edit the field
  app/controllers/admin/items_controller.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  db/migrate/20250410163403_add_accessories_to_items.rb
  db/schema.rb
  test/factories/items.rb
  test/models/item_test.rb
  test/system/admin/items_test.rb
Due: standardrb, erblint, newlines

remove puts
  test/system/admin/items_test.rb
Due: standardrb, newlines

Added accessories to the admin items details panel and added them to the check in/out flow
  app/assets/stylesheets/admin.scss
  app/javascript/controllers/confirm_item_accessories_controller.js
  app/javascript/controllers/index.js
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  app/views/admin/items/_item_panel.html.erb
  test/system/admin/appointments/details_test.rb
  test/system/admin/items_test.rb
Due: standardrb, erblint, newlines

Update a few associated dependencies
  Gemfile.lock
  app/lib/volunteer/month_calendar.rb
Due: standardrb, newlines

Prevent borrow policy approval errors in devdata rake task (#1909)
  lib/tasks/devdata.rake
Due: none

Deleted .standard_todo.yml and added comments to disable the lines in the migrations that were causing warnings (#1907)
  .standard_todo.yml
  db/migrate/20190427201337_install_audited.rb
  db/migrate/20190628042057_add_description_and_code_to_borrow_policies.rb
  db/migrate/20190628171313_add_uniquely_numbered_to_loans.rb
  db/migrate/20190710215125_remove_category_hierarchy.rb
  db/migrate/20190716012142_rename_agreements_to_documents.rb
  db/migrate/20190716013130_update_agreement_acceptances.rb
  db/migrate/20190716014635_remove_active_from_documents.rb
  db/migrate/20190807020247_add_payment_info_to_adjustments.rb
  db/migrate/20200906182546_add_pronouns_to_members.rb
  db/migrate/20201017185636_drop_hold_requests.rb
  db/migrate/20201107024718_downcase_emails.rb
  db/migrate/20201129191804_make_memberships_pending.rb
  db/migrate/20210129221240_remove_pronoun_and_custom_pronoun_columns.rb
  db/migrate/20210903205105_change_event_attendees_to_jsonb.rb
  db/migrate/20220225192017_drop_maintenance_reports.rb
  db/migrate/20220303210904_remove_maintenance_statuses_from_items.rb
  db/migrate/20240122202020_relax_notifications_schema_for_sms.rb
  db/migrate/20240411151214_create_ahoy_visits_and_events.rb
Due: standardrb, newlines

Use Google Calendar events to determine loan due dates
  app/controllers/concerns/lending.rb
  app/models/event.rb
  app/models/loan.rb
  test/controllers/account/renewals_controller_test.rb
  test/controllers/admin/bulk_renewals_controller_test.rb
  test/controllers/admin/hold_loans_controller_test.rb
  test/controllers/admin/loans_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/controllers/admin/renewal_requests_controller_test.rb
  test/controllers/admin/renewals_controller_test.rb
  test/controllers/concerns/lending_test.rb
  test/factories/events.rb
  test/mailers/member_mailer_test.rb
  test/models/event_test.rb
  test/models/item_test.rb
  test/models/loan_summary_test.rb
  test/models/loan_test.rb
  test/models/member_test.rb
  test/system/account/loans_test.rb
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/consumables_test.rb
  test/system/admin/holds_test.rb
  test/system/admin/renewal_requests_test.rb
  test/test_helper.rb
  test/test_helpers/open_days_helper.rb
Due: standardrb, newlines

Switch to nil return instead of error when next_open_day not found
  app/models/event.rb
  test/models/event_test.rb
Due: standardrb, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
