Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Fix warnings in form builder
  app/lib/spectre_form_builder.rb
Due: standardrb

Address warning in holds_helper.rb
  app/helpers/holds_helper.rb
Due: standardrb

Upgrade to Ruby 3.4.0.rc1 (#1795)
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  app/helpers/holds_helper.rb
  app/lib/spectre_form_builder.rb
  app/models/short_link.rb
  config/routes.rb
  db/migrate/20241218023052_drop_short_links.rb
  db/schema.rb
  test/controllers/short_links_controller_test.rb
  test/factories/short_links.rb
  test/lib/version_consistency_test.rb
  test/models/short_link_test.rb
Due: standardrb

Lint fixes
  Gemfile
  test/models/ticket_test.rb
Due: standardrb

make migration a little later
  db/migrate/20241218224853_acts_as_taggable_on_migration.rb
  db/schema.rb
Due: standardrb

Revamp tagging stuff, ensure it works on the ticket model
  Gemfile
  Gemfile.lock
  app/models/ticket.rb
  db/migrate/20241218224853_acts_as_taggable_on_migration.rb
  db/schema.rb
  test/models/ticket_test.rb
Due: standardrb

Added acts-as-taggable-gem and migration
  Gemfile
  Gemfile.lock
  db/migrate/20241217224853_acts_as_taggable_on_migration.rb
  db/schema.rb
Due: standardrb

Allow admins to add/remove/see tags on tickets
  app/controllers/admin/items/tickets_controller.rb
  app/models/ticket.rb
  app/views/admin/items/tickets/_form.html.erb
  app/views/admin/items/tickets/index.html.erb
  app/views/admin/items/tickets/show.html.erb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb, erblint

Update to Ruby 3.4.1
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  flake.lock
Due: none

Look up items by number instead of database id
  app/controllers/admin/reservations/check_ins_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/views/admin/reservations/check_ins/_form.html.erb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

Remove TODO
  app/controllers/admin/reservations/reservation_loans_controller.rb
Due: standardrb

Update to Ruby 3.4.1 (#1805)
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  flake.lock
Due: none

Look up items by number instead of database ID (#1807)
  app/controllers/admin/reservations/check_ins_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/views/admin/reservations/check_ins/_form.html.erb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

Remove ref pin for standard-rails
  Gemfile
Due: none

Run bundle install
  Gemfile.lock
Due: none

Use 1.2.0
  Gemfile.lock
Due: none

Remove ref pin for standard-rails (#1815)
  Gemfile
  Gemfile.lock
Due: none

Made tags case insensitive
  config/initializers/acts_as_taggable_on.rb
  test/models/ticket_test.rb
Due: standardrb

Adds tagging to tickets on items (#1796)
  Gemfile
  Gemfile.lock
  app/controllers/admin/items/tickets_controller.rb
  app/models/ticket.rb
  app/views/admin/items/tickets/_form.html.erb
  app/views/admin/items/tickets/index.html.erb
  app/views/admin/items/tickets/show.html.erb
  config/initializers/acts_as_taggable_on.rb
  db/migrate/20241218224853_acts_as_taggable_on_migration.rb
  db/schema.rb
  test/controllers/admin/items/tickets_controller_test.rb
  test/models/ticket_test.rb
Due: standardrb, erblint

Added plain lint command
  package.json
Due: none

removed standard js in favor of prettier
  package.json
  yarn.lock
Due: none

CI change to prettier and list lint violation files
  .github/workflows/ci.yml
  package.json
Due: none

Separate pages for item pool show and reservable item listing.
  app/controllers/admin/item_pools/reservable_items_controller.rb
  app/views/admin/item_pools/_profile.html.erb
  app/views/admin/item_pools/reservable_items/index.html.erb
  app/views/admin/item_pools/show.html.erb
  config/routes.rb
Due: standardrb, erblint

v1
  app/controllers/admin/items/holds_controller.rb
  app/views/admin/items/holds/_list.html.erb
  config/routes.rb
Due: standardrb, erblint

playing with a minitest
  test/controllers/admin/items/holds/holds_controller_test.rb
Due: standardrb

Added a column for renewals count to the activity report
  app/controllers/admin/reports/monthly_activities_controller.rb
  app/models/monthly_appointment.rb
  app/models/monthly_loan.rb
  app/models/monthly_member.rb
  app/models/monthly_renewal.rb
  app/views/admin/reports/monthly_activities/index.html.erb
  db/migrate/20250105181935_create_monthly_renewals.rb
  db/schema.rb
  db/views/monthly_renewals_v01.sql
  test/system/admin/reports/monthly_activities_test.rb
Due: standardrb, erblint

Split the report into multiple tables
  app/controllers/admin/reports/monthly_activities_controller.rb
  app/views/admin/reports/monthly_activities/index.html.erb
  test/system/admin/reports/monthly_activities_test.rb
Due: standardrb, erblint

Removed renewals from loans count
  db/migrate/20250122225005_update_monthly_loans_to_version_2.rb
  db/schema.rb
  db/views/monthly_loans_v02.sql
  test/system/admin/reports/monthly_activities_test.rb
Due: standardrb
