Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

standardjs:
  run: yarn run standard --fix {staged_files} && git add {staged_files}

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Fix enum kw args deprecation warning
  app/models/adjustment.rb
  app/models/concerns/item_attributes.rb
  app/models/concerns/item_statuses.rb
  app/models/item_attachment.rb
  app/models/member.rb
  app/models/membership.rb
  app/models/renewal_request.rb
  app/models/stem.rb
  app/models/ticket.rb
  app/models/user.rb
  db/migrate/20200504134052_assign_member_numbers.rb
  db/migrate/20200906182546_add_pronouns_to_members.rb
  db/migrate/20220202191706_create_enum_for_item_status.rb
Due: standardrb

Fix enums using _prefix: option which is now prefix:
  app/models/member.rb
  db/migrate/20200504134052_assign_member_numbers.rb
Due: standardrb

Address "Test is missing assertions:" warnings
  test/controllers/admin/appointments_controller_test.rb
  test/controllers/application_controller_test.rb
  test/helpers/holds_helper_test.rb
  test/lib/certificate/generator_test.rb
  test/lib/map/chicago_test.rb
  test/models/adjustment_test.rb
  test/models/hold_test.rb
  test/models/loan_test.rb
  test/models/member_test.rb
  test/models/membership_test.rb
  test/models/notification_test.rb
  test/nulls/null_borrow_policy_test.rb
  test/nulls/null_item_test.rb
  test/system/admin/holds_test.rb
  test/system/admin/items_test.rb
  test/system/admin/reports/monthly_activities_test.rb
Due: standardrb

Switch block styles on multiline assert_nothing_raised
  test/controllers/admin/appointments_controller_test.rb
  test/controllers/application_controller_test.rb
  test/lib/certificate/generator_test.rb
  test/lib/map/chicago_test.rb
  test/models/adjustment_test.rb
  test/models/loan_test.rb
  test/models/member_test.rb
  test/models/membership_test.rb
  test/models/notification_test.rb
Due: standardrb

Add PendingReservationItem model
  app/models/pending_reservation_item.rb
  db/migrate/20240812014456_create_pending_reservation_items.rb
  db/schema.rb
  test/factories/pending_reservation_items.rb
  test/models/pending_reservation_item_test.rb
Due: standardrb

Create and delete PendingReservationItems
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/models/reservation.rb
  app/views/admin/reservations/_pending_reservation_items.html.erb
  app/views/admin/reservations/pending_reservation_items/destroy.turbo_stream.erb
  app/views/admin/reservations/pickups/show.html.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  config/routes.rb
Due: standardrb, erblint

Add system tests for admin reservation editing
  test/application_system_test_case.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Add system tests for pickups
  app/views/admin/reservations/_pending_reservation_items.html.erb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

bcc admin users on reservation_requested mailer
  app/mailers/reservation_mailer.rb
Due: standardrb

creates separate email for admin review
  Gemfile.lock
  app/controllers/account/reservations/submissions_controller.rb
  app/mailers/reservation_mailer.rb
  app/views/reservation_mailer/review_requested.mjml
  app/views/reservation_mailer/review_requested.text.erb
Due: standardrb, erblint

test
  test/mailers/reservation_mailer_test.rb
Due: standardrb

fix breaking tests
  test/application_system_test_case.rb
  test/system/account/reservations_test.rb
Due: standardrb

Move reservation reviewing into a tab
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/reviews/edit.html.erb
  test/factories/reservations.rb
  test/system/admin/reservations/reviews_test.rb
Due: standardrb, erblint

Swapped the yarn add playwright command with a generic yarn install
  bin/setup
Due: none

Match playwright yarn version to ruby
  package.json
  yarn.lock
Due: none

Swapped the yarn add playwright command with a generic yarn install (#1648)
  bin/setup
Due: none

Match playwright yarn version to ruby (#1649)
  package.json
  yarn.lock
Due: none

Adjust copy to be more accurate.
  app/views/renewal/confirmations/show.html.erb
Due: erblint

Add environment variable to control square redirect delay.
  .env
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/payments_controller.rb
  app/lib/square_checkout/client.rb
Due: standardrb

Fix variable name
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/payments_controller.rb
Due: standardrb

Fix tests broken by new method.
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
Due: standardrb

Handle env var not being set.
  app/lib/square_checkout/client.rb
Due: standardrb

Process Square payments using webhooks (#1572)
  .env
  .env.test
  app/controllers/renewal/confirmations_controller.rb
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/confirmations_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/helpers/admin_helper.rb
  app/jobs/square_payment_job.rb
  app/lib/square_checkout.rb
  app/lib/square_checkout/client.rb
  app/lib/square_checkout/fetched_order.rb
  app/lib/square_checkout/square_error.rb
  app/views/admin/members/memberships/index.html.erb
  app/views/renewal/confirmations/show.html.erb
  app/views/renewal/payments/wait.html.erb
  app/views/signup/confirmations/_instructions.html.erb
  app/views/signup/confirmations/show.html.erb
  app/views/signup/payments/wait.html.erb
  config/environments/development.rb
  config/routes.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/controllers/square_controller_test.rb
  test/jobs/square_payment_job_test.rb
  test/lib/square_checkout/client_test.rb
  test/lib/square_checkout_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Revert "Process Square payments using webhooks (#1572)"
  .env
  .env.test
  app/controllers/renewal/confirmations_controller.rb
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/confirmations_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/helpers/admin_helper.rb
  app/jobs/square_payment_job.rb
  app/lib/square_checkout.rb
  app/lib/square_checkout/client.rb
  app/lib/square_checkout/fetched_order.rb
  app/lib/square_checkout/square_error.rb
  app/views/admin/members/memberships/index.html.erb
  app/views/renewal/confirmations/show.html.erb
  app/views/renewal/payments/wait.html.erb
  app/views/signup/confirmations/_instructions.html.erb
  app/views/signup/confirmations/show.html.erb
  app/views/signup/payments/wait.html.erb
  config/environments/development.rb
  config/routes.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/controllers/square_controller_test.rb
  test/jobs/square_payment_job_test.rb
  test/lib/square_checkout/client_test.rb
  test/lib/square_checkout_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Revert "Process Square payments using webhooks" (#1655)
  .env
  .env.test
  app/controllers/renewal/confirmations_controller.rb
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/confirmations_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/helpers/admin_helper.rb
  app/jobs/square_payment_job.rb
  app/lib/square_checkout.rb
  app/lib/square_checkout/client.rb
  app/lib/square_checkout/fetched_order.rb
  app/lib/square_checkout/square_error.rb
  app/views/admin/members/memberships/index.html.erb
  app/views/renewal/confirmations/show.html.erb
  app/views/renewal/payments/wait.html.erb
  app/views/signup/confirmations/_instructions.html.erb
  app/views/signup/confirmations/show.html.erb
  app/views/signup/payments/wait.html.erb
  config/environments/development.rb
  config/routes.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/controllers/square_controller_test.rb
  test/jobs/square_payment_job_test.rb
  test/lib/square_checkout/client_test.rb
  test/lib/square_checkout_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Prevent bumping of playwright for now
  package.json
  yarn.lock
Due: none

Move reservation reviewing into a tab (#1646)
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/reviews/edit.html.erb
  test/factories/reservations.rb
  test/system/admin/reservations/reviews_test.rb
Due: standardrb, erblint

Graduate nested if to an elsif as suggested.
  app/controllers/admin/reservations/reservation_loans_controller.rb
Due: standardrb

Added confirmable and reconfirmable columns and config for devise
  app/models/user.rb
  db/migrate/20240806214629_add_devise_confirmable_to_users.rb
  db/schema.rb
  test/controllers/admin/users_controller_test.rb
  test/factories/users.rb
Due: standardrb

Got bin/setup working with the confirmable changes to users
  db/seeds.rb
  lib/tasks/devdata.rake
Due: standardrb

Added information about confirming your email address to the confirmation page
  app/views/signup/confirmations/_instructions.html.erb
  config/initializers/devise.rb
Due: standardrb, erblint

Styled the new confirmation page to match the login and other devise pages
  app/assets/stylesheets/partials/_index.scss
  app/assets/stylesheets/partials/_users_confirmations_new.scss
  app/views/devise/confirmations/new.html.erb
  app/views/devise/sessions/new.html.erb
  db/seeds.rb
Due: standardrb, erblint

Remove the place hold button for unconfirmed users and prevent them from creating holds at the controller level
  app/controllers/account/holds_controller.rb
  app/views/items/show.html.erb
  test/controllers/account/holds_controller_test.rb
  test/system/holds_test.rb
Due: standardrb, erblint

prevent the unconfirmed member from having any holds
  lib/tasks/devdata.rake
Due: none

Added a notification to the layout asking users to verify their email address
  app/views/account/_email_verification_message.html.erb
  app/views/layouts/application.html.erb
  test/system/user_email_verification_test.rb
Due: standardrb, erblint

Show unconfirmed email address in the admin interface when applicable
  app/views/admin/users/index.html.erb
Due: erblint

we now send a welcome email and a confirm your email email
  test/system/user_signup_test.rb
Due: standardrb

Allow admins to resend email verifications for members
  app/controllers/admin/members_controller.rb
  app/views/admin/members/_profile.html.erb
  config/routes.rb
  test/controllers/admin/members_controller_test.rb
Due: standardrb, erblint

Schema and migration updates to compensate for rebasing
  db/migrate/20240816214629_add_devise_confirmable_to_users.rb
  db/schema.rb
Due: standardrb

Allow unconfirmed users to access site indefinitely
  config/initializers/devise.rb
Due: standardrb

Path conditions:
  standardjs: any of: *.js
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
