Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Reorder sass rules to prevent warnings (#1604)
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/assets/stylesheets/public.scss
  app/assets/stylesheets/styles.scss
Due: none

add search_results_index, remove first_page_results
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
Due: standardrb, erblint

Collect referrer in appsignal
  config/appsignal.yml
Due: none

Collect referrer in appsignal (#1609)
  config/appsignal.yml
Due: none

Address system test flakes (#1612)
  test/system/admin/questions_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb

devdata: Reuse image blobs to save space
  lib/tasks/devdata.rake
Due: none

Move development and CI postgres to tmpfs ramdisk
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

Remove duplicated scope
  app/models/reservation.rb
Due: standardrb

Added traits and used them in existing tests
  test/factories/reservations.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Added tests for the reservation mailer
  app/mailers/reservation_mailer.rb
  test/mailers/reservation_mailer_test.rb
Due: standardrb

Update schema
  db/schema.rb
Due: none

Added tests around reviewing reservations
  app/controllers/admin/reservations/reviews_controller.rb
  test/system/admin/reservations/reviews_test.rb
Due: standardrb

renamed migration
  db/migrate/20240722221811_add_submitted_by_to_reservations.rb
Due: standardrb

Added submitted_by to reservation, use current user on create
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  db/migrate/20240719221811_add_submitted_by_to_reservations.rb
  db/schema.rb
  test/factories/reservations.rb
  test/models/reservation_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Send the approval/rejection email when reviewing a reservation
  app/controllers/admin/reservations/reviews_controller.rb
  test/system/admin/reservations/reviews_test.rb
Due: standardrb

Added approval/rejection emails
  app/mailers/reservation_mailer.rb
  app/views/reservation_mailer/reviewed.mjml
  app/views/reservation_mailer/reviewed.text.erb
  test/factories/reservations.rb
  test/mailers/previews/reservation_mailer_preview.rb
  test/mailers/reservation_mailer_test.rb
Due: standardrb, erblint

Refactor some tests to use the email test helper
  test/application_system_test_case.rb
  test/mailers/reservation_mailer_test.rb
Due: standardrb

Move development and CI postgres to tmpfs ramdisk (#1615)
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

devdata: Reuse image blobs to save space and maybe a little time (#1614)
  lib/tasks/devdata.rake
Due: none

Send an email when a reservation is approved or rejected (#1603)
  app/controllers/admin/reservations/reviews_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/mailers/reservation_mailer.rb
  app/models/reservation.rb
  app/views/reservation_mailer/reviewed.mjml
  app/views/reservation_mailer/reviewed.text.erb
  db/migrate/20240722221811_add_submitted_by_to_reservations.rb
  db/schema.rb
  test/application_system_test_case.rb
  test/factories/reservations.rb
  test/mailers/previews/reservation_mailer_preview.rb
  test/mailers/reservation_mailer_test.rb
  test/models/reservation_test.rb
  test/system/admin/reservations/reviews_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Handle members with no associated user.
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
Due: erblint

Add organization association to reservation UI.
  app/controllers/admin/reservations_controller.rb
  app/views/admin/reservations/_form.html.erb
  app/views/admin/reservations/_profile.html.erb
  test/factories/reservations.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

fix failing system test
  test/controllers/items_controller_test.rb
Due: standardrb

Put more reservation routes behind the group lending feature flag.
  config/routes.rb
Due: none

System test robustification
  test/system/admin/questions_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Add system test for account reservation creation.
  app/controllers/account/reservations_controller.rb
  test/system/account/reservations_test.rb
Due: standardrb

Tweak docker postgres config in dev for speed
  config/postgres.conf
  docker-compose.yml
Due: none

log additional information for search and view events (#1601)
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  test/controllers/items_controller_test.rb
Due: standardrb, erblint

Handle members with no associated user. (#1616)
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
Due: erblint

Manually fix Time-related standard-rails TODO entries
  .standard_todo.yml
  lib/tasks/production.rake
  test/lib/open_days_test.rb
  test/models/appointment_test.rb
  test/models/event_test.rb
  test/models/member_test.rb
  test/models/membership_test.rb
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/reports/monthly_activities_test.rb
  test/system/appointments_test.rb
  test/system/remove_holds_test.rb
Due: standardrb

Add links to the square dashboard to membership list.
  app/helpers/admin_helper.rb
  app/views/admin/members/memberships/index.html.erb
Due: standardrb, erblint

Allow the use of free ngrok accounts during local development.
  config/environments/development.rb
Due: standardrb

Move Square payment processing into a background job.
  .env
  .env.test
  app/controllers/renewal/confirmations_controller.rb
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/confirmations_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/jobs/square_payment_job.rb
  app/lib/square_checkout.rb
  app/views/renewal/confirmations/show.html.erb
  app/views/renewal/payments/wait.html.erb
  app/views/signup/confirmations/_instructions.html.erb
  app/views/signup/confirmations/show.html.erb
  app/views/signup/payments/wait.html.erb
  config/routes.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/controllers/square_controller_test.rb
  test/lib/square_checkout_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Use SQUARE_ENVIRONMENT env var to pick a square dashboard URL.
  app/helpers/admin_helper.rb
Due: standardrb

Refactor SquareCheckout into a module with multiple files.
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/lib/square_checkout.rb
  app/lib/square_checkout/client.rb
  app/lib/square_checkout/fetched_order.rb
  app/lib/square_checkout/square_error.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/lib/square_checkout/client_test.rb
  test/lib/square_checkout_test.rb
Due: standardrb

SquareCheckout is a module now.
  app/jobs/square_payment_job.rb
Due: standardrb

Handle already having created a membership for a user.
  app/jobs/square_payment_job.rb
  test/jobs/square_payment_job_test.rb
Due: standardrb
