Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Revert "Added a notification to the layout asking users to verify their email address"
  app/views/account/_email_verification_message.html.erb
  app/views/layouts/application.html.erb
  test/system/user_email_verification_test.rb
Due: standardrb, erblint

Prevent users with unconfirmed email addresses from signing in
  config/initializers/devise.rb
Due: standardrb

Revert "Remove the place hold button for unconfirmed users and prevent them from creating holds at the controller level"
  app/controllers/account/holds_controller.rb
  app/views/items/show.html.erb
  test/controllers/account/holds_controller_test.rb
  test/system/holds_test.rb
Due: standardrb, erblint

Adjust tests to handle confirmed/unconfirmed email address users
  test/factories/members.rb
  test/system/user_signup_test.rb
Due: standardrb

Allow users to update their unconfirmed email
  app/controllers/admin/members_controller.rb
  app/models/member.rb
  app/views/admin/members/_profile.html.erb
  test/controllers/admin/members_controller_test.rb
  test/models/member_test.rb
Due: standardrb, erblint

Update app/views/devise/sessions/new.html.erb
  app/views/devise/sessions/new.html.erb
Due: erblint

Put a link to resend confirmation instructions into the flash message
  app/helpers/admin_helper.rb
  config/locales/devise.en.yml
Due: standardrb

Removed the confirmation email callout
  app/views/devise/sessions/new.html.erb
Due: erblint

Tweak test copy
  test/system/user_signup_test.rb
Due: standardrb

Require email confirmation before "borrowing" items (#1626)
  app/assets/stylesheets/partials/_index.scss
  app/assets/stylesheets/partials/_users_confirmations_new.scss
  app/controllers/admin/members_controller.rb
  app/helpers/admin_helper.rb
  app/models/member.rb
  app/models/user.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/users/index.html.erb
  app/views/devise/confirmations/new.html.erb
  app/views/signup/confirmations/_instructions.html.erb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20240816214629_add_devise_confirmable_to_users.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/devdata.rake
  test/controllers/admin/members_controller_test.rb
  test/controllers/admin/users_controller_test.rb
  test/factories/members.rb
  test/factories/users.rb
  test/models/member_test.rb
  test/system/user_signup_test.rb
Due: standardrb, erblint

Added associations
  app/models/reservation.rb
  db/migrate/20240822201215_add_pickup_and_dropoff_events_to_reservations.rb
  db/schema.rb
  test/factories/reservations.rb
  test/models/reservation_test.rb
Due: standardrb

Ensure that pickups are before dropoffs
  app/models/reservation.rb
  test/models/reservation_test.rb
Due: standardrb

display pickup/dropoffs to admins in the reservation profile panel
  app/controllers/admin/reservations/base_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/views/admin/reservations/_profile.html.erb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Added the ability for admins to associate reservations with pickup and dropoff events
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  app/views/admin/reservations/_form.html.erb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Pull some logic from appointments helper into the reservations helper
  app/controllers/admin/reservations/base_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/helpers/reservations_helper.rb
  app/views/admin/reservations/_profile.html.erb
  test/helpers/reservations_helper_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Remove another reference to the appointments helper
  app/controllers/admin/reservations_controller.rb
  app/helpers/reservations_helper.rb
Due: standardrb

Ensure that pickup/dropoff events that have already passed remain in the dropdowns on the edit page
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  test/models/reservation_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb

change reservation submitted by from user to member
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  app/views/account/reservations/_form.html.erb
  db/migrate/20240823210841_change_reservation_submitted_by_from_user_to_member.rb
  db/schema.rb
  test/application_system_test_case.rb
  test/factories/reservations.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Revert "change reservation submitted by from user to member"
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  app/views/account/reservations/_form.html.erb
  db/migrate/20240823210841_change_reservation_submitted_by_from_user_to_member.rb
  db/schema.rb
  test/application_system_test_case.rb
  test/factories/reservations.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Added ability for members to select pickup/dropoff times on reservations
  app/controllers/account/reservations_controller.rb
  app/views/account/reservations/_form.html.erb
  test/system/account/reservations_test.rb
Due: standardrb, erblint

Display the pickup/dropoff times on the member reservation show page
  app/views/account/reservations/show.html.erb
  test/system/account/reservations_test.rb
Due: standardrb, erblint

Fix post rebase weirdness
  test/factories/reservations.rb
Due: standardrb

Use traits to keep the tests happy
  test/system/account/reservations_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Gracefully handle validation errors in the reservation status controller, ensure that the reservation manager is in sync with the reservation status
  app/controllers/account/reservations/submissions_controller.rb
  app/controllers/admin/reservations/statuses_controller.rb
  app/models/reservation.rb
Due: standardrb

Prevent updating playwright out of sync
  package.json
  yarn.lock
Due: none

Add pick-up and drop-off times to reservations for admins and members (#1652)
  app/controllers/account/reservations/submissions_controller.rb
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations/base_controller.rb
  app/controllers/admin/reservations/statuses_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/helpers/reservations_helper.rb
  app/models/reservation.rb
  app/views/account/reservations/_form.html.erb
  app/views/account/reservations/show.html.erb
  app/views/admin/reservations/_form.html.erb
  app/views/admin/reservations/_profile.html.erb
  db/migrate/20240822201215_add_pickup_and_dropoff_events_to_reservations.rb
  db/schema.rb
  test/factories/reservations.rb
  test/helpers/reservations_helper_test.rb
  test/models/reservation_test.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Set up a migration to have members belong to users instead of the other way around
  db/migrate/20240904212517_make_members_belong_to_user.rb
  db/schema.rb
Due: standardrb

Added factory/trait tests for user
  test/models/user_test.rb
Due: standardrb

Add factory/trait tests for members
  app/models/member.rb
  app/models/user.rb
  test/factories/members.rb
  test/factories/users.rb
  test/models/member_test.rb
Due: standardrb

Adjust factories to work with the model tests
  test/factories/appointments.rb
  test/factories/members.rb
  test/factories/users.rb
  test/models/member_test.rb
Due: standardrb

Adjust controller tests for new factories
  test/controllers/admin/members_controller_test.rb
  test/controllers/items_controller_test.rb
Due: standardrb

Adjust system tests for updated factories
  test/factories/memberships.rb
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/holds_test.rb
  test/system/admin/member_verification_test.rb
  test/system/admin/reports/members_with_overdue_items_test.rb
  test/system/member_checked_out_items_test.rb
Due: standardrb

remove super_admins from mailer recipients
  app/mailers/reservation_mailer.rb
Due: standardrb

Prevent flaky errors in bin/setup
  db/seeds.rb
  lib/tasks/devdata.rake
Due: standardrb

Put the item name ahead of the item number and make it a little bigger (only for members)
  app/assets/stylesheets/styles.scss
  app/views/items/index.html.erb
Due: erblint

Send reservation requested emails to all admin users (#1641)
  Gemfile.lock
  app/controllers/account/reservations/submissions_controller.rb
  app/mailers/reservation_mailer.rb
  app/views/reservation_mailer/review_requested.mjml
  app/views/reservation_mailer/review_requested.text.erb
  test/application_system_test_case.rb
  test/mailers/reservation_mailer_test.rb
  test/system/account/reservations_test.rb
Due: standardrb, erblint

Swap member and user relationship (#1663)
  app/models/member.rb
  app/models/user.rb
  db/migrate/20240904212517_make_members_belong_to_user.rb
  db/schema.rb
  db/seeds.rb
  lib/tasks/devdata.rake
  test/controllers/admin/members_controller_test.rb
  test/controllers/items_controller_test.rb
  test/factories/appointments.rb
  test/factories/members.rb
  test/factories/memberships.rb
  test/factories/users.rb
  test/models/member_test.rb
  test/models/user_test.rb
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/holds_test.rb
  test/system/admin/member_verification_test.rb
  test/system/admin/reports/members_with_overdue_items_test.rb
  test/system/member_checked_out_items_test.rb
Due: standardrb

WIP
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/styles.scss
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
Due: standardrb, erblint

A little transition to make the hovering/focusing feel a little nicer
  app/assets/stylesheets/header.scss
Due: none
