Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

Upgrade Rails to 8.1.3.1
  Gemfile.lock
Due: none

Upgrade Rails to 8.1.3.1 (#2216)
  Gemfile.lock
Due: none

Set Blazer's time zone to Central
  config/blazer.yml
Due: none

Link to Blazer from the admin nav
  app/views/layouts/admin.html.erb
Due: erblint, newlines

Remove the legacy admin appointments view
  .env
  .env.development
  .env.test
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/controllers/admin/appointment_completions_controller.rb
  app/controllers/admin/appointment_pulls_controller.rb
  app/controllers/admin/appointments_controller.rb
  app/lib/feature_flags.rb
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  app/views/admin/appointments/index.html.erb
  app/views/admin/appointments/index_orig.html.erb
  test/controllers/admin/appointment_completions_controller_test.rb
  test/system/admin/appointments_notifications_test.rb
  test/system/admin/appointments_test.rb
Due: standardrb, erblint, newlines

Refactor item status code and add to item search page
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/styles.scss
  app/controllers/admin/items/searches_controller.rb
  app/helpers/items_helper.rb
  app/models/concerns/item_borrow_statuses.rb
  app/models/concerns/item_statuses.rb
  app/models/item.rb
  app/views/account/for_later_list_items/index.html.erb
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/items/_items.html.erb
  app/views/admin/items/searches/show.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  test/controllers/admin/items/searches_controller_test.rb
  test/helpers/items_helper_test.rb
  test/models/item_borrow_status_test.rb
  test/system/admin/items/maintenence_tickets_test.rb
Due: standardrb, erblint, newlines

Add a Blazer link to the admin nav and set its time zone to Central (#2218)
  app/views/layouts/admin.html.erb
  config/blazer.yml
Due: erblint, newlines

Remove the legacy admin appointments view (#2207)
  .env
  .env.development
  .env.test
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/controllers/admin/appointment_completions_controller.rb
  app/controllers/admin/appointment_pulls_controller.rb
  app/controllers/admin/appointments_controller.rb
  app/lib/feature_flags.rb
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  app/views/admin/appointments/index.html.erb
  app/views/admin/appointments/index_orig.html.erb
  test/controllers/admin/appointment_completions_controller_test.rb
  test/system/admin/appointments_notifications_test.rb
  test/system/admin/appointments_test.rb
Due: standardrb, erblint, newlines

Fix edge cases around payment and membership handling
  app/controllers/admin/members/memberships_controller.rb
  app/forms/membership_form.rb
  app/models/membership.rb
  app/views/admin/members/_membership_status.html.erb
  app/views/admin/members/memberships/index.html.erb
  app/views/admin/members/memberships/new.html.erb
  config/routes.rb
  test/controllers/admin/memberships_controller_test.rb
  test/models/membership_test.rb
  test/system/admin/memberships_test.rb
Due: standardrb, erblint, newlines

Create pending membership during reneal process.
  app/controllers/renewal/payments_controller.rb
  app/models/membership.rb
  app/views/admin/members/memberships/index.html.erb
  test/controllers/renewal/payments_controller_test.rb
  test/models/membership_test.rb
  test/system/membership_renewal_test.rb
Due: standardrb, erblint, newlines

Also create a pending membership on initial signup
  app/controllers/signup/payments_controller.rb
  test/controllers/signup/payments_controller_test.rb
  test/system/user_signup_test.rb
Due: standardrb, newlines

Limit member holdings by borrow policy
  app/controllers/account/holds_controller.rb
  app/controllers/admin/borrow_policies_controller.rb
  app/models/borrow_policy.rb
  app/models/hold.rb
  app/nulls/null_borrow_policy.rb
  app/views/admin/borrow_policies/_form.html.erb
  app/views/admin/borrow_policies/show.html.erb
  db/migrate/20260813000000_add_maximum_items_per_member_to_borrow_policies.rb
  db/schema.rb
  test/controllers/account/holds_controller_test.rb
  test/controllers/admin/borrow_policies_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/factories/borrow_policies.rb
  test/models/borrow_policy_test.rb
  test/models/hold_test.rb
  test/nulls/null_borrow_policy_test.rb
Due: standardrb, erblint, newlines

Added days until due labels to item show and index pages
  app/assets/stylesheets/application_styles.scss
  app/helpers/items_helper.rb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  test/helpers/items_helper_test.rb
  test/system/item_due_date_test.rb
Due: standardrb, erblint, newlines

Add selector
  app/assets/stylesheets/admin.scss
Due: newlines

Limit C-tools per member across holds and loans (#2225)
  app/controllers/account/holds_controller.rb
  app/controllers/admin/borrow_policies_controller.rb
  app/models/borrow_policy.rb
  app/models/hold.rb
  app/nulls/null_borrow_policy.rb
  app/views/admin/borrow_policies/_form.html.erb
  app/views/admin/borrow_policies/show.html.erb
  db/migrate/20260813000000_add_maximum_items_per_member_to_borrow_policies.rb
  db/schema.rb
  test/controllers/account/holds_controller_test.rb
  test/controllers/admin/borrow_policies_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/factories/borrow_policies.rb
  test/models/borrow_policy_test.rb
  test/models/hold_test.rb
  test/nulls/null_borrow_policy_test.rb
Due: standardrb, erblint, newlines

Added days until due labels to item show and index pages (#2226)
  app/assets/stylesheets/application_styles.scss
  app/helpers/items_helper.rb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  test/helpers/items_helper_test.rb
  test/system/item_due_date_test.rb
Due: standardrb, erblint, newlines

Fix timezone-dependent appointment notification tests
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, newlines

Fix timezone-dependent appointment notification tests (#2227)
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, newlines

Refactor item status code and add to item search page (#2220)
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/styles.scss
  app/controllers/admin/items/searches_controller.rb
  app/helpers/items_helper.rb
  app/models/concerns/item_borrow_statuses.rb
  app/models/concerns/item_statuses.rb
  app/models/item.rb
  app/views/account/for_later_list_items/index.html.erb
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/items/_items.html.erb
  app/views/admin/items/searches/show.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  test/controllers/admin/items/searches_controller_test.rb
  test/helpers/items_helper_test.rb
  test/models/item_borrow_status_test.rb
  test/system/admin/items/maintenence_tickets_test.rb
Due: standardrb, erblint, newlines

Update GitHub Actions to Node 24 runtimes
  .github/workflows/ci.yml
Due: none

Handle members with active memberships
  app/models/membership.rb
  test/models/membership_test.rb
Due: standardrb, newlines

Don't show a borrow status for items in maintenance
  app/helpers/items_helper.rb
  app/models/concerns/item_statuses.rb
  test/helpers/items_helper_test.rb
Due: standardrb, newlines

Update GitHub Actions to Node 24 runtimes (#2229)
  .github/workflows/ci.yml
Due: none

Don't show a borrow status for items in maintenance (#2231)
  app/helpers/items_helper.rb
  app/models/concerns/item_statuses.rb
  test/helpers/items_helper_test.rb
Due: standardrb, newlines

Remove extra-space class on menu item
  app/views/layouts/_header.html.erb
Due: erblint, newlines

header.scss remove "extra-space"
  app/assets/stylesheets/header.scss
Due: newlines

Remove extra-space class on menu item (#2235)
  app/assets/stylesheets/header.scss
  app/views/layouts/_header.html.erb
Due: erblint, newlines

Remove the FEATURE_MAINTENANCE_WORKFLOW flag
  .env
  .env.development
  .env.test
  app/views/admin/items/_profile.html.erb
  config/routes.rb
Due: erblint, newlines

Remove the FEATURE_MAINTENANCE_WORKFLOW flag (#2236)
  .env
  .env.development
  .env.test
  app/views/admin/items/_profile.html.erb
  config/routes.rb
Due: erblint, newlines

Make the membership form buttons clearer
  app/views/admin/members/memberships/new.html.erb
  db/seeds.rb
  test/system/admin/member_verification_test.rb
  test/system/admin/memberships_test.rb
Due: standardrb, erblint, newlines

Memberships should just last a year.
  app/models/membership.rb
  test/models/membership_test.rb
Due: standardrb, newlines

PR feedback
  app/views/account/_membership_renewal_message.html.erb
  app/views/account/members/show.html.erb
  test/system/membership_renewal_test.rb
Due: standardrb, erblint, newlines

Raise an error to prevent inaccurate payments being recorded (should never happen).
  app/models/membership.rb
  test/models/membership_test.rb
Due: standardrb, newlines

Embed the policy orientation deck in the rules step
  .env
  app/assets/stylesheets/application_styles.scss
  app/helpers/application_helper.rb
  app/views/renewal/documents/rules.html.erb
  app/views/shared/_policy_rules.html.erb
  app/views/signup/documents/rules.html.erb
  test/controllers/renewal/documents_controller_test.rb
  test/controllers/signup/documents_controller_test.rb
Due: standardrb, erblint, newlines

Add a short policy quiz after the presentation
  app/assets/stylesheets/application_styles.scss
  app/controllers/admin/quiz_questions_controller.rb
  app/controllers/concerns/policy_quiz_step.rb
  app/controllers/concerns/quiz_flow.rb
  app/controllers/renewal/base_controller.rb
  app/controllers/renewal/quizzes_controller.rb
  app/controllers/signup/base_controller.rb
  app/controllers/signup/quizzes_controller.rb
  app/lib/spectre_form_builder.rb
  app/models/quiz_choice.rb
  app/models/quiz_question.rb
  app/views/admin/quiz_questions/_form.html.erb
  app/views/admin/quiz_questions/edit.html.erb
  app/views/admin/quiz_questions/index.html.erb
  app/views/admin/quiz_questions/new.html.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/steps.html.erb
  app/views/renewal/documents/rules.html.erb
  app/views/renewal/quizzes/question.html.erb
  app/views/shared/_quiz_question.html.erb
  app/views/signup/documents/rules.html.erb
  app/views/signup/quizzes/question.html.erb
  config/routes.rb
  db/migrate/20260915225856_create_quiz_questions.rb
  db/schema.rb
  lib/tasks/devdata.rake
  test/controllers/admin/quiz_questions_controller_test.rb
  test/controllers/signup/quizzes_controller_test.rb
  test/factories/quiz_questions.rb
  test/models/quiz_question_test.rb
  yarn.lock
Due: standardrb, erblint, newlines

Let admins manage orientation settings in circulate
  .env
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/styles.scss
  app/controllers/admin/orientations_controller.rb
  app/controllers/admin/quiz_questions_controller.rb
  app/controllers/concerns/policy_quiz_step.rb
  app/helpers/application_helper.rb
  app/models/library.rb
  app/views/admin/orientations/show.html.erb
  app/views/admin/quiz_questions/_form.html.erb
  app/views/admin/quiz_questions/edit.html.erb
  app/views/admin/quiz_questions/index.html.erb
  app/views/admin/quiz_questions/new.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  db/migrate/20260915231809_add_policy_deck_url_to_libraries.rb
  db/migrate/20260915232728_add_orientation_enabled_to_libraries.rb
  db/schema.rb
  test/controllers/admin/orientations_controller_test.rb
  test/controllers/admin/quiz_questions_controller_test.rb
  test/controllers/renewal/documents_controller_test.rb
  test/controllers/signup/documents_controller_test.rb
  test/controllers/signup/quizzes_controller_test.rb
Due: standardrb, erblint, newlines

Let admins preview the orientation before switching it on
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/styles.scss
  app/controllers/admin/orientations_controller.rb
  app/controllers/concerns/policy_quiz_step.rb
  app/views/admin/orientations/show.html.erb
  app/views/layouts/steps.html.erb
  app/views/shared/_orientation_preview_banner.html.erb
  config/routes.rb
  test/controllers/admin/orientations_controller_test.rb
Due: standardrb, erblint, newlines

Add a short policy quiz after the presentation
  app/assets/stylesheets/application_styles.scss
  app/controllers/admin/quiz_questions_controller.rb
  app/controllers/concerns/policy_quiz_step.rb
  app/controllers/concerns/quiz_flow.rb
  app/controllers/renewal/base_controller.rb
  app/controllers/renewal/quizzes_controller.rb
  app/controllers/signup/base_controller.rb
  app/controllers/signup/quizzes_controller.rb
  app/lib/spectre_form_builder.rb
  app/models/quiz_choice.rb
  app/models/quiz_question.rb
  app/views/admin/quiz_questions/_form.html.erb
  app/views/admin/quiz_questions/edit.html.erb
  app/views/admin/quiz_questions/index.html.erb
  app/views/admin/quiz_questions/new.html.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/steps.html.erb
  app/views/renewal/documents/rules.html.erb
  app/views/renewal/quizzes/question.html.erb
  app/views/shared/_quiz_question.html.erb
  app/views/signup/documents/rules.html.erb
  app/views/signup/quizzes/question.html.erb
  config/routes.rb
  db/migrate/20260915225856_create_quiz_questions.rb
  db/schema.rb
  lib/tasks/devdata.rake
  test/controllers/admin/quiz_questions_controller_test.rb
  test/controllers/signup/quizzes_controller_test.rb
  test/factories/quiz_questions.rb
  test/models/quiz_question_test.rb
Due: standardrb, erblint, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
