Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

WIP: system tests for payment methods, non-nullable colums
  app/controllers/account/payment_methods_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/payment_methods/index.html.erb
  db/migrate/20260213221407_add_stripe_customer_id_to_users_and_create_custom_payment_methods.rb
  db/schema.rb
  test/factories/payment_methods.rb
  test/lib/stripe_checkout_test.rb
  test/models/payment_method_test.rb
  test/system/account/payment_methods_test.rb
  test/test_helper.rb
Due: standardrb, erblint, newlines

Rebase adjustments
  db/migrate/20260411221407_add_stripe_customer_id_to_users_and_create_custom_payment_methods.rb
  db/schema.rb
Due: standardrb, newlines

Fix up flaky test
  test/lib/stripe_checkout_test.rb
Due: standardrb, newlines

Added tests around creating a payment method
  app/controllers/account/payment_methods_controller.rb
  app/controllers/stripe_controller.rb
  app/javascript/controllers/stripe_controller.js
  test/system/account/payment_methods_test.rb
Due: standardrb, newlines

Added payment methods link to the navigation
  .env
  app/views/layouts/_header.html.erb
Due: erblint, newlines

Add a few classes to the index for style
  app/assets/stylesheets/account.scss
  app/views/account/payment_methods/index.html.erb
Due: erblint, newlines

Add a confirmation message when deleting a payment method
  app/views/account/payment_methods/index.html.erb
  test/system/account/payment_methods_test.rb
Due: standardrb, erblint, newlines

Removed stripe webhook route
  config/routes.rb
Due: newlines

Update nix flake inputs
  flake.lock
Due: none

Add camping gear reservation dashboard (#2122)
  app/controllers/admin/reports/myturn_reservations_controller.rb
  app/lib/myturn.rb
  app/views/admin/reports/myturn_reservations/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, erblint, newlines

Fix flaky test in CI by using ENV vars instead of stub
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, newlines

Re-authenticate on 403 in addition to 401 and redirects
  app/lib/myturn.rb
Due: standardrb, newlines

Add camping gear reservation dashboard (#2144)
  app/controllers/admin/reports/myturn_reservations_controller.rb
  app/lib/myturn.rb
  app/views/admin/reports/myturn_reservations/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  flake.lock
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, erblint, newlines

Auto-refresh camping gear dashboard every 5 minutes (#2149)
  app/views/admin/reports/myturn_reservations/index.html.erb
Due: erblint, newlines

Add payment methods via Stripe (#2011)
  .env
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/account.scss
  app/controllers/account/payment_methods_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/stripe_controller.js
  app/lib/feature_flags.rb
  app/lib/stripe_checkout.rb
  app/models/payment_method.rb
  app/models/user.rb
  app/views/account/payment_methods/index.html.erb
  app/views/account/payment_methods/new.html.erb
  app/views/layouts/_header.html.erb
  config/environments/development.rb
  config/initializers/stripe.rb
  config/routes.rb
  db/migrate/20260411221407_add_stripe_customer_id_to_users_and_create_custom_payment_methods.rb
  db/schema.rb
  test/factories/payment_methods.rb
  test/lib/stripe_checkout_test.rb
  test/models/payment_method_test.rb
  test/system/account/payment_methods_test.rb
  test/test_helper.rb
  test/vcr_cassettes/create_intent.yml
  test/vcr_cassettes/create_intent_failure.yml
  test/vcr_cassettes/create_stripe_customer.yml
  test/vcr_cassettes/delete_stripe_payment_method.yml
  test/vcr_cassettes/delete_stripe_payment_method_failure.yml
  test/vcr_cassettes/list_stripe_payment_methods.yml
  test/vcr_cassettes/list_stripe_payment_methods_failure.yml
Due: standardrb, erblint, newlines

Auto-refresh camping gear dashboard every 5 minutes (#2150)
  app/views/admin/reports/myturn_reservations/index.html.erb
Due: erblint, newlines

Move camping gear dashboard to top-level nav and clean up URL (#2151)
  app/controllers/admin/camping_gear_controller.rb
  app/controllers/admin/reports/myturn_reservations_controller.rb
  app/views/admin/camping_gear/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/camping_gear_controller_test.rb
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, erblint, newlines

Move camping gear dashboard to top-level nav and clean up URL (#2152)
  app/controllers/admin/camping_gear_controller.rb
  app/controllers/admin/reports/myturn_reservations_controller.rb
  app/views/admin/camping_gear/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/camping_gear_controller_test.rb
  test/controllers/admin/reports/myturn_reservations_controller_test.rb
Due: standardrb, erblint, newlines

Group Camping Gear under Appointments dropdown in admin nav (#2151)
  app/views/layouts/admin.html.erb
Due: erblint, newlines

Group Camping Gear under Appointments dropdown (#2153)
  app/views/layouts/admin.html.erb
Due: erblint, newlines

Convert no-holds items to 1-day holds
  app/models/item.rb
  db/migrate/20260424150504_convert_no_holds_items_to_one_day_holds.rb
  db/schema.rb
  test/models/item_test.rb
Due: standardrb, newlines

Convert no-holds items to 1-day holds (#2159)
  app/models/item.rb
  db/migrate/20260424150504_convert_no_holds_items_to_one_day_holds.rb
  db/schema.rb
  test/models/item_test.rb
Due: standardrb, newlines

Move dev defaults out of .env to stop them leaking to production
  .env
  .env.development
  .env.test
Due: none

Add SQUARE_ENVIRONMENT to .env.test
  .env.test
Due: none

Add rake task to import item locations from CSV
  lib/tasks/import.rake
Due: none

Skip CSRF on login and signup creates
  app/controllers/signup/members_controller.rb
  app/controllers/users/sessions_controller.rb
Due: standardrb, newlines

Update links to camping site
  .env
  app/helpers/application_helper.rb
  app/views/layouts/_header.html.erb
  app/views/signup/home/index.html.erb
Due: standardrb, erblint, newlines

Retarget CSRF rescue test at Users::ConfirmationsController
  test/controllers/application_controller_test.rb
Due: standardrb, newlines

Move dev defaults out of .env to stop them leaking to production (#2169)
  .env
  .env.development
  .env.test
Due: none

Add rake task to import item locations from CSV (#2170)
  lib/tasks/import.rake
Due: none

Stop chasing CSRF noise on Devise login and signup (#2171)
  app/controllers/signup/members_controller.rb
  app/controllers/users/sessions_controller.rb
  test/controllers/application_controller_test.rb
Due: standardrb, newlines

Update links to camping site (#2172)
  .env
  app/helpers/application_helper.rb
  app/views/layouts/_header.html.erb
  app/views/signup/home/index.html.erb
Due: standardrb, erblint, newlines

Update remove from save for later list text
  app/views/account/for_later_list_items/index.html.erb
  app/views/items/_for_later_list_item_show.html.erb
  app/views/items/_for_later_list_items_index.html.erb
  test/controllers/account/for_later_list_items_controller_test.rb
  test/system/account/for_later_list_items_test.rb
Due: standardrb, erblint, newlines

Add bookmark icon to the item show page
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/for_later_list.scss
  app/views/items/_for_later_list_item_show.html.erb
  app/views/shared/icons/_bookmark.html.erb
Due: erblint, newlines

Switch to bookmark icon on the items index page; style tweaks for the saved for later list page
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/for_later_list.scss
  app/views/account/for_later_list_items/index.html.erb
  app/views/items/_for_later_list_item_show.html.erb
  app/views/items/_for_later_list_items_index.html.erb
  test/system/account/for_later_list_items_test.rb
Due: standardrb, erblint, newlines

Fix NoMethodError and param dropping on items index filter chain
  app/controllers/items_controller.rb
  test/controllers/items_controller_test.rb
Due: standardrb, newlines

Reuse stale approval rows on re-request
  app/controllers/account/borrow_policy_approvals_controller.rb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
Due: standardrb, newlines

Tweak visually hidden text to match the button titles
  app/views/items/_for_later_list_item_show.html.erb
  app/views/items/_for_later_list_items_index.html.erb
Due: erblint, newlines

Require confirmation before removing an item for the for later list
  app/views/account/for_later_list_items/index.html.erb
  test/system/account/for_later_list_items_test.rb
Due: standardrb, erblint, newlines

Sign out orphan Users hitting the account guard
  app/controllers/account/base_controller.rb
  test/controllers/account/home_controller_test.rb
Due: standardrb, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
