Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Remove UserMailer#reset_password_instructions override and references to @subject
  app/mailers/user_mailer.rb
Due: standardrb

Create Notifications whenever Devise sends an email (#1543)
  app/mailers/user_mailer.rb
  test/mailers/user_mailer_test.rb
Due: standardrb

Upgrade to Ruby 3.1.6
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  flake.lock
Due: none

bundle exec standardrb --parallel --fix
  app/lib/spectre_form_builder.rb
Due: standardrb

Upgrade to Ruby 3.1.6 (#1529)
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
  flake.lock
Due: none

Extend signup timeout to 2 hours from 15 minutes
  app/controllers/signup/base_controller.rb
  app/controllers/signup/members_controller.rb
  test/controllers/signup/members_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
Due: standardrb

Remove one day gap when renewing a membership
  app/models/membership.rb
  test/models/membership_test.rb
Due: standardrb

Extend signup timeout to 2 hours from 30 minutes (#1557)
  app/controllers/signup/base_controller.rb
  app/controllers/signup/members_controller.rb
  test/controllers/signup/members_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
Due: standardrb

bundle remove sucker_punch
  Gemfile
  Gemfile.lock
Due: none

bin/rails db:migrate
  db/schema.rb
Due: none

bin/rails g good_job:install
  db/migrate/20240617233510_create_good_jobs.rb
Due: standardrb

Change ActiveJob to good_job with minimal config
  Procfile
  config/application.rb
  config/initializers/good_job.rb
Due: standardrb

Mount good_job dashboard for admins
  config/routes.rb
Due: none

bundle add good_job
  Gemfile
  Gemfile.lock
Due: none

Remove stray SuckerPunch reference
  app/jobs/neon_member_job.rb
Due: standardrb

devdata: Move image generation out of with_tenant
  lib/tasks/devdata.rake
Due: none

Switch to ActiveJob's perform_later
  app/models/member.rb
  test/models/member_test.rb
Due: standardrb

Explicilt configure a default that is important
  config/initializers/acts_as_tenant.rb
Due: standardrb

run-scripts was still running on postgres 11 lol
  .github/workflows/ci.yml
Due: none

Switch to GoodJob for background work (#1553)
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
  Procfile
  app/jobs/neon_member_job.rb
  app/models/member.rb
  config/application.rb
  config/initializers/acts_as_tenant.rb
  config/initializers/good_job.rb
  config/routes.rb
  db/migrate/20240617233510_create_good_jobs.rb
  db/schema.rb
  lib/tasks/devdata.rake
  test/models/member_test.rb
Due: standardrb

bundle add blazer
  Gemfile
  Gemfile.lock
Due: none

bin/rails generate blazer:install
  config/blazer.yml
  db/migrate/20240625154800_install_blazer.rb
Due: standardrb

mount blazer dashboard
  config/routes.rb
Due: none

Block all bots in robots.txt
  public/robots.txt
Due: none

Block all bots in robots.txt (#1570)
  public/robots.txt
Due: none

Install Blazer for custom analytics dashboards (#1567)
  Gemfile
  Gemfile.lock
  config/blazer.yml
  config/routes.rb
  db/migrate/20240625154800_install_blazer.rb
  db/schema.rb
Due: standardrb

Scope org unique indexes to library
  db/migrate/20240618185145_create_organizations.rb
Due: standardrb

bin/rails generate model Organization name:text:uniq website:text:uniq library:references
  app/models/organization.rb
  db/migrate/20240618185145_create_organizations.rb
  test/factories/organizations.rb
  test/models/organization_test.rb
Due: standardrb

bin/rails g model OrganizationMember full_name:text organization:references user:references
  app/models/organization_member.rb
  db/migrate/20240618185755_create_organization_members.rb
  test/factories/organization_members.rb
  test/models/organization_member_test.rb
Due: standardrb

Fixup tests
  test/controllers/admin/organizations_controller_test.rb
  test/factories/organizations.rb
  test/system/organizations_test.rb
Due: standardrb

bin/rails g scaffold_controller Admin/Organization name:string --model-name="Organization" --skip-jbuilder --skip-helper
  app/controllers/admin/organizations_controller.rb
  app/views/admin/organizations/_form.html.erb
  app/views/admin/organizations/_organization.html.erb
  app/views/admin/organizations/edit.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/new.html.erb
  app/views/admin/organizations/show.html.erb
  config/routes.rb
  test/controllers/admin/organizations_controller_test.rb
  test/system/organizations_test.rb
Due: standardrb, erblint

Massage scaffolding into circulate standards
  app/controllers/admin/organizations_controller.rb
  app/models/organization.rb
  app/views/admin/organizations/_form.html.erb
  app/views/admin/organizations/_organization.html.erb
  app/views/admin/organizations/edit.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/new.html.erb
  app/views/admin/organizations/show.html.erb
  app/views/layouts/admin.html.erb
Due: standardrb, erblint

Add website field to org scaffolding
  app/controllers/admin/organizations_controller.rb
  app/views/admin/organizations/_form.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/show.html.erb
Due: standardrb, erblint

Group Lending: Add Organizations w/ Admin Scaffolding (#1560)
  app/controllers/admin/organizations_controller.rb
  app/models/organization.rb
  app/models/organization_member.rb
  app/views/admin/organizations/_form.html.erb
  app/views/admin/organizations/edit.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/new.html.erb
  app/views/admin/organizations/show.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  db/migrate/20240618185145_create_organizations.rb
  db/migrate/20240618185755_create_organization_members.rb
  db/schema.rb
  test/controllers/admin/organizations_controller_test.rb
  test/factories/organization_members.rb
  test/factories/organizations.rb
  test/models/organization_member_test.rb
  test/models/organization_test.rb
Due: standardrb, erblint

Added reservation validation attributes to libraries and the ability to add/update them
  app/controllers/super_admin/libraries_controller.rb
  app/models/library.rb
  app/views/super_admin/libraries/_form.html.erb
  app/views/super_admin/libraries/edit.html.erb
  app/views/super_admin/libraries/index.html.erb
  app/views/super_admin/libraries/new.html.erb
  app/views/super_admin/libraries/show.html.erb
  db/migrate/20240613170003_add_reservation_validations_to_libraries.rb
  db/schema.rb
  test/factories/libraries.rb
  test/models/library_test.rb
  test/system/super_admin/libraries_test.rb
Due: standardrb, erblint

WIP: added reservation policies and took a first pass at a validator object
  app/lib/reservation_date_validator.rb
  app/models/item_pool.rb
  app/models/library.rb
  app/models/reservation.rb
  app/models/reservation_policy.rb
  db/migrate/20240621143644_create_reservation_policies.rb
  db/schema.rb
  test/factories/reservation_policies.rb
  test/lib/reservation_date_validator_test.rb
  test/models/reservation_policy_test.rb
  test/models/reservation_test.rb
Due: standardrb

Undo some unnecessary changes
  app/controllers/super_admin/libraries_controller.rb
Due: standardrb
