Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

Fix up broken tests
  app/controllers/account/wish_list_items_controller.rb
  app/controllers/items_controller.rb
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/show.html.erb
Due: standardrb, erblint, newlines

Added some basic styles
  app/assets/stylesheets/application_styles.scss
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/_wish_list_items_index.html.erb
  app/views/items/index.html.erb
  app/views/layouts/_header.html.erb
Due: erblint, newlines

styles for the wish listed items list
  app/controllers/account/wish_list_items_controller.rb
  app/views/account/wish_list_items/index.html.erb
Due: standardrb, erblint, newlines

Adjust query
  app/controllers/items_controller.rb
Due: standardrb, newlines

Hide buttons for users that are not signed in
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

Push wishlist features behind feature flag
  app/lib/feature_flags.rb
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/_wish_list_items_index.html.erb
  app/views/layouts/_header.html.erb
  test/controllers/account/wish_list_items_controller_test.rb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

Rename buttons to "for later"
  app/views/account/wish_list_items/index.html.erb
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/_wish_list_items_index.html.erb
  app/views/layouts/_header.html.erb
  test/controllers/account/wish_list_items_controller_test.rb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

Allow setting retired_reason when creating a Ticket or TicketUpdate.
  app/controllers/admin/items/tickets/ticket_updates_controller.rb
  app/controllers/admin/items/tickets_controller.rb
  app/forms/ticket_update_form.rb
  app/views/admin/items/tickets/_form.html.erb
  app/views/admin/items/tickets/ticket_updates/new.html.erb
  test/controllers/admin/items/ticket_updates_controller_test.rb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb, erblint, newlines

Fix Nix gem install path
  flake.lock
  flake.nix
Due: none

Add system tests to cover maintenance tickets
  app/controllers/admin/items/tickets_controller.rb
  app/models/concerns/item_statuses.rb
  app/views/admin/items/tickets/_ticket_audit.html.erb
  app/views/admin/items/tickets/show.html.erb
  test/system/admin/items/maintenence_tickets_test.rb
Due: standardrb, erblint, newlines

Fix Nix gem install path (#2033)
  flake.lock
  flake.nix
Due: none

Replace datalist with server-backed autocomplete on checkout page
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/spectre-css/_panels.scss
  app/controllers/admin/appointments_controller.rb
  app/controllers/admin/ui_controller.rb
  app/views/admin/appointments/_checkouts.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

Set retired_reason when creating Tickets or TicketUpdates (#2030)
  app/controllers/admin/items/tickets/ticket_updates_controller.rb
  app/controllers/admin/items/tickets_controller.rb
  app/forms/ticket_update_form.rb
  app/models/concerns/item_statuses.rb
  app/views/admin/items/tickets/_form.html.erb
  app/views/admin/items/tickets/_ticket_audit.html.erb
  app/views/admin/items/tickets/show.html.erb
  app/views/admin/items/tickets/ticket_updates/new.html.erb
  test/controllers/admin/items/ticket_updates_controller_test.rb
  test/controllers/admin/items/tickets_controller_test.rb
  test/system/admin/items/maintenence_tickets_test.rb
Due: standardrb, erblint, newlines

Replace datalist with server-backed autocomplete for checkout (#2034)
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/spectre-css/_panels.scss
  app/controllers/admin/appointments_controller.rb
  app/controllers/admin/ui_controller.rb
  app/views/admin/appointments/_checkouts.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

Remove Contact Us link from navigation
  app/views/layouts/_header.html.erb
Due: erblint, newlines

Update wish list path to be for later path
  config/routes.rb
Due: newlines

renamed wish list to for later
  app/assets/stylesheets/application_styles.scss
  app/controllers/account/for_later_list_items_controller.rb
  app/controllers/account/wish_list_items_controller.rb
  app/controllers/items_controller.rb
  app/lib/feature_flags.rb
  app/models/for_later_list_item.rb
  app/models/item.rb
  app/models/member.rb
  app/views/account/for_later_list_items/index.html.erb
  app/views/items/_for_later_list_item_show.html.erb
  app/views/items/_for_later_list_items_index.html.erb
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/_wish_list_items_index.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  app/views/layouts/_header.html.erb
  config/routes.rb
  db/migrate/20251011200137_create_for_later_list_items.rb
  db/schema.rb
  test/controllers/account/for_later_list_items_controller_test.rb
  test/controllers/account/wish_list_items_controller_test.rb
  test/factories/for_later_list_items.rb
  test/models/for_later_list_item_test.rb
  test/models/wish_list_item_test.rb
  test/system/account/for_later_list_items_test.rb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

correct feature flag variable
  app/lib/feature_flags.rb
Due: standardrb, newlines

Remove Contact Us link from navigation (#2036)
  app/views/layouts/_header.html.erb
Due: erblint, newlines

Adds for later list items for members (#2020)
  app/assets/stylesheets/application_styles.scss
  app/controllers/account/for_later_list_items_controller.rb
  app/controllers/items_controller.rb
  app/lib/feature_flags.rb
  app/models/for_later_list_item.rb
  app/models/item.rb
  app/models/member.rb
  app/views/account/for_later_list_items/index.html.erb
  app/views/items/_for_later_list_item_show.html.erb
  app/views/items/_for_later_list_items_index.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  app/views/layouts/_header.html.erb
  config/routes.rb
  db/migrate/20251011200137_create_for_later_list_items.rb
  db/schema.rb
  test/controllers/account/for_later_list_items_controller_test.rb
  test/factories/for_later_list_items.rb
  test/models/for_later_list_item_test.rb
  test/system/account/for_later_list_items_test.rb
Due: standardrb, erblint, newlines

Skip "pulled items" step for dropoff-only appointments
  app/models/appointment.rb
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  test/models/appointment_test.rb
Due: standardrb, erblint, newlines

Replace organization signup links. Fixes #2043.
  app/controllers/signup/home_controller.rb
  app/views/layouts/_header.html.erb
  app/views/signup/home/index.html.erb
Due: standardrb, erblint, newlines

Skip "pulled items" step for dropoff-only appointments (#2042)
  app/models/appointment.rb
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  test/models/appointment_test.rb
Due: standardrb, erblint, newlines

Replace organization signup links. Fixes #2043. (#2045)
  app/controllers/signup/home_controller.rb
  app/views/layouts/_header.html.erb
  app/views/signup/home/index.html.erb
Due: standardrb, erblint, newlines

Reservations belong to members
  .standard.yml
  app/models/reservation.rb
  db/migrate/20251119144938_associate_reservations_to_members.rb
  db/schema.rb
Due: standardrb, newlines

Fix tests and update UIs to handle reservations belonging to members.
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/controllers/admin/ui_controller.rb
  app/views/admin/reservations/_form.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/index.html.erb
  config/routes.rb
  test/factories/reservations.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations/questions_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint, newlines

Drop submitted_by column from reservations
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/mailers/reservation_mailer.rb
  app/models/reservation.rb
  db/migrate/20251210030102_remove_submitted_by_from_reservations.rb
  db/schema.rb
  test/factories/reservations.rb
  test/mailers/reservation_mailer_test.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, newlines

Fix setup script
  lib/tasks/devdata.rake
Due: none

Reservations belong to members now (#2052)
  .standard.yml
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/controllers/admin/ui_controller.rb
  app/mailers/reservation_mailer.rb
  app/models/reservation.rb
  app/views/admin/reservations/_form.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/index.html.erb
  config/routes.rb
  db/migrate/20251119144938_associate_reservations_to_members.rb
  db/migrate/20251210030102_remove_submitted_by_from_reservations.rb
  db/schema.rb
  lib/tasks/devdata.rake
  test/factories/reservations.rb
  test/mailers/reservation_mailer_test.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations/questions_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint, newlines

Run standard --fix
  app/controllers/application_controller.rb
  app/models/answer.rb
Due: standardrb, newlines

Update feature flag name
  .env
  app/lib/feature_flags.rb
Due: standardrb, newlines

Update devdata to reflect camping use case.
  db/devdata/categories.yml
  db/devdata/item_pools.yml
  db/devdata/reservable_items.yml
Due: none

Sketch out first part of new reservation UI for members.
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/reservations.scss
  app/controllers/account/current_reservations_controller.rb
  app/controllers/account/item_pools_controller.rb
  app/controllers/account/reservation_holds_controller.rb
  app/controllers/account/reservations/item_pool_searches_controller.rb
  app/controllers/application_controller.rb
  app/controllers/item_pools_controller.rb
  app/helpers/reservations_helper.rb
  app/models/member.rb
  app/views/account/item_pools/index.html.erb
  app/views/account/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/account/reservations/show.html.erb
  app/views/item_pools/_item_pool.html.erb
  app/views/item_pools/availabilities/show.html.erb
  app/views/item_pools/index.html.erb
  app/views/item_pools/reservable_items/_reservable_item.html.erb
  app/views/item_pools/reservable_items/index.html.erb
  app/views/item_pools/reservable_items/show.html.erb
  app/views/item_pools/show.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/admin.html.erb
  app/views/shared/_current_reservation_header.html.erb
  config/initializers/custom_time_formats.rb
  config/routes.rb
  test/controllers/signup/home_controller_test.rb
Due: standardrb, erblint, newlines

Remove organization tables
  db/migrate/20251218181628_cleanup_organizations.rb
  db/schema.rb
Due: standardrb, newlines

Add values argument so migration is reversible
  db/migrate/20251218181628_cleanup_organizations.rb
Due: standardrb, newlines

use blend of tsearch and trigram
  app/models/item.rb
Due: standardrb, newlines

set sort_only=False for trigram
  app/models/item.rb
Due: standardrb, newlines

Enforce User-Member relationship by auto-creating Users when admin creates Members
  app/controllers/admin/members_controller.rb
  app/controllers/admin/users_controller.rb
  app/views/admin/users/index.html.erb
  app/views/admin/users/new.html.erb
  test/controllers/admin/members_controller_test.rb
  test/controllers/admin/users_controller_test.rb
Due: standardrb, erblint, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
