Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://evilmartians.github.io/lefthook/intro.html
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    prettier:
      run: yarn run lint:fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md
    newlines:
      tags: lint
      glob: "*.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}"
      run: bin/add_newlines {staged_files} && git add {staged_files}

Reuse stale approval rows on re-request (#2178)
  app/controllers/account/borrow_policy_approvals_controller.rb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
Due: standardrb, newlines

Fix NoMethodError and param dropping on items index when category lookup fails (#2176)
  app/controllers/items_controller.rb
  test/controllers/items_controller_test.rb
Due: standardrb, newlines

Sign out orphan Users hitting the account guard (#2179)
  app/controllers/account/base_controller.rb
  test/controllers/account/home_controller_test.rb
Due: standardrb, newlines

wip
  Gemfile.lock
  app/assets/stylesheets/reports.scss
  app/controllers/admin/items/searches_controller.rb
  app/models/item.rb
  app/views/admin/items/searches/show.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/items/searches_controller_test.rb
Due: standardrb, erblint, newlines

Added flash messages for saving an item for later and removing it across all pages
  app/controllers/account/for_later_list_items_controller.rb
  app/helpers/admin_helper.rb
  app/views/layouts/application.html.erb
  test/controllers/account/for_later_list_items_controller_test.rb
  test/helpers/admin_helper_test.rb
Due: standardrb, erblint, newlines

Render flash messages outside of a turbo streams context
  app/controllers/account/for_later_list_items_controller.rb
Due: standardrb, newlines

Remove unnecessary setup block
  test/helpers/admin_helper_test.rb
Due: standardrb, newlines

Try using a unified search box
  app/controllers/admin/items/searches_controller.rb
  app/models/item_search_query.rb
  app/views/admin/items/searches/show.html.erb
  test/controllers/admin/items/searches_controller_test.rb
  test/models/item_search_query_test.rb
Due: standardrb, erblint, newlines

fix
  app/views/admin/items/searches/show.html.erb
Due: erblint, newlines

Refactor
  app/controllers/admin/items/searches_controller.rb
  app/models/item_search_query.rb
  test/controllers/admin/items/searches_controller_test.rb
  test/models/item_search_query_test.rb
Due: standardrb, newlines

Handle specific item matches more gracefully
  app/controllers/admin/items/searches_controller.rb
  app/views/admin/items/searches/show.html.erb
  test/controllers/admin/items/searches_controller_test.rb
Due: standardrb, erblint, newlines

Distinguish expired holds from real checkouts on the appointment page
  app/views/admin/appointments/_checkouts.html.erb
  test/controllers/admin/appointments_controller_test.rb
Due: standardrb, erblint, newlines

Keep pulled appointments' holds from expiring mid-window
  app/models/appointment.rb
  test/models/appointment_test.rb
Due: standardrb, newlines

Surface pulled-but-never-completed appointments to staff
  app/controllers/admin/appointments_controller.rb
  app/controllers/admin/reports/unfinished_appointments_controller.rb
  app/models/appointment.rb
  app/views/admin/appointments/_unfinished_banner.html.erb
  app/views/admin/appointments/index.html.erb
  app/views/admin/appointments/index_orig.html.erb
  app/views/admin/reports/unfinished_appointments/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/appointments_controller_test.rb
  test/controllers/admin/reports/unfinished_appointments_controller_test.rb
  test/models/appointment_test.rb
Due: standardrb, erblint, newlines

Clean up and improve UI.
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/reports.scss
  app/views/admin/items/searches/show.html.erb
Due: erblint, newlines

Move button up slightly
  app/assets/stylesheets/admin.scss
Due: newlines

Adjust column ordering
  app/assets/stylesheets/admin.scss
  app/views/admin/items/searches/show.html.erb
Due: erblint, newlines

Use bookmark icons for the save for later functionality (#2173)
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/for_later_list.scss
  app/controllers/account/for_later_list_items_controller.rb
  app/helpers/admin_helper.rb
  app/views/account/for_later_list_items/index.html.erb
  app/views/items/_for_later_list_item_show.html.erb
  app/views/items/_for_later_list_items_index.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/icons/_bookmark.html.erb
  test/controllers/account/for_later_list_items_controller_test.rb
  test/helpers/admin_helper_test.rb
  test/system/account/for_later_list_items_test.rb
Due: standardrb, erblint, newlines

Stop expired holds from masquerading as checkouts on appointments (#2185)
  app/models/appointment.rb
  app/views/admin/appointments/_checkouts.html.erb
  test/controllers/admin/appointments_controller_test.rb
  test/models/appointment_test.rb
Due: standardrb, erblint, newlines

Add an oldest item column to overdue items report
  Gemfile.lock
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint, newlines

Surface unfinished appointments so dropped items get caught (#2186)
  app/controllers/admin/appointments_controller.rb
  app/controllers/admin/reports/unfinished_appointments_controller.rb
  app/models/appointment.rb
  app/views/admin/appointments/_unfinished_banner.html.erb
  app/views/admin/appointments/index.html.erb
  app/views/admin/appointments/index_orig.html.erb
  app/views/admin/reports/unfinished_appointments/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/appointments_controller_test.rb
  test/controllers/admin/reports/unfinished_appointments_controller_test.rb
  test/models/appointment_test.rb
Due: standardrb, erblint, newlines

Add an oldest item column to overdue items report (#2190)
  Gemfile.lock
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint, newlines

Don't emit logs while running tests
  config/initializers/stripe.rb
Due: standardrb, newlines

Basic password visibility for the sign in page
  app/javascript/controllers/index.js
  app/javascript/controllers/password_visibility_controller.js
  app/views/devise/sessions/new.html.erb
Due: erblint, newlines

Made password visibility toggleable when going through the sign up flow
  app/views/signup/members/new.html.erb
Due: erblint, newlines

Added password toggleability to password edit
  app/views/account/passwords/edit.html.erb
Due: erblint, newlines

Refactored password visibility into a helper
  app/helpers/password_visibility_helper.rb
  app/views/account/passwords/edit.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/signup/members/new.html.erb
Due: standardrb, erblint, newlines

Remove unused devise views
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
Due: erblint, newlines

Added password toggle to reset password flow
  app/views/devise/passwords/edit.html.erb
Due: erblint, newlines

Added a system test around the password visibility
  test/system/user_sign_in_test.rb
Due: standardrb, newlines

Style the visibility toggle
  app/assets/stylesheets/partials/_index.scss
  app/assets/stylesheets/partials/_password_visibility.scss
  app/helpers/password_visibility_helper.rb
  app/javascript/controllers/password_visibility_controller.js
Due: standardrb, newlines

Don't emit logs while running tests (#2197)
  config/initializers/stripe.rb
Due: standardrb, newlines

Match multi-letter prefixes
  app/controllers/admin/items/searches_controller.rb
Due: standardrb, newlines

revert Gemfile.lock changes
  Gemfile.lock
Due: none

Ability to toggle the visibility of password inputs (#2198)
  app/assets/stylesheets/partials/_index.scss
  app/assets/stylesheets/partials/_password_visibility.scss
  app/helpers/password_visibility_helper.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/password_visibility_controller.js
  app/views/account/passwords/edit.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/signup/members/new.html.erb
  test/system/user_sign_in_test.rb
Due: standardrb, erblint, newlines

Add a new item search page (#2189)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/items/searches_controller.rb
  app/models/item.rb
  app/models/item_search_query.rb
  app/views/admin/items/searches/show.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/items/searches_controller_test.rb
  test/models/item_search_query_test.rb
Due: standardrb, erblint, newlines

Highlight appointments with items added after pulling
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/controllers/admin/appointments_controller.rb
  app/models/appointment.rb
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  test/models/appointment_test.rb
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, erblint, newlines

Don't 500 when the item is already off the appointment
  app/controllers/admin/appointment_holds_controller.rb
  test/controllers/admin/appointment_holds_controller_test.rb
Due: standardrb, newlines

Highlight items added after appointments are pulled (#2205)
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/controllers/admin/appointments_controller.rb
  app/models/appointment.rb
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  test/models/appointment_test.rb
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, erblint, newlines

Don't 500 when the item is already off the appointment (#2213)
  app/controllers/admin/appointment_holds_controller.rb
  test/controllers/admin/appointment_holds_controller_test.rb
Due: standardrb, newlines
