Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Fixed typo
  app/controllers/admin/reports/monthly_activities_controller.rb
Due: standardrb

Added a column for renewals count to the activity report (#1809)
  app/controllers/admin/reports/monthly_activities_controller.rb
  app/models/monthly_appointment.rb
  app/models/monthly_loan.rb
  app/models/monthly_member.rb
  app/models/monthly_renewal.rb
  app/views/admin/reports/monthly_activities/index.html.erb
  db/migrate/20250105181935_create_monthly_renewals.rb
  db/migrate/20250122225005_update_monthly_loans_to_version_2.rb
  db/schema.rb
  db/views/monthly_loans_v02.sql
  db/views/monthly_renewals_v01.sql
  test/system/admin/reports/monthly_activities_test.rb
Due: standardrb, erblint

Move fields from ItemPool to ReservableItem
  app/controllers/admin/item_pools/reservable_items_controller.rb
  app/controllers/admin/item_pools_controller.rb
  app/models/concerns/item_categorization.rb
  app/models/concerns/item_numbering.rb
  app/models/item.rb
  app/models/item_pool.rb
  app/models/reservable_item.rb
  app/views/account/item_pools/_items_index.html.erb
  app/views/admin/item_pools/_form.html.erb
  app/views/admin/item_pools/_item_pool_panel.html.erb
  app/views/admin/item_pools/_items_index.html.erb
  app/views/admin/item_pools/_profile.html.erb
  app/views/admin/item_pools/reservable_items/_form.html.erb
  app/views/admin/item_pools/reservable_items/_reservable_item.html.erb
  app/views/admin/item_pools/reservable_items/index.html.erb
  app/views/admin/item_pools/show.html.erb
  app/views/admin/reservations/_pending_reservation_items.html.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  db/devdata/reservable_items.yml
  db/migrate/20250115022003_adjust_item_pool_fields.rb
  db/schema.rb
  test/factories/reservable_items.rb
  test/system/admin/item_pools_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

Add initial import script
  lib/tasks/myturn_import.rake
Due: none

break ties with item status
  app/controllers/items_controller.rb
Due: standardrb

rename table alias to avoid breaking `filter_by_available`
  app/controllers/items_controller.rb
Due: standardrb

Improve error handling in import script.
  lib/tasks/myturn_import.rake
Due: none

Initial MyTurn import and field rearrangement (#1822)
  app/controllers/admin/item_pools/reservable_items_controller.rb
  app/controllers/admin/item_pools_controller.rb
  app/models/concerns/item_categorization.rb
  app/models/concerns/item_numbering.rb
  app/models/item.rb
  app/models/item_pool.rb
  app/models/reservable_item.rb
  app/views/account/item_pools/_items_index.html.erb
  app/views/admin/item_pools/_form.html.erb
  app/views/admin/item_pools/_item_pool_panel.html.erb
  app/views/admin/item_pools/_items_index.html.erb
  app/views/admin/item_pools/_profile.html.erb
  app/views/admin/item_pools/reservable_items/_form.html.erb
  app/views/admin/item_pools/reservable_items/_reservable_item.html.erb
  app/views/admin/item_pools/reservable_items/index.html.erb
  app/views/admin/item_pools/show.html.erb
  app/views/admin/reservations/_pending_reservation_items.html.erb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  config/routes.rb
  db/devdata/reservable_items.yml
  db/migrate/20250115022003_adjust_item_pool_fields.rb
  db/schema.rb
  lib/tasks/myturn_import.rake
  test/factories/reservable_items.rb
  test/system/admin/item_pools_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint

Capture misc metadata in a column
  app/models/reservable_item.rb
  db/migrate/20250202194446_add_myturn_meta_to_reservable_items.rb
  db/schema.rb
  lib/tasks/myturn_import.rake
Due: standardrb

Validate that reservation changes will cover existing loans.
  app/models/reservation_hold.rb
  app/models/reservation_loan.rb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  db/migrate/20250205054754_modify_reservation_loans_quantity.rb
  db/schema.rb
  test/factories/item_pools.rb
  test/factories/reservation_loans.rb
  test/models/reservation_hold_test.rb
Due: standardrb, erblint

Minor refactoring
  app/models/reservation_hold.rb
  app/models/reservation_loan.rb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
Due: standardrb, erblint

Use a Hash as the default value.
  db/migrate/20250202194446_add_myturn_meta_to_reservable_items.rb
  db/schema.rb
Due: standardrb

Capture misc metadata from imported items in a column (#1829)
  app/models/reservable_item.rb
  db/migrate/20250202194446_add_myturn_meta_to_reservable_items.rb
  db/schema.rb
  lib/tasks/myturn_import.rake
Due: standardrb

Remove leakage from other branch
  db/schema.rb
Due: none

Validate that reservation changes will cover existing loans. (#1831)
  app/models/reservation_hold.rb
  app/models/reservation_loan.rb
  app/views/admin/reservations/reservation_loans/_reservation_hold.html.erb
  db/migrate/20250205054754_modify_reservation_loans_quantity.rb
  db/schema.rb
  test/factories/item_pools.rb
  test/factories/reservation_loans.rb
  test/models/reservation_hold_test.rb
Due: standardrb, erblint

WIP
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/reservation_pickup_sounds_controller.js
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
Due: standardjs, standardrb, erblint

WIP
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/reservation_pickup_sounds_controller.js
  app/lib/sounds.rb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
  public/sounds/failure.wav
  public/sounds/neutral.wav
  public/sounds/removed.wav
  public/sounds/success.wav
Due: standardjs, standardrb, erblint

Remove autoplaying audio tag
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
Due: standardrb, erblint

Added custom turbo stream action to play sounds when building a reservation
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/javascript/application.js
  app/views/admin/reservations/check_ins/create.turbo_stream.erb
  app/views/admin/reservations/pending_reservation_items/destroy.turbo_stream.erb
  app/views/admin/reservations/pending_reservation_items/update.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/create_error.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
Due: standardjs, standardrb, erblint

Added call to fastSeek if it is implemented in the browser
  app/javascript/application.js
Due: standardjs

Admins hear success/error sounds when adding items to a pickup for a reservation (#1827)
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/javascript/application.js
  app/lib/sounds.rb
  app/views/admin/reservations/check_ins/create.turbo_stream.erb
  app/views/admin/reservations/pending_reservation_items/destroy.turbo_stream.erb
  app/views/admin/reservations/pending_reservation_items/update.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/create_error.turbo_stream.erb
  app/views/admin/reservations/reservation_loans/index.html.erb
  public/sounds/failure.wav
  public/sounds/neutral.wav
  public/sounds/removed.wav
  public/sounds/success.wav
Due: standardjs, standardrb, erblint

test "ending a specific hold on an item"
  test/system/admin/holds_test.rb
Due: standardrb

improve test description and add an assertion that ended_at gets set
  test/system/admin/holds_test.rb
Due: standardrb

move logic into a scope in the Item model
  app/controllers/items_controller.rb
  app/models/item.rb
Due: standardrb

lint
  app/models/item.rb
Due: standardrb

fixes #1839
  app/assets/stylesheets/styles.scss
Due: none

fixes #1839 - Categories table is broken/missing styles (#1843)
  app/assets/stylesheets/styles.scss
Due: none

gem lock PLATFORM addition for my old ass x86 darwin19
  Gemfile.lock
Due: none

remove original controller test that i started with but abandoned for the better system test
  test/controllers/admin/items/holds/holds_controller_test.rb
Due: standardrb

basic tag filter form features
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/models/ticket.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: standardrb, erblint

fix disappearing params issue
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: erblint

Change link_to to button_to on exports page.
  app/views/admin/settings/exports/index.html.erb
Due: erblint

Change link_to to button_to on exports page. (#1855)
  app/views/admin/settings/exports/index.html.erb
Due: erblint

Adjust fields in item and member exporters.
  app/lib/item_exporter.rb
  app/lib/member_exporter.rb
Due: standardrb

Use explicit column name for markdown.
  app/lib/item_exporter.rb
Due: standardrb

Adjust fields in item and member exporters. (#1858)
  app/lib/item_exporter.rb
  app/lib/member_exporter.rb
Due: standardrb

run linter, re-add closing div
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/models/ticket.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: standardrb, erblint

Added ability for admin users to reset members' passwords
  app/controllers/admin/members/passwords_controller.rb
  app/mailers/member_mailer.rb
  app/models/user.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/passwords/edit.html.erb
  app/views/member_mailer/admin_reset_password.mjml
  app/views/member_mailer/admin_reset_password.text.erb
  config/routes.rb
  test/application_system_test_case.rb
  test/mailers/member_mailer_test.rb
  test/models/user_test.rb
  test/system/admin/members/member_password_reset_test.rb
Due: standardrb, erblint

singularize "password" in routes
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/passwords/edit.html.erb
  config/routes.rb
  test/system/admin/members/member_password_reset_test.rb
Due: standardrb, erblint

Added a pulled_at to appointments
  app/controllers/admin/appointment_pulls_controller.rb
  app/controllers/admin/appointments_controller.rb
  app/javascript/lib/appointments.js
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  app/views/admin/appointments/index.html.erb
  app/views/admin/appointments/index_orig.html.erb
  config/routes.rb
  db/migrate/20250223214915_add_pulled_at_to_appointments.rb
  db/schema.rb
  test/system/admin/appointments_test.rb
Due: standardjs, standardrb, erblint
