Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

acts_as_tenant handles the library for us.
  app/controllers/square_controller.rb
Due: standardrb

Port old controller test to a job test.
  app/jobs/square_payment_job.rb
  app/lib/square_checkout/client.rb
  test/jobs/square_payment_job_test.rb
Due: standardrb

Remove unnecessary use of SquareCheckout::Client.
  app/controllers/square_controller.rb
Due: standardrb

Fix test
  test/lib/square_checkout/client_test.rb
Due: standardrb

Wrap membership creation and order completion in a transaction.
  app/jobs/square_payment_job.rb
Due: standardrb

Remove library_id from expected job arguments.
  test/controllers/square_controller_test.rb
Due: standardrb

Pin standard-rails to main to cut down TODO
  .standard_todo.yml
  Gemfile
  Gemfile.lock
Due: none

Pin standard-rails to main to cut down TODO (#1624)
  .standard_todo.yml
  Gemfile
  Gemfile.lock
Due: none

WIP
  app/models/hold.rb
  app/models/item.rb
  test/factories/holds.rb
  test/factories/items.rb
  test/factories/loans.rb
  test/models/hold_test.rb
Due: standardrb

Add holds_available to members mailer
  app/mailers/member_mailer.rb
  app/views/member_mailer/holds_available.mjml
  app/views/member_mailer/holds_available.text.erb
  test/factories/holds.rb
  test/mailers/member_mailer_test.rb
  test/mailers/previews/member_mailer_preview.rb
Due: standardrb, erblint

Added holds_available to member texter, lint fixes
  app/texters/member_texter.rb
  test/mailers/member_mailer_test.rb
  test/texters/member_texter_test.rb
Due: standardrb

renamed test covering all start_waiting_holds cases
  test/models/hold_test.rb
Due: standardrb

first pass at sending hold available emails and texts in batches
  lib/tasks/holds.rake
Due: none

Remove references to previous hold_available methods
  app/mailers/member_mailer.rb
  app/texters/member_texter.rb
  app/views/member_mailer/hold_available.mjml
  app/views/member_mailer/hold_available.text.erb
  test/tasks/holds_test.rb
  test/texters/member_texter_test.rb
Due: standardrb, erblint

Added member to includes
  app/models/hold.rb
Due: standardrb

Added confirmable and reconfirmable columns and config for devise
  app/models/user.rb
  db/migrate/20240806214629_add_devise_confirmable_to_users.rb
  db/schema.rb
  test/controllers/admin/users_controller_test.rb
  test/factories/users.rb
Due: standardrb

Got bin/setup working with the confirmable changes to users
  db/seeds.rb
  lib/tasks/devdata.rake
Due: standardrb

Added information about confirming your email address to the confirmation page
  app/views/signup/confirmations/_instructions.html.erb
  config/initializers/devise.rb
Due: standardrb, erblint

Styled the new confirmation page to match the login and other devise pages
  app/assets/stylesheets/partials/_index.scss
  app/assets/stylesheets/partials/_users_confirmations_new.scss
  app/views/devise/confirmations/new.html.erb
  app/views/devise/sessions/new.html.erb
  db/seeds.rb
Due: standardrb, erblint

prevent the unconfirmed member from having any holds
  lib/tasks/devdata.rake
Due: none

Remove the place hold button for unconfirmed users and prevent them from creating holds at the controller level
  app/controllers/account/holds_controller.rb
  app/views/items/show.html.erb
  test/controllers/account/holds_controller_test.rb
  test/system/holds_test.rb
Due: standardrb, erblint

Added a notification to the layout asking users to verify their email address
  app/views/account/_email_verification_message.html.erb
  app/views/layouts/application.html.erb
  test/system/user_email_verification_test.rb
Due: standardrb, erblint

Show unconfirmed email address in the admin interface when applicable
  app/views/admin/users/index.html.erb
Due: erblint

we now send a welcome email and a confirm your email email
  test/system/user_signup_test.rb
Due: standardrb

Added a renew all button for loans
  app/controllers/account/loans_controller.rb
  app/views/account/loans/index.html.erb
  config/routes.rb
  test/system/account/loans_test.rb
Due: standardrb, erblint

erb lint cleanup
  app/views/account/loans/index.html.erb
Due: erblint

Fixes for tests
  .standard_todo.yml
  test/lib/version_consistency_test.rb
  test/minitest/tags_plugin.rb
  test/models/item_test.rb
  test/system/admin/holds_test.rb
Due: standardrb

Prefer find_each to each in tasks
  .standard_todo.yml
  lib/tasks/email.rake
  lib/tasks/holds.rake
  lib/tasks/members.rake
Due: none

fix up devdata.rake
  .standard_todo.yml
  lib/tasks/devdata.rake
Due: none

Explicitly define the show action
  .standard_todo.yml
  app/controllers/admin/settings/library_updates_controller.rb
Due: standardrb

Hid instance variables behind accessor methods
  .standard_todo.yml
  app/helpers/items_helper.rb
Due: standardrb

Prefer find_each over each in the activity notifier
  .standard_todo.yml
  app/lib/activity_notifier.rb
Due: standardrb

Add uniqueness constraints for standard rb
  .standard_todo.yml
  app/models/reservation_policy.rb
  db/migrate/20240808214836_add_uniqueness_contraints_for_standard_rb.rb
  db/schema.rb
Due: standardrb

last of the non migration standard rb changes
  .standard_todo.yml
  app/models/hold.rb
  app/models/item.rb
  app/models/item_pool.rb
  app/models/reservation_policy.rb
Due: standardrb

Consolidate hold available notifications (#1617)
  app/mailers/member_mailer.rb
  app/models/hold.rb
  app/models/item.rb
  app/texters/member_texter.rb
  app/views/member_mailer/hold_available.mjml
  app/views/member_mailer/hold_available.text.erb
  app/views/member_mailer/holds_available.mjml
  app/views/member_mailer/holds_available.text.erb
  lib/tasks/holds.rake
  test/factories/holds.rb
  test/factories/items.rb
  test/factories/loans.rb
  test/mailers/member_mailer_test.rb
  test/mailers/previews/member_mailer_preview.rb
  test/models/hold_test.rb
  test/tasks/holds_test.rb
  test/texters/member_texter_test.rb
Due: standardrb, erblint

Added a renew all button for loans (#1627)
  app/controllers/account/loans_controller.rb
  app/views/account/loans/index.html.erb
  config/routes.rb
  test/system/account/loans_test.rb
Due: standardrb, erblint

Add some utilities for pulling repo data
  repo_analysis/.gitignore
  repo_analysis/Gemfile
  repo_analysis/Gemfile.lock
  repo_analysis/README.md
  repo_analysis/Rakefile
  repo_analysis/requirements.in
  repo_analysis/sync.sh
Due: none

Standard rb fixes (#1628)
  .standard_todo.yml
  app/controllers/admin/settings/library_updates_controller.rb
  app/helpers/items_helper.rb
  app/lib/activity_notifier.rb
  app/models/hold.rb
  app/models/item.rb
  app/models/item_pool.rb
  app/models/reservation_policy.rb
  db/migrate/20240808214836_add_uniqueness_contraints_for_standard_rb.rb
  db/schema.rb
  lib/tasks/devdata.rake
  lib/tasks/email.rake
  lib/tasks/holds.rake
  lib/tasks/members.rake
  test/lib/version_consistency_test.rb
  test/minitest/tags_plugin.rb
  test/models/item_test.rb
  test/system/admin/holds_test.rb
Due: standardrb

Update Rails gem to 7.2.0
  Gemfile
  Gemfile.lock
Due: none
