Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Capitalize the sort options
  app/views/items/index.html.erb
Due: erblint

Force the sort order to apply when searching
  app/controllers/items_controller.rb
Due: standardrb

Added tests around sorting and a relevancy sort button
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  test/system/items_sorting_test.rb
Due: standardrb, erblint

Lint clean up
  app/controllers/items_controller.rb
Due: standardrb

rename sort from relevancy to relevance
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  test/system/items_sorting_test.rb
Due: standardrb, erblint

Added some tests
  test/system/admin/searches_test.rb
Due: standardrb

Keep things positive
  app/views/admin/searches/show.html.erb
Due: erblint

Added ability to filter search page by available items
  app/controllers/admin/searches_controller.rb
  app/views/admin/searches/show.html.erb
  test/factories/items.rb
  test/system/admin/searches_test.rb
Due: standardrb, erblint

removed unnecessary SearchesController#create
  app/controllers/admin/searches_controller.rb
  app/views/layouts/admin.html.erb
  config/routes.rb
Due: standardrb, erblint

GoodJob 4.0 migrations
  db/migrate/20240720134319_create_good_job_settings.rb
  db/migrate/20240720134320_create_index_good_jobs_jobs_on_priority_created_at_when_unfinished.rb
  db/migrate/20240720134321_create_good_job_batches.rb
  db/migrate/20240720134322_create_good_job_executions.rb
  db/migrate/20240720134323_create_good_jobs_error_event.rb
  db/migrate/20240720134324_recreate_good_job_cron_indexes_with_conditional.rb
  db/migrate/20240720134325_create_good_job_labels.rb
  db/migrate/20240720134326_create_good_job_labels_index.rb
  db/migrate/20240720134327_remove_good_job_active_id_index.rb
  db/migrate/20240720134328_create_index_good_job_jobs_for_candidate_lookup.rb
  db/migrate/20240720134329_create_good_job_execution_error_backtrace.rb
  db/migrate/20240720134330_create_good_job_process_lock_ids.rb
  db/migrate/20240720134331_create_good_job_process_lock_indexes.rb
  db/migrate/20240720134332_create_good_job_execution_duration.rb
  db/schema.rb
Due: standardrb

GoodJob 4.0 migrations (#1596)
  db/migrate/20240720134319_create_good_job_settings.rb
  db/migrate/20240720134320_create_index_good_jobs_jobs_on_priority_created_at_when_unfinished.rb
  db/migrate/20240720134321_create_good_job_batches.rb
  db/migrate/20240720134322_create_good_job_executions.rb
  db/migrate/20240720134323_create_good_jobs_error_event.rb
  db/migrate/20240720134324_recreate_good_job_cron_indexes_with_conditional.rb
  db/migrate/20240720134325_create_good_job_labels.rb
  db/migrate/20240720134326_create_good_job_labels_index.rb
  db/migrate/20240720134327_remove_good_job_active_id_index.rb
  db/migrate/20240720134328_create_index_good_job_jobs_for_candidate_lookup.rb
  db/migrate/20240720134329_create_good_job_execution_error_backtrace.rb
  db/migrate/20240720134330_create_good_job_process_lock_ids.rb
  db/migrate/20240720134331_create_good_job_process_lock_indexes.rb
  db/migrate/20240720134332_create_good_job_execution_duration.rb
  db/schema.rb
Due: standardrb

Try out playwright to run system tests.
  Gemfile
  Gemfile.lock
  bin/setup
  package.json
  test/application_system_test_case.rb
  yarn.lock
Due: standardrb

CI: Fix bin/setup script
  .github/workflows/ci.yml
Due: none

Fix bin/setup in Nix env
  bin/setup
  flake.nix
Due: none

Update nix dev environment for playwright
  flake.nix
  test/application_system_test_case.rb
Due: standardrb

Fix failing tests under Playwright
  test/system/admin/holds_test.rb
  test/system/appointments_test.rb
  test/system/user_signup_test.rb
Due: standardrb

Fix remaining failures coming from rebase
  test/system/admin/reservations_test.rb
Due: standardrb

Fix stray newline in playwright version string
  bin/setup
  package.json
  yarn.lock
Due: none

Better comment over warning suppression
  test/system/membership_renewal_test.rb
Due: standardrb

CI: Have playwright install Chromium
  .github/workflows/ci.yml
Due: none

Cleaning up system test helper
  DOCKER.md
  test/application_system_test_case.rb
  test/system/admin/notes_test.rb
  test/system/membership_renewal_test.rb
  test/system/user_signup_test.rb
Due: standardrb

nix: chromedriver unnecessary now
  flake.nix
Due: none

Suppress playwright warnings using blog post helper
  test/application_system_test_case.rb
  test/system/admin/reservations_test.rb
  test/system/membership_renewal_test.rb
  test/test_helpers/stdout_helpers.rb
Due: standardrb

Switch system tests to use playwright (#1591)
  .github/workflows/ci.yml
  DOCKER.md
  Gemfile
  Gemfile.lock
  bin/setup
  flake.nix
  package.json
  test/application_system_test_case.rb
  test/system/admin/holds_test.rb
  test/system/admin/notes_test.rb
  test/system/admin/reservations_test.rb
  test/system/appointments_test.rb
  test/system/membership_renewal_test.rb
  test/system/user_signup_test.rb
  test/test_helpers/stdout_helpers.rb
  yarn.lock
Due: standardrb

Fixes the sort buttons on the items index page when there's a search query (#1589)
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  test/system/items_sorting_test.rb
Due: standardrb, erblint

Added toggle to limit admin search results to available items only (#1592)
  app/controllers/admin/searches_controller.rb
  app/views/admin/searches/show.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/factories/items.rb
  test/system/admin/searches_test.rb
Due: standardrb, erblint

log additional information for search and view events
  app/controllers/items_controller.rb
Due: standardrb

handle edge case where filter_params doesn't exist; remove unnecessary condition
  app/controllers/items_controller.rb
Due: standardrb

run
  app/controllers/items_controller.rb
Due: standardrb

Bump turbo-rails gem to match js update
  Gemfile.lock
Due: none

Handle belongs_to validations in ValidationInspector.
  app/lib/validation_inspector.rb
  test/lib/validation_inspector_test.rb
Due: standardrb

Reorder sass rules to prevent warnings
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/assets/stylesheets/public.scss
  app/assets/stylesheets/styles.scss
Due: none

Added a report for members with overdue loans
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/models/loan.rb
  app/models/member.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/models/loan_test.rb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint

Added the time ago in words to the overdue tools cell
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint

Prevent test conflicts when running all of the reports' tests
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb

This is not valid code.
  app/controllers/application_controller.rb
Due: standardrb

Add a test that runs the custom csrf handler.
  test/controllers/application_controller_test.rb
Due: standardrb

Fix undefined method error in CSRF handler (#1606)
  app/controllers/application_controller.rb
  test/controllers/application_controller_test.rb
Due: standardrb

Added a members with overdue loans report (#1605)
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/models/loan.rb
  app/models/member.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/models/loan_test.rb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint

Added a review notes tab to the reservation show page (#1588)
  app/assets/stylesheets/admin.scss
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/reviews/show.html.erb
  config/routes.rb
  test/factories/reservations.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint
