Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

Simplify tests now that a missing event does not explode
  app/models/event.rb
  test/controllers/account/renewals_controller_test.rb
  test/controllers/admin/bulk_renewals_controller_test.rb
  test/controllers/admin/hold_loans_controller_test.rb
  test/controllers/admin/loans_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/controllers/admin/renewal_requests_controller_test.rb
  test/controllers/admin/renewals_controller_test.rb
  test/controllers/concerns/lending_test.rb
  test/factories/events.rb
  test/mailers/member_mailer_test.rb
  test/models/event_test.rb
  test/models/item_test.rb
  test/models/loan_summary_test.rb
  test/models/member_test.rb
  test/system/account/loans_test.rb
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/consumables_test.rb
  test/system/admin/holds_test.rb
  test/system/admin/renewal_requests_test.rb
  test/test_helper.rb
  test/test_helpers/open_days_helper.rb
Due: standardrb, newlines

Use Google Calendar events to determine loan due dates (#1905)
  app/controllers/concerns/lending.rb
  app/models/event.rb
  app/models/loan.rb
  test/controllers/concerns/lending_test.rb
  test/models/event_test.rb
  test/models/loan_test.rb
Due: standardrb, newlines

Added accessories column to items, added ability to edit the field
  app/controllers/admin/items_controller.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  db/migrate/20250410163403_add_accessories_to_items.rb
  db/schema.rb
  test/factories/items.rb
  test/models/item_test.rb
  test/system/admin/items_test.rb
Due: standardrb, erblint, newlines

WIP
  app/views/admin/appointments/_checkouts.html.erb
  test/system/admin/appointments/details_test.rb
Due: standardrb, erblint, newlines

remove puts
  test/system/admin/items_test.rb
Due: standardrb, newlines

Added accessories to the admin items details panel and added them to the check in/out flow
  app/assets/stylesheets/admin.scss
  app/javascript/controllers/confirm_item_accessories_controller.js
  app/javascript/controllers/index.js
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  app/views/admin/items/_item_panel.html.erb
  test/system/admin/appointments/details_test.rb
  test/system/admin/items_test.rb
Due: standardrb, erblint, newlines

Added item accessories confirmation checkboxes when returning an item on the member show page
  app/views/admin/members/show.html.erb
  test/system/admin/members_test.rb
Due: standardrb, erblint, newlines

Added item accessories confirmation checkboxes when lending an item on the member show page
  app/views/admin/loans/_form.html.erb
  test/system/admin/members_test.rb
Due: standardrb, erblint, newlines

Help prevent test flakiness
  test/system/admin/members_test.rb
Due: standardrb, newlines

Track item accessories (#1895)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/items_controller.rb
  app/javascript/controllers/confirm_item_accessories_controller.js
  app/javascript/controllers/index.js
  app/models/item.rb
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  app/views/admin/items/_form.html.erb
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/loans/_form.html.erb
  app/views/admin/members/show.html.erb
  db/migrate/20250410163403_add_accessories_to_items.rb
  db/schema.rb
  test/factories/items.rb
  test/models/item_test.rb
  test/system/admin/appointments/details_test.rb
  test/system/admin/items_test.rb
  test/system/admin/members_test.rb
Due: standardrb, erblint, newlines

WIP: Add pinned notes
  app/controllers/admin/members/base_controller.rb
  app/controllers/admin/members/notes_controller.rb
  app/models/note.rb
  app/views/admin/members/notes/_form.html.erb
  app/views/admin/members/notes/_list.html.erb
  db/migrate/20250423201733_add_pinned_to_notes.rb
  db/schema.rb
Due: standardrb, erblint, newlines

Add new 'flagged' field to schema in migrations
  db/migrate/20250416073437_add_flag_fields_to_members.rb
  db/migrate/20250423064114_add_flag_fields_to_items.rb
Due: standardrb, newlines

1737: Allow multiple pinned notes and align Notes tab layout
  app/controllers/admin/members/notes_controller.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/notes/_list.html.erb
  app/views/admin/members/notes/index.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

Update pinned notes UI
  app/views/admin/members/notes/_list.html.erb
  app/views/admin/members/notes/index.html.erb
Due: erblint, newlines

Link to borrow policy approvals on the member show page
  app/views/admin/members/_member_details.html.erb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Update items and members controllers to add flagging
  app/controllers/admin/items_controller.rb
  app/controllers/admin/members_controller.rb
Due: standardrb, newlines

Add flagged items controller
  app/controllers/admin/flagged_items_controller.rb
Due: standardrb, newlines

Add flagging module
  app/controllers/concerns/flagging.rb
Due: standardrb, newlines

Update toolbar to add "Flagged" section
  app/views/layouts/admin.html.erb
Due: erblint, newlines

Update existing pages to add buttons to flag and unflag
  app/views/admin/items/_items.html.erb
  app/views/admin/members/_members.html.erb
Due: erblint, newlines

Add flagged page
  app/views/admin/flagged_items/index.html.erb
Due: erblint, newlines

Update routes to support flagging and seeing flagged objects
  config/routes.rb
Due: newlines

Work in progress: pinned notes feature
  app/controllers/admin/members/notes_controller.rb
  app/views/admin/members/notes/_list.html.erb
  app/views/admin/members/notes/create.turbo_stream.erb
  app/views/admin/members/notes/destroy.turbo_stream.erb
  app/views/admin/members/notes/index.html.erb
Due: standardrb, erblint, newlines

Link to borrow policy approvals on the member show page (#1916)
  app/views/admin/members/_member_details.html.erb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

1737: Implement pinned notes feature
  app/controllers/admin/members/notes_controller.rb
Due: standardrb, newlines

Drop the description column from the items table
  db/migrate/20250430195751_drop_item_description.rb
  db/schema.rb
Due: standardrb, newlines

envrc: Fixup deprecated watch_file, remove self-install
  .envrc
Due: none

Fixup Nix setup for Darwin
  bin/setup
  flake.nix
Due: none

Darwin: eager load vips to work around warnings
  Gemfile
Due: none

CI: Add libvips to setup script test
  .github/workflows/ci.yml
Due: none

Dust off the Nix development setup on mac (#1923)
  .envrc
  .github/workflows/ci.yml
  Gemfile
  bin/setup
  flake.nix
Due: none

Drop the description column from the items table (#1922)
  db/migrate/20250430195751_drop_item_description.rb
  db/schema.rb
Due: standardrb, newlines

Handle Pagy underflow errors
  app/controllers/application_controller.rb
  test/controllers/application_controller_test.rb
Due: standardrb, newlines

Handle Pagy underflow errors (#1924)
  app/controllers/application_controller.rb
  test/controllers/application_controller_test.rb
Due: standardrb, newlines

Address reviewer feedback: flash notice, route cleanup, linter fixes, and test update
  app/controllers/admin/members/notes_controller.rb
  app/models/note.rb
  app/views/admin/members/notes/index.html.erb
  config/routes.rb
  test/controllers/admin/notes_controller_test.rb
Due: standardrb, erblint, newlines

Clean up
  app/controllers/admin/members/notes_controller.rb
  config/routes.rb
Due: standardrb, newlines

Lint fix
  app/lib/spectre_form_builder.rb
Due: standardrb, newlines

Update db schema
  db/schema.rb
Due: newlines

Update styling
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/styles.scss
Due: newlines

Run linter
  app/controllers/admin/flagged_items_controller.rb
  app/controllers/concerns/flagging.rb
Due: standardrb, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
