Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Prevent empty strings from being coerced into 0 when answering a question
  app/models/answer.rb
  test/models/answer_test.rb
Due: standardrb

Member facing reservation questions (#1674)
  app/controllers/account/reservations_controller.rb
  app/models/answer.rb
  app/models/required_answer.rb
  app/models/reservation.rb
  app/views/account/reservations/_answers.html.erb
  app/views/account/reservations/_form.html.erb
  app/views/account/reservations/show.html.erb
  test/factories/required_answers.rb
  test/models/answer_test.rb
  test/models/required_answer_test.rb
  test/system/account/reservations/questions_test.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations/questions_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Added some validation tests to organizations and their members
  app/models/organization.rb
  app/models/organization_member.rb
  app/models/user.rb
  test/factories/organization_members.rb
  test/factories/organizations.rb
  test/models/organization_member_test.rb
  test/models/organization_test.rb
Due: standardrb

WIP
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/show.html.erb
  test/system/admin/organizations_test.rb
Due: standardrb, erblint

updating organization tests
  test/system/admin/organizations_test.rb
Due: standardrb

tests for destroying oranizations
  app/controllers/admin/organizations_controller.rb
  app/views/admin/organizations/show.html.erb
  test/system/admin/organizations_test.rb
Due: standardrb, erblint

Added organization member show
  app/controllers/admin/organization_members_controller.rb
  app/views/admin/organization_members/show.html.erb
  app/views/admin/organizations/show.html.erb
  config/routes.rb
  test/system/admin/organizations/organization_members_test.rb
Due: standardrb, erblint

organization members index
  app/views/admin/organizations/show.html.erb
  test/factories/organization_members.rb
  test/system/admin/organizations/organization_members_test.rb
Due: standardrb, erblint

WIP
  app/controllers/admin/organization_members_controller.rb
  app/models/organization_member.rb
  app/models/user.rb
  app/views/admin/organization_members/_form.html.erb
  app/views/admin/organization_members/new.html.erb
  app/views/admin/organizations/show.html.erb
  config/routes.rb
  test/models/organization_member_test.rb
  test/models/user_test.rb
  test/system/admin/organizations/organization_members_test.rb
Due: standardrb, erblint

erblint fixes
  app/views/admin/organization_members/show.html.erb
  app/views/admin/organizations/show.html.erb
Due: erblint

Added updating organization members
  app/controllers/admin/organization_members_controller.rb
  app/views/admin/organization_members/edit.html.erb
  app/views/admin/organization_members/new.html.erb
  app/views/admin/organization_members/show.html.erb
  config/routes.rb
  test/system/admin/organizations/organization_members_test.rb
Due: standardrb, erblint

wrap up basic organization member creation
  app/controllers/admin/organization_members_controller.rb
  test/system/admin/organizations/organization_members_test.rb
Due: standardrb

Enforce uniqueness of email address within a library
  app/models/user.rb
  db/migrate/20240924190657_ensure_unique_email_addresses_per_library.rb
  db/schema.rb
  test/models/user_test.rb
Due: standardrb

Added the ability to destroy an organization member
  app/controllers/admin/organization_members_controller.rb
  app/views/admin/organization_members/edit.html.erb
  config/routes.rb
  test/system/admin/organizations/organization_members_test.rb
  test/system/admin/organizations_test.rb
Due: standardrb, erblint

Remove dead form
  app/views/admin/organization_members/_form.html.erb
Due: erblint

Added roles to organization members
  app/controllers/admin/organization_members_controller.rb
  app/models/organization_member.rb
  app/views/admin/organization_members/edit.html.erb
  app/views/admin/organization_members/new.html.erb
  app/views/admin/organization_members/show.html.erb
  app/views/admin/organizations/show.html.erb
  db/migrate/20240924215440_add_role_to_organization_members.rb
  db/schema.rb
  test/factories/organization_members.rb
  test/models/organization_member_test.rb
  test/system/admin/organizations/organization_members_test.rb
Due: standardrb, erblint

Prevent duplicate user/organization combos from being created
  app/models/organization_member.rb
  db/migrate/20240926201023_ensure_only_one_organization_user_combination.rb
  db/schema.rb
  test/models/organization_member_test.rb
Due: standardrb

Allow blank wesbites on organizations, add database constraint requiring organization name
  app/models/organization.rb
  db/migrate/20240926205021_require_organization_name.rb
  db/schema.rb
  test/models/organization_member_test.rb
Due: standardrb

Mark role as required on organization member forms
  app/views/admin/organization_members/edit.html.erb
  app/views/admin/organization_members/new.html.erb
Due: erblint

standard rb fix
  app/models/organization.rb
Due: standardrb

Don't allow items that aren't active to be added to appointments.
  app/controllers/account/appointments_controller.rb
  app/models/hold.rb
  app/views/account/appointments/_form.html.erb
  test/models/hold_test.rb
  test/system/appointments_test.rb
Due: standardrb, erblint

Resolve pending reservation items (#1678)
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/concerns/reservation_lending.rb
  app/models/application_record.rb
  app/models/item_pool.rb
  app/views/admin/reservations/_pending_reservation_items.html.erb
  bin/setup
  config/routes.rb
  db/seeds.rb
  lib/tasks/devdata.rake
  test/controllers/concerns/reservation_lending_test.rb
  test/factories/pending_reservation_items.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Don't allow items that aren't active to be added to appointments. (#1684)
  app/controllers/account/appointments_controller.rb
  app/models/hold.rb
  app/views/account/appointments/_form.html.erb
  test/models/hold_test.rb
  test/system/appointments_test.rb
Due: standardrb, erblint

Only update user unconfirmed email if user exists and email was changed.
  app/models/member.rb
  test/controllers/admin/members_controller_test.rb
Due: standardrb

Admins organization members CRUD (#1683)
  app/controllers/admin/organization_members_controller.rb
  app/controllers/admin/organizations_controller.rb
  app/models/organization.rb
  app/models/organization_member.rb
  app/models/user.rb
  app/views/admin/organization_members/edit.html.erb
  app/views/admin/organization_members/new.html.erb
  app/views/admin/organization_members/show.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/show.html.erb
  config/routes.rb
  db/migrate/20240924190657_ensure_unique_email_addresses_per_library.rb
  db/migrate/20240924215440_add_role_to_organization_members.rb
  db/migrate/20240926201023_ensure_only_one_organization_user_combination.rb
  db/migrate/20240926205021_require_organization_name.rb
  db/schema.rb
  test/factories/organization_members.rb
  test/factories/organizations.rb
  test/models/organization_member_test.rb
  test/models/organization_test.rb
  test/models/user_test.rb
  test/system/admin/organizations/organization_members_test.rb
  test/system/admin/organizations_test.rb
Due: standardrb, erblint

Only update user unconfirmed email if user exists and email was changed. (#1690)
  app/models/member.rb
  test/controllers/admin/members_controller_test.rb
Due: standardrb

Remove unnecessary spacing
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/partials/_admin_memberships.scss
  app/assets/stylesheets/partials/_items_index.scss
  app/assets/stylesheets/styles.scss
Due: none

Remove unnecessary spacing resulting from specter upgrade (#1692)
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/partials/_admin_memberships.scss
  app/assets/stylesheets/partials/_items_index.scss
  app/assets/stylesheets/styles.scss
Due: none

Ignore local vscode configuration
  .gitignore
Due: none

Updated individual sign up form copy for clarity
  app/views/signup/payments/new.html.erb
  test/system/user_signup_test.rb
Due: standardrb, erblint

Set the minimum membership fee input to have a minimum of $5
  app/views/signup/payments/new.html.erb
Due: erblint

Add minimum constraint to the server
  app/forms/membership_payment_form.rb
Due: standardrb

Standard RB fixes
  repo_analysis/Rakefile
Due: none

Add some utilities for pulling repo data (#1691)
  repo_analysis/.gitignore
  repo_analysis/Gemfile
  repo_analysis/Gemfile.lock
  repo_analysis/README.md
  repo_analysis/Rakefile
  repo_analysis/requirements.in
  repo_analysis/sync.sh
Due: none

Ignore local vscode configuration (#1693)
  .gitignore
Due: none

Add started_at and ended_at dates to reservation_hold.
  app/controllers/account/reservations/reservation_holds_controller.rb
  app/controllers/admin/reservations/reservation_holds_controller.rb
  app/controllers/concerns/reservation_lending.rb
  app/models/application_record.rb
  app/models/reservation_hold.rb
  db/migrate/20240916014424_add_dates_to_reservation_holds.rb
  db/schema.rb
  test/controllers/concerns/reservation_lending_test.rb
  test/factories/date_holds.rb
  test/factories/reservation_holds.rb
Due: standardrb

Try to use magick command and fallback to convert.
  app/lib/certificate/generator.rb
Due: standardrb

Tweak sign up for clarity around payments (#1699)
  app/forms/membership_payment_form.rb
  app/views/signup/payments/new.html.erb
  test/system/user_signup_test.rb
Due: standardrb, erblint
