Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

wip
  app/controllers/account/base_controller.rb
  app/controllers/account/item_pools_controller.rb
  app/controllers/account/reservations_controller.rb
  app/views/account/item_pools/_item_pool.html.erb
  app/views/account/item_pools/_items_index.html.erb
  app/views/account/item_pools/availabilities/show.html.erb
  app/views/account/item_pools/index.html.erb
  app/views/account/item_pools/reservable_items/_form.html.erb
  app/views/account/item_pools/reservable_items/_reservable_item.html.erb
  app/views/account/item_pools/reservable_items/edit.html.erb
  app/views/account/item_pools/reservable_items/index.html.erb
  app/views/account/item_pools/reservable_items/new.html.erb
  app/views/account/item_pools/reservable_items/show.html.erb
  app/views/account/item_pools/show.html.erb
  app/views/account/reservations/_form.html.erb
  app/views/account/reservations/_profile.html.erb
  app/views/account/reservations/edit.html.erb
  app/views/account/reservations/index.html.erb
  app/views/account/reservations/new.html.erb
  app/views/account/reservations/reservation_holds/_form.html.erb
  app/views/account/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/account/reservations/reservation_holds/create_error.turbo_stream.erb
  app/views/account/reservations/reservation_holds/destroy.turbo_stream.erb
  app/views/account/reservations/reservation_holds/edit.turbo_stream.erb
  app/views/account/reservations/reservation_holds/show.turbo_stream.erb
  app/views/account/reservations/show.html.erb
  config/routes.rb
  db/devdata/item_pools.yml
  db/devdata/reservable_items.yml
Due: standardrb, erblint

Members can request reservations. Note that the reservations aren't yet associated with that user!
  app/controllers/account/item_pools_controller.rb
  app/controllers/account/reservations/base_controller.rb
  app/controllers/account/reservations/item_pool_searches_controller.rb
  app/controllers/account/reservations/reservation_holds_controller.rb
  app/controllers/account/reservations/submissions_controller.rb
  app/models/reservation_hold.rb
  app/views/account/item_pools/reservable_items/_form.html.erb
  app/views/account/item_pools/reservable_items/edit.html.erb
  app/views/account/item_pools/reservable_items/new.html.erb
  app/views/account/reservations/item_pool_searches/_form.html.erb
  app/views/account/reservations/item_pool_searches/show.html.erb
  app/views/account/reservations/reservation_holds/_form.html.erb
  app/views/account/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/account/reservations/reservation_holds/create_error.turbo_stream.erb
  app/views/account/reservations/reservation_holds/edit.turbo_stream.erb
  app/views/account/reservations/reservation_holds/show.turbo_stream.erb
  app/views/account/reservations/submissions/show.html.erb
  app/views/admin/reservations/reservation_holds/_form.html.erb
  config/routes.rb
Due: standardrb, erblint

Make holds editable
  app/views/account/reservations/reservation_holds/show.turbo_stream.erb
  app/views/account/reservations/show.html.erb
Due: erblint

Removed the hold_request_status enum and some no longer used host request files
  app/views/admin/hold_requests/index.html.erb
  db/migrate/20240708152218_remove_hold_request_status_enum.rb
  db/schema.rb
  test/controllers/admin/hold_requests_controller_test.rb
Due: standardrb, erblint

Removed the hold_request_status enum and some no longer used host request files (#1580)
  app/views/admin/hold_requests/index.html.erb
  db/migrate/20240708152218_remove_hold_request_status_enum.rb
  db/schema.rb
  test/controllers/admin/hold_requests_controller_test.rb
Due: standardrb, erblint

Add reservation belongs_to :organization association.
  app/models/organization.rb
  app/models/reservation.rb
  db/migrate/20240708234628_associate_reservations_with_organizations.rb
  db/schema.rb
  db/seeds.rb
Due: standardrb

Update controllers and views to account for new association
  app/controllers/account/reservations/submissions_controller.rb
  app/controllers/account/reservations_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/views/account/reservations/_form.html.erb
  app/views/admin/reservations/_form.html.erb
  app/views/admin/reservations/index.html.erb
Due: standardrb, erblint

Add a debug option to SpectreFormBuilder#errors that prints out all errors on a model.
  app/lib/spectre_form_builder.rb
Due: standardrb

Added basic question model and CRUD
  app/controllers/admin/questions_controller.rb
  app/models/question.rb
  app/views/admin/questions/_form.html.erb
  app/views/admin/questions/edit.html.erb
  app/views/admin/questions/index.html.erb
  app/views/admin/questions/new.html.erb
  app/views/admin/questions/show.html.erb
  app/views/admin/reservation_policies/new.html.erb
  config/routes.rb
  db/migrate/20240703203519_create_questions.rb
  db/schema.rb
  test/controllers/admin/questions_controller_test.rb
  test/factories/questions.rb
  test/models/question_test.rb
  test/system/admin/questions_test.rb
  test/system/admin/reservation_policies_test.rb
Due: standardrb, erblint

Added the stem model
  app/models/question.rb
  app/models/stem.rb
  db/migrate/20240703214616_create_stems.rb
  db/schema.rb
  test/factories/stems.rb
  test/models/stem_test.rb
Due: standardrb

Lint cleanup
  app/models/stem.rb
Due: standardrb

Removed version from stem
  app/models/stem.rb
  db/migrate/20240703214616_create_stems.rb
  db/schema.rb
  test/models/stem_test.rb
Due: standardrb

Added questions/answers to the reservation show page
  app/controllers/admin/reservations/questions_controller.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/questions/show.html.erb
  config/routes.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Added stem into the question CRUD
  app/controllers/admin/questions_controller.rb
  app/lib/spectre_form_builder.rb
  app/models/question.rb
  app/models/stem.rb
  app/views/admin/questions/_form.html.erb
  app/views/admin/questions/index.html.erb
  app/views/admin/questions/show.html.erb
  test/system/admin/questions_test.rb
Due: standardrb, erblint

Prevent n+1
  app/views/admin/reservations/questions/show.html.erb
Due: erblint

Added tests around reservations CRUD
  app/controllers/admin/reservations_controller.rb
  test/factories/reservations.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Remove whitespace
  app/controllers/admin/reservations/questions_controller.rb
Due: standardrb

Added a singular stem association
  app/models/question.rb
  test/models/question_test.rb
Due: standardrb

Build stem params explicitly to prevent code scan warnings
  app/controllers/admin/questions_controller.rb
Due: standardrb

Remove unused controller action
  app/controllers/admin/reservations_controller.rb
  test/system/admin/reservations_test.rb
Due: standardrb

Added navigation links
  app/views/layouts/admin.html.erb
Due: erblint

Added the answer model
  app/models/answer.rb
  app/models/question.rb
  app/models/reservation.rb
  app/models/stem.rb
  db/migrate/20240704161420_create_answers.rb
  db/schema.rb
  test/factories/answers.rb
  test/models/answer_test.rb
Due: standardrb

Add questions and answers to the reservation create/update flows
  app/controllers/admin/reservations_controller.rb
  app/models/answer.rb
  app/models/reservation.rb
  app/views/admin/reservations/_answers.html.erb
  app/views/admin/reservations/_form.html.erb
  test/factories/stems.rb
  test/models/answer_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Correct scaffolded comments
  app/controllers/admin/questions_controller.rb
Due: standardrb

Added the ability to archive/unarchive questions
  app/controllers/admin/questions_controller.rb
  app/views/admin/questions/index.html.erb
  app/views/admin/questions/show.html.erb
  config/routes.rb
  db/migrate/20240703203519_create_questions.rb
  db/migrate/20240703214616_create_stems.rb
  db/schema.rb
  test/controllers/admin/questions_controller_test.rb
  test/factories/questions.rb
  test/models/stem_test.rb
  test/system/admin/questions_test.rb
Due: standardrb, erblint

Made the question show page more presentable
  app/views/admin/questions/show.html.erb
  test/system/admin/questions_test.rb
Due: standardrb, erblint

Prevent blank answers from being converted to 0 for integer answers
  app/models/answer.rb
  test/models/answer_test.rb
Due: standardrb

Validate that stems can have the same version as long as they have different questions
  test/models/stem_test.rb
Due: standardrb

rename migrations
  db/migrate/20240709203519_create_questions.rb
  db/migrate/20240709214616_create_stems.rb
  db/migrate/20240710161420_create_answers.rb
  db/schema.rb
Due: standardrb

Admins can create questions that are answered when creating/updating reservations (#1576)
  app/controllers/admin/questions_controller.rb
  app/controllers/admin/reservations/questions_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/lib/spectre_form_builder.rb
  app/models/answer.rb
  app/models/question.rb
  app/models/reservation.rb
  app/models/stem.rb
  app/views/admin/questions/_form.html.erb
  app/views/admin/questions/edit.html.erb
  app/views/admin/questions/index.html.erb
  app/views/admin/questions/new.html.erb
  app/views/admin/questions/show.html.erb
  app/views/admin/reservation_policies/new.html.erb
  app/views/admin/reservations/_answers.html.erb
  app/views/admin/reservations/_form.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/questions/show.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  db/migrate/20240709203519_create_questions.rb
  db/migrate/20240709214616_create_stems.rb
  db/migrate/20240710161420_create_answers.rb
  db/schema.rb
  test/controllers/admin/questions_controller_test.rb
  test/factories/answers.rb
  test/factories/questions.rb
  test/factories/reservations.rb
  test/factories/stems.rb
  test/models/answer_test.rb
  test/models/question_test.rb
  test/models/stem_test.rb
  test/system/admin/questions_test.rb
  test/system/admin/reservation_policies_test.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Disable Turbo links prefetching
  app/views/layouts/application.html.erb
Due: erblint

Send USER_AGENT to appsignal to help track down issues.
  config/appsignal.yml
Due: none

Redirect folks back and show a message so they try again.
  app/controllers/application_controller.rb
Due: standardrb

Disable Turbo links prefetching (#1584)
  app/views/layouts/application.html.erb
Due: erblint

More attempts to fix InvalidAuthenticityToken issues (#1585)
  app/controllers/application_controller.rb
  config/appsignal.yml
Due: standardrb

Added "missing" to item statuses
  app/models/concerns/item_statuses.rb
  db/migrate/20240716051930_add_missing_to_item_statuses.rb
  db/schema.rb
Due: standardrb

Added a review notes tab to the reservation show page
  app/assets/stylesheets/admin.scss
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/reviews/show.html.erb
  config/routes.rb
  test/factories/reservations.rb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Added basic open graph meta tags to the item show page
  app/views/items/show.html.erb
  app/views/layouts/application.html.erb
Due: erblint

Added "missing" to item statuses (#1587)
  app/models/concerns/item_statuses.rb
  db/migrate/20240716051930_add_missing_to_item_statuses.rb
  db/schema.rb
Due: standardrb

Added basic open graph meta tags to the item show page (#1590)
  app/views/items/show.html.erb
  app/views/layouts/application.html.erb
Due: erblint
