Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://evilmartians.github.io/lefthook/intro.html
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    prettier:
      run: yarn run lint:fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md
    newlines:
      tags: lint
      glob: "*.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}"
      run: bin/add_newlines {staged_files} && git add {staged_files}

Added the pull items / complete buttons to the appointment details page
  app/controllers/admin/appointment_detail_pulls_controller.rb
  app/views/admin/appointments/_complete.html.erb
  config/routes.rb
  test/system/admin/appointments/details_test.rb
Due: standardrb, erblint, newlines

Always use turbo streams when updating appoinment details page
  app/controllers/admin/appointment_detail_completions_controller.rb
  app/controllers/admin/appointment_detail_pulls_controller.rb
  app/views/admin/appointments/_complete.html.erb
  test/controllers/admin/appointment_detail_completions_controller_test.rb
  test/system/admin/appointments/details_test.rb
Due: standardrb, erblint, newlines

Arel-ize item search priority
  app/models/item.rb
Due: standardrb, newlines

Added ability for admin users to reset members' passwords (#1859)
  app/controllers/admin/members/passwords_controller.rb
  app/mailers/member_mailer.rb
  app/models/user.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/passwords/edit.html.erb
  app/views/member_mailer/admin_reset_password.mjml
  app/views/member_mailer/admin_reset_password.text.erb
  config/routes.rb
  test/application_system_test_case.rb
  test/mailers/member_mailer_test.rb
  test/models/user_test.rb
  test/system/admin/members/member_password_reset_test.rb
Due: standardrb, erblint, newlines

Admins can mark appointments as pulled in addition to pending and complete (#1860)
  app/controllers/admin/appointment_detail_pulls_controller.rb
  app/controllers/admin/appointment_pulls_controller.rb
  app/controllers/admin/appointments_controller.rb
  app/javascript/lib/appointments.js
  app/views/admin/appointments/_appointment.html.erb
  app/views/admin/appointments/_appointment_mobile.html.erb
  app/views/admin/appointments/_appointment_orig.html.erb
  app/views/admin/appointments/_complete.html.erb
  app/views/admin/appointments/index.html.erb
  app/views/admin/appointments/index_orig.html.erb
  config/routes.rb
  db/migrate/20250223214915_add_pulled_at_to_appointments.rb
  db/schema.rb
  test/controllers/admin/appointment_detail_completions_controller_test.rb
  test/system/admin/appointments/details_test.rb
  test/system/admin/appointments_test.rb
Due: standardrb, erblint, newlines

basic search enhancement: break ties with item status (#1823)
  app/controllers/items_controller.rb
  app/models/item.rb
Due: standardrb, newlines

Added an admin layout level notification for today's unpulled appointments
  app/models/appointment.rb
  app/views/layouts/_unpulled_appointments_for_today_banner.html.erb
  app/views/layouts/admin.html.erb
  test/models/appointment_test.rb
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, erblint, newlines

add back ransack form helper
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: standardrb, erblint, newlines

Added an admin layout level notification for today's unpulled appointments (#1866)
  app/models/appointment.rb
  app/views/layouts/_unpulled_appointments_for_today_banner.html.erb
  app/views/layouts/admin.html.erb
  test/models/appointment_test.rb
  test/system/admin/appointments_notifications_test.rb
Due: standardrb, erblint, newlines

Show maintenance tags (#1853)
  app/controllers/admin/reports/items_in_maintenance_controller.rb
  app/models/ticket.rb
  app/views/admin/reports/items_in_maintenance/index.html.erb
Due: standardrb, erblint, newlines

Wrap user emails in our standard email layout
  app/mailers/user_mailer.rb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/confirmation_instructions.mjml
  app/views/devise/mailer/confirmation_instructions.text.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/email_changed.mjml
  app/views/devise/mailer/email_changed.text.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/password_change.mjml
  app/views/devise/mailer/password_change.text.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/mailer/reset_password_instructions.mjml
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/devise/mailer/unlock_instructions.mjml
  app/views/devise/mailer/unlock_instructions.text.erb
  app/views/layouts/mailer.html.mjml
  app/views/layouts/mailer.text.erb
  app/views/member_mailer/appointment_confirmation.html.erb
  test/mailers/previews/user_mailer_preview.rb
Due: standardrb, erblint, newlines

Update erb_lint configuration to address warnings.
  .erb_lint.yml
  lefthook.yml
Due: none

Run erb_lint on all files.
  app/views/layouts/mailer.text.erb
  app/views/member_mailer/_overdue.erb
  app/views/member_mailer/_summaries.erb
  app/views/member_mailer/holds_available.text.erb
Due: erblint, newlines

Update GH workflow as well
  .github/workflows/ci.yml
Due: none

Update erb_lint config (#1873)
  .erb_lint.yml
  .github/workflows/ci.yml
  app/views/layouts/mailer.text.erb
  app/views/member_mailer/_overdue.erb
  app/views/member_mailer/_summaries.erb
  app/views/member_mailer/holds_available.text.erb
  lefthook.yml
Due: erblint, newlines

Upgrade to Rails 8
  Gemfile
  Gemfile.lock
  app/controllers/errors_controller.rb
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/filter_parameter_logging.rb
  config/puma.rb
  config/routes.rb
  db/seeds.rb
  package.json
  test/controllers/errors_controller_test.rb
  yarn.lock
Due: standardrb, newlines

Added borrow policy approvals
  app/models/borrow_policy_approval.rb
  db/migrate/20250314201009_add_c_tool_support.rb
  db/schema.rb
  test/factories/borrow_policies.rb
  test/factories/borrow_policy_approvals.rb
  test/models/borrow_policy_approval_test.rb
  test/models/borrow_policy_test.rb
Due: standardrb, newlines

Added associations
  app/models/borrow_policy.rb
  app/models/member.rb
Due: standardrb, newlines

Setup devdata
  db/devdata/borrow_policies.yml
Due: none

Prevent holds from being created for users that lack approval (when approval is required)
  app/models/hold.rb
  test/models/hold_test.rb
Due: standardrb, newlines

Wrap user emails in our standard email layout (#1874)
  app/mailers/user_mailer.rb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/confirmation_instructions.mjml
  app/views/devise/mailer/confirmation_instructions.text.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/email_changed.mjml
  app/views/devise/mailer/email_changed.text.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/password_change.mjml
  app/views/devise/mailer/password_change.text.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/mailer/reset_password_instructions.mjml
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/devise/mailer/unlock_instructions.mjml
  app/views/devise/mailer/unlock_instructions.text.erb
  app/views/layouts/mailer.html.mjml
  app/views/layouts/mailer.text.erb
  app/views/member_mailer/appointment_confirmation.html.erb
  test/mailers/previews/user_mailer_preview.rb
Due: standardrb, erblint, newlines

Upgrade to Rails 8 (#1879)
  Gemfile
  Gemfile.lock
  app/controllers/errors_controller.rb
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/filter_parameter_logging.rb
  config/puma.rb
  config/routes.rb
  db/seeds.rb
  package.json
  test/controllers/errors_controller_test.rb
  yarn.lock
Due: standardrb, newlines

Upgraded ruby to 3.4.2
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
Due: none

Upgrade Ruby to 3.4.2 (#1884)
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
Due: none

erb lint - thanks Jim
  app/views/admin/items/holds/_list.html.erb
Due: erblint, newlines

Run nix flake update
  flake.lock
Due: none

Format flake.nix
  flake.nix
Due: none

Update to latest nix-direnv config
  .envrc
Due: none

Update Nix setup (#1888)
  .envrc
  flake.lock
  flake.nix
Due: none

Fix system test
  test/system/admin/holds_test.rb
Due: standardrb, newlines

Rename test
  test/system/account/loans_test.rb
Due: standardrb, newlines

Added basic borrow policy approval request flow for members
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/models/borrow_policy_approval.rb
  app/models/member.rb
  app/views/borrow_policy_approvals/_request_borrow_policy_approval.html.erb
  app/views/items/show.html.erb
  config/routes.rb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/models/borrow_policy_approval_test.rb
  test/system/account/holds_test.rb
Due: standardrb, erblint, newlines

Fleshed out a show page for borrow policies
  app/controllers/admin/borrow_policies_controller.rb
  app/models/borrow_policy.rb
  app/views/admin/borrow_policies/index.html.erb
  app/views/admin/borrow_policies/show.html.erb
  config/routes.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Use an html comment instead of a ruby erb comment
  app/views/items/show.html.erb
Due: erblint, newlines

Added a borrow policy approvals index
  app/assets/stylesheets/reports.scss
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/models/borrow_policy_approval.rb
  app/views/admin/borrow_policies/show.html.erb
  app/views/admin/borrow_policy_approvals/index.html.erb
  config/routes.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Prevent occasional bin/setup failure
  lib/tasks/devdata.rake
Due: none
