Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

standardjs:
  run: yarn run standard --fix {staged_files} && git add {staged_files}

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Added pagination to the admin users index page under settings (#1496)
  app/controllers/admin/users_controller.rb
  app/views/admin/users/index.html.erb
Due: standardrb, erblint

Tweak appointment required language (#1504)
  app/views/account/appointments/index.html.erb
Due: erblint

Flatten Pickup into Reservation (#1489)
  app/controllers/admin/pickups/base_controller.rb
  app/controllers/admin/pickups/checkins_controller.rb
  app/controllers/admin/pickups/checkouts_controller.rb
  app/controllers/admin/pickups_controller.rb
  app/controllers/admin/reservations/pickups_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/controllers/admin/reservations/statuses_controller.rb
  app/helpers/pickups_helper.rb
  app/models/pickup.rb
  app/models/reservation.rb
  app/models/reservation_loan.rb
  app/views/admin/pickups/_status.html.erb
  app/views/admin/pickups/reservation_loans/create.turbo_stream.erb
  app/views/admin/pickups/show.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/_status.html.erb
  app/views/admin/reservations/pickups/_reservation_hold.erb
  app/views/admin/reservations/pickups/show.html.erb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  db/migrate/20240510045018_flatten_pickup_into_reservation.rb
  db/schema.rb
Due: standardrb, erblint

bundle exec standardrb --fix
  app/helpers/admin_helper.rb
  app/lib/spectre_form_builder.rb
  app/lib/volunteer/shift.rb
  test/system/volunteer/shifts_test.rb
Due: standardrb

Fix a few anon block forwards that standard missed
  app/helpers/admin_helper.rb
Due: standardrb

Use a state machine to model Reservation status (#1490)
  Gemfile
  Gemfile.lock
  app/controllers/admin/reservations/reviews_controller.rb
  app/lib/reservation_state_machine.rb
  app/models/reservation.rb
  app/models/reservation_loan.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/pickups/_reservation_hold.erb
  app/views/admin/reservations/pickups/show.html.erb
  app/views/admin/reservations/reviews/_form.html.erb
Due: standardrb, erblint

wip edit holds in place
  app/controllers/admin/reservations/reservation_holds_controller.rb
  app/controllers/application_controller.rb
  app/views/admin/reservations/_reservation_hold_form.html.erb
  app/views/admin/reservations/reservation_holds/_form.html.erb
  app/views/admin/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/admin/reservations/reservation_holds/edit.turbo_stream.erb
  app/views/admin/reservations/reservation_holds/show.turbo_stream.erb
  app/views/admin/reservations/show.html.erb
  config/routes.rb
Due: standardrb, erblint

Complete inline editing of reservations.
  app/controllers/admin/reservations/item_pool_searches_controller.rb
  app/controllers/admin/reservations/reservation_holds_controller.rb
  app/views/admin/item_pools/_item_pools.html.erb
  app/views/admin/item_pools/_items_index.html.erb
  app/views/admin/item_pools/index.html.erb
  app/views/admin/reservations/item_pool_searches/_form.html.erb
  app/views/admin/reservations/item_pool_searches/show.html.erb
  app/views/admin/reservations/reservation_holds/_form.html.erb
  app/views/admin/reservations/reservation_holds/create_error.turbo_stream.erb
  app/views/admin/reservations/reservation_holds/destroy.turbo_stream.erb
  app/views/admin/reservations/show.html.erb
  config/routes.rb
Due: standardrb, erblint

handle the case when the logged in user has the item checked out
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
  app/views/items/place_hold_on/_item_user_checked_out.html.erb
  app/views/items/show.html.erb
Due: erblint

make messages more concise
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
  app/views/items/show.html.erb
Due: erblint

resolve linting error
  app/views/items/place_hold_on/_item_user_checked_out.html.erb
Due: erblint

check for correct string in system tests
  test/system/holds_test.rb
Due: standardrb

Improve hold text on the item page (#1483)
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
  app/views/items/place_hold_on/_item_user_checked_out.html.erb
  app/views/items/place_hold_on/_not_logged_in.html.erb
  app/views/items/show.html.erb
  test/system/holds_test.rb
Due: standardrb, erblint

use stimulus controller instead of script tag for client validation
  app/javascript/controllers/reservation_dates_controller.js
  app/models/reservation.rb
  app/views/admin/reservations/_form.html.erb
Due: standardjs, standardrb, erblint

js linting
  app/javascript/controllers/index.js
  app/javascript/controllers/reservation_dates_controller.js
Due: standardjs

Update donation link
  app/views/member_mailer/_donation.html.erb
Due: erblint

Update donation link (#1511)
  app/views/member_mailer/_donation.html.erb
Due: erblint

Prevent same-day drop offs and pickups (#1502)
  app/javascript/controllers/index.js
  app/javascript/controllers/reservation_dates_controller.js
  app/models/reservation.rb
  app/views/admin/reservations/_form.html.erb
Due: standardjs, standardrb, erblint

Combine bin/setup and bin/reset into a single command.
  bin/reset
  bin/setup
  lib/tasks/db.rake
Due: none

Update some other mentions/uses of bin/reset
  .github/workflows/ci.yml
  README.md
  db/seeds.rb
Due: standardrb, readme

Consolidate setup and reset scripts (#1514)
  .github/workflows/ci.yml
  README.md
  bin/reset
  bin/setup
  db/seeds.rb
  lib/tasks/db.rake
Due: standardrb, readme

Fix loan history link
  config/routes.rb
Due: none

Fix loan history link (#1516)
  config/routes.rb
Due: none

Revert "Update donation link (#1511)"
  app/views/member_mailer/_donation.html.erb
Due: erblint

Revert "Update donation link" (#1517)
  app/views/member_mailer/_donation.html.erb
Due: erblint

Update app/controllers/admin/reservations/item_pool_searches_controller.rb
  app/controllers/admin/reservations/item_pool_searches_controller.rb
Due: standardrb

Edit reservation holds in place (#1506)
  app/controllers/admin/reservations/item_pool_searches_controller.rb
  app/controllers/admin/reservations/reservation_holds_controller.rb
  app/controllers/application_controller.rb
  app/views/admin/item_pools/_item_pools.html.erb
  app/views/admin/item_pools/_items_index.html.erb
  app/views/admin/item_pools/index.html.erb
  app/views/admin/reservations/_reservation_hold_form.html.erb
  app/views/admin/reservations/item_pool_searches/_form.html.erb
  app/views/admin/reservations/item_pool_searches/show.html.erb
  app/views/admin/reservations/reservation_holds/_form.html.erb
  app/views/admin/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/admin/reservations/reservation_holds/create_error.turbo_stream.erb
  app/views/admin/reservations/reservation_holds/destroy.turbo_stream.erb
  app/views/admin/reservations/reservation_holds/edit.turbo_stream.erb
  app/views/admin/reservations/reservation_holds/show.turbo_stream.erb
  app/views/admin/reservations/show.html.erb
  config/routes.rb
Due: standardrb, erblint

wip
  app/controllers/account/base_controller.rb
  app/controllers/account/item_pools_controller.rb
  app/controllers/account/reservations_controller.rb
  app/views/account/item_pools/_item_pool.html.erb
  app/views/account/item_pools/_items_index.html.erb
  app/views/account/item_pools/availabilities/show.html.erb
  app/views/account/item_pools/index.html.erb
  app/views/account/item_pools/reservable_items/_form.html.erb
  app/views/account/item_pools/reservable_items/_reservable_item.html.erb
  app/views/account/item_pools/reservable_items/edit.html.erb
  app/views/account/item_pools/reservable_items/index.html.erb
  app/views/account/item_pools/reservable_items/new.html.erb
  app/views/account/item_pools/reservable_items/show.html.erb
  app/views/account/item_pools/show.html.erb
  app/views/account/reservations/_form.html.erb
  app/views/account/reservations/_profile.html.erb
  app/views/account/reservations/edit.html.erb
  app/views/account/reservations/index.html.erb
  app/views/account/reservations/new.html.erb
  app/views/account/reservations/reservation_holds/_form.html.erb
  app/views/account/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/account/reservations/reservation_holds/create_error.turbo_stream.erb
  app/views/account/reservations/reservation_holds/destroy.turbo_stream.erb
  app/views/account/reservations/reservation_holds/edit.turbo_stream.erb
  app/views/account/reservations/reservation_holds/show.turbo_stream.erb
  app/views/account/reservations/show.html.erb
  config/routes.rb
  db/devdata/item_pools.yml
  db/devdata/reservable_items.yml
Due: standardrb, erblint

Members can request reservations. Note that the reservations aren't yet associated with that user!
  app/controllers/account/item_pools_controller.rb
  app/controllers/account/reservations/base_controller.rb
  app/controllers/account/reservations/item_pool_searches_controller.rb
  app/controllers/account/reservations/reservation_holds_controller.rb
  app/controllers/account/reservations/submissions_controller.rb
  app/models/reservation_hold.rb
  app/views/account/item_pools/reservable_items/_form.html.erb
  app/views/account/item_pools/reservable_items/edit.html.erb
  app/views/account/item_pools/reservable_items/new.html.erb
  app/views/account/reservations/item_pool_searches/_form.html.erb
  app/views/account/reservations/item_pool_searches/show.html.erb
  app/views/account/reservations/reservation_holds/_form.html.erb
  app/views/account/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/account/reservations/reservation_holds/create_error.turbo_stream.erb
  app/views/account/reservations/reservation_holds/edit.turbo_stream.erb
  app/views/account/reservations/reservation_holds/show.turbo_stream.erb
  app/views/account/reservations/submissions/show.html.erb
  app/views/admin/reservations/reservation_holds/_form.html.erb
  config/routes.rb
Due: standardrb, erblint

Adding devise confirmable
  app/models/user.rb
  db/migrate/20240521004449_add_devise_to_users.rb
  db/schema.rb
Due: standardrb

Make holds editable
  app/views/account/reservations/reservation_holds/show.turbo_stream.erb
  app/views/account/reservations/show.html.erb
Due: erblint

Create Notifications whenever Devise sends an email
  app/mailers/user_mailer.rb
  test/mailers/user_mailer_test.rb
Due: standardrb

Staff can create holds or loans for members even if that member has overdue loans
  app/views/admin/members/_lookup.html.erb
  test/system/admin/members_test.rb
Due: standardrb, erblint

Removed the previously added system test and changed the other existing system tests to validate the new behavior
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/holds_test.rb
  test/system/admin/members_test.rb
Due: standardrb

Log the user id when available during the sign up flow
  app/controllers/signup/base_controller.rb
  config/initializers/lograge.rb
Due: standardrb

Prevent codescanning warnings by ensuring methods return constant values and not technically user input
  app/controllers/admin/loan_summaries_controller.rb
  app/controllers/admin/renewal_requests_controller.rb
Due: standardrb

Staff can create holds or loans for members even if that member has overdue loans (#1544)
  app/views/admin/members/_lookup.html.erb
  test/system/admin/check_in_check_out_test.rb
  test/system/admin/holds_test.rb
Due: standardrb, erblint

Log the user id when available during the sign up flow (#1547)
  app/controllers/signup/base_controller.rb
  config/initializers/lograge.rb
Due: standardrb

Prevent codescanning warnings by ensuring methods return constant values and not technically user input (#1548)
  app/controllers/admin/loan_summaries_controller.rb
  app/controllers/admin/renewal_requests_controller.rb
Due: standardrb

Path conditions:
  standardjs: any of: *.js
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
