Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Simplify implementation
  app/controllers/account/reservations/reservation_holds_controller.rb
  app/controllers/admin/reservations/reservation_holds_controller.rb
  app/controllers/concerns/reservation_lending.rb
  app/models/reservation_hold.rb
  test/controllers/concerns/reservation_lending_test.rb
  test/factories/reservation_holds.rb
Due: standardrb

More cleanup
  app/controllers/concerns/reservation_lending.rb
  app/models/application_record.rb
Due: standardrb

Add default tabs for reservations.
  app/controllers/admin/reservations/reviews_controller.rb
  app/controllers/admin/reservations/statuses_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/helpers/reservations_helper.rb
  app/views/admin/reservations/index.html.erb
Due: standardrb, erblint

Rework the reservations items screen.
  app/helpers/admin_helper.rb
  app/models/reservation_hold.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/pickups/_reservation_hold.erb
  app/views/admin/reservations/pickups/show.html.erb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Try to use magick command and fallback to convert. (#1708)
  app/lib/certificate/generator.rb
Due: standardrb

Improve UI of reservation items screen (#1709)
  app/controllers/admin/reservations/reviews_controller.rb
  app/controllers/admin/reservations/statuses_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/helpers/admin_helper.rb
  app/helpers/reservations_helper.rb
  app/models/reservation_hold.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/index.html.erb
  app/views/admin/reservations/pickups/_reservation_hold.erb
  app/views/admin/reservations/pickups/show.html.erb
  test/system/admin/reservations_test.rb
Due: standardrb, erblint

Add started_at and ended_at dates to reservation_hold. (#1707)
  app/controllers/concerns/reservation_lending.rb
  app/models/reservation_hold.rb
  db/migrate/20240916014424_add_dates_to_reservation_holds.rb
  db/schema.rb
  test/factories/reservation_holds.rb
Due: standardrb

Update rack and friends
  Gemfile.lock
Due: none

Move color overrides into the main spectre variables file.
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/assets/stylesheets/spectre-css/_variables.scss
  app/assets/stylesheets/spectre-css/mixins/_shadow.scss
  app/assets/stylesheets/styles.scss
Due: none

Sort the members with overdue items report by most overdue first
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
Due: standardrb

Added ability to filter by borrow policy
  app/assets/stylesheets/styles.scss
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint

Lint fixes
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb

Move color overrides into the main spectre variables file. (#1723)
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/partials/_admin_appointments.scss
  app/assets/stylesheets/spectre-css/_variables.scss
  app/assets/stylesheets/spectre-css/mixins/_shadow.scss
  app/assets/stylesheets/styles.scss
Due: none

Sort the members with overdue items report by most overdue and add borrow policy filters (#1717)
  app/assets/stylesheets/styles.scss
  app/controllers/admin/reports/members_with_overdue_loans_controller.rb
  app/views/admin/reports/members_with_overdue_loans/index.html.erb
  test/system/admin/reports/members_with_overdue_items_test.rb
Due: standardrb, erblint

Assorted improvemtnts to user email reset flow.
  app/controllers/account/members_controller.rb
  app/mailers/user_mailer.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/notifications/index.html.erb
  app/views/layouts/application.html.erb
  test/controllers/account/appointments_controller_test.rb
  test/controllers/account/members_controller_test.rb
  test/mailers/user_mailer_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Fix system test that fails on DST boundary.
  test/system/membership_renewal_test.rb
Due: standardrb

Update form button disabling
  app/lib/spectre_form_builder.rb
Due: standardrb

Fix system test that fails on DST boundary. (#1726)
  test/system/membership_renewal_test.rb
Due: standardrb

Assorted improvements to user email reset flow. (#1724)
  app/controllers/account/members_controller.rb
  app/mailers/user_mailer.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/notifications/index.html.erb
  app/views/layouts/application.html.erb
  test/controllers/account/appointments_controller_test.rb
  test/controllers/account/members_controller_test.rb
  test/mailers/user_mailer_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Disable form submit buttons once again (#1727)
  app/lib/spectre_form_builder.rb
Due: standardrb

Allow holds to be disabled for individual items
  app/controllers/account/appointments_controller.rb
  app/controllers/account/holds_controller.rb
  app/controllers/admin/items_controller.rb
  app/controllers/admin/members/holds_controller.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/items/holds/index.html.erb
  app/views/admin/members/holds/_form.html.erb
  db/migrate/20241105021006_add_enable_holds_to_items.rb
  db/schema.rb
  test/controllers/account/holds_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/models/item_test.rb
  test/system/appointments_test.rb
  test/system/holds_test.rb
Due: standardrb, erblint

Show a message on item pages when they can't be placed on hold.
  app/views/items/show.html.erb
Due: erblint

Allow holds to be disabled for individual items (#1735)
  app/controllers/account/appointments_controller.rb
  app/controllers/account/holds_controller.rb
  app/controllers/admin/items_controller.rb
  app/controllers/admin/members/holds_controller.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  app/views/admin/items/_item_panel.html.erb
  app/views/admin/items/holds/index.html.erb
  app/views/admin/members/holds/_form.html.erb
  app/views/items/show.html.erb
  db/migrate/20241105021006_add_enable_holds_to_items.rb
  db/schema.rb
  test/controllers/account/holds_controller_test.rb
  test/controllers/admin/members/holds_controller_test.rb
  test/models/item_test.rb
  test/system/appointments_test.rb
  test/system/holds_test.rb
Due: standardrb, erblint

Tweak lograge config
  config/initializers/lograge.rb
Due: standardrb

Tweak lograge config (#1736)
  config/initializers/lograge.rb
Due: standardrb

Add flash_highlight and clean up bits of old highlighting.
  app/assets/stylesheets/styles.scss
  app/controllers/admin/base_controller.rb
  app/controllers/admin/bulk_renewals_controller.rb
  app/controllers/admin/loans_controller.rb
  app/controllers/admin/members/hold_loans_controller.rb
  app/controllers/admin/members/holds_controller.rb
  app/controllers/admin/renewals_controller.rb
  app/javascript/application.js
  app/javascript/lib/highlight.js
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
  app/views/admin/categories/index.html.erb
  app/views/admin/members/holds/history.html.erb
  app/views/admin/members/holds/index.html.erb
  app/views/admin/members/show.html.erb
Due: standardjs, standardrb, erblint

split application and admin css
  Procfile.dev
  app/assets/stylesheets/admin_application.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/application_overrides.scss
  app/assets/stylesheets/application_styles.scss
  app/views/layouts/admin.html.erb
  package.json
  yarn.lock
Due: erblint

fix (maybe?) a syntax error
  app/assets/stylesheets/application_styles.scss
Due: none

remove homepage stuff
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/homepage.scss
  app/assets/stylesheets/styles.scss
  app/controllers/homepage_controller.rb
  app/mailers/homepage_mailer.rb
  app/views/homepage/index.html.erb
  app/views/homepage_mailer/inquiry.mjml
  app/views/homepage_mailer/inquiry.text.erb
  app/views/layouts/homepage.html.erb
  config/routes.rb
  test/mailers/previews/homepage_mailer_preview.rb
Due: standardrb, erblint

removed unused global styles
  app/assets/stylesheets/globals.scss
  app/views/dev/styles.html.erb
Due: erblint

remove empty class
  app/assets/stylesheets/application_styles.scss
Due: none

Removed dead js controller, dead styles; removed admin only styles from application styles
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/styles.scss
  app/javascript/controllers/index.js
  app/javascript/controllers/request_item_controller.js
Due: standardjs

Remove completely unused styles or admin only styles from application css
  app/assets/stylesheets/application_overrides.scss
  app/assets/stylesheets/overrides.scss
Due: none

Standard js lint fixes
  app/javascript/controllers/index.js
Due: standardjs

Added renewal count to the renewal requests index page
  app/views/admin/renewal_requests/index.html.erb
Due: erblint

Added renewal count to the renewal requests index page (#1740)
  app/views/admin/renewal_requests/index.html.erb
Due: erblint

Add admin layout changes.
  app/views/layouts/admin.html.erb
Due: erblint

Use category name when linking to categories.
  app/views/admin/items/_items.html.erb
Due: erblint
