Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://evilmartians.github.io/lefthook/intro.html
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    prettier:
      run: yarn run lint:fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md
    newlines:
      tags: lint
      glob: "*.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}"
      run: bin/add_newlines {staged_files} && git add {staged_files}

Fix StandardRB linter issues
  app/controllers/admin/members/notes_controller.rb
  app/views/admin/members/notes/_list.html.erb
  config/routes.rb
  test/controllers/admin/notes_controller_test.rb
Due: standardrb, erblint, newlines

refactor: Enforce Document#code as an enum to allow utilization of helpers
  app/controllers/renewal/acceptances_controller.rb
  app/controllers/renewal/base_controller.rb
  app/controllers/renewal/documents_controller.rb
  app/controllers/signup/acceptances_controller.rb
  app/controllers/signup/base_controller.rb
  app/controllers/signup/documents_controller.rb
  app/models/document.rb
Due: standardrb, newlines

test: With 'code' now set to an 'enum', need a valid value
  test/factories/documents.rb
Due: standardrb, newlines

Implement Turbo Streams for pinned notes section
  app/controllers/admin/members/notes_controller.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/notes/_form.html.erb
  app/views/admin/members/notes/_list.html.erb
  app/views/admin/members/notes/create.turbo_stream.erb
  app/views/admin/members/notes/destroy.turbo_stream.erb
  app/views/admin/members/notes/update.turbo_stream.erb
Due: standardrb, erblint, newlines

Add Turbo Streams to All Notes tab with notes_table partial
  app/views/admin/members/notes/_notes_table.html.erb
  app/views/admin/members/notes/create.turbo_stream.erb
  app/views/admin/members/notes/destroy.turbo_stream.erb
  app/views/admin/members/notes/index.html.erb
  app/views/admin/members/notes/update.turbo_stream.erb
Due: erblint, newlines

Update NotesController tests to match Turbo Stream responses
  test/controllers/admin/notes_controller_test.rb
Due: standardrb, newlines

Enable Turbo on notes form to match Turbo Stream test
  app/views/admin/members/notes/_form.html.erb
Due: erblint, newlines

Update NotesController tests to match current Turbo Stream behavior
  test/controllers/admin/notes_controller_test.rb
Due: standardrb, newlines

spacing
  app/controllers/admin/members/notes_controller.rb
Due: standardrb, newlines

Added hidden label and submit button to the global search form, added outline to indicate when the logo link has focus
  app/assets/stylesheets/header.scss
  app/views/shared/_search.html.erb
Due: erblint, newlines

Adjust order of categories mark up and update css to match
  app/assets/stylesheets/partials/_items_index.scss
  app/helpers/items_helper.rb
  test/system/item_search_test.rb
Due: standardrb, newlines

mark available now filter as a switch
  app/views/items/_available_now_filter.html.erb
Due: erblint, newlines

Made the item search results page more accessible
  app/assets/stylesheets/application_styles.scss
  app/views/items/index.html.erb
Due: erblint, newlines

Use ul instead of feed
  app/assets/stylesheets/application_styles.scss
  app/views/items/index.html.erb
Due: erblint, newlines

fix tests broken by new selectors
  test/system/item_filtering_test.rb
  test/system/items_sorting_test.rb
  test/system/multitenancy_test.rb
Due: standardrb, newlines

Style the sort options on mobile to prevent weird wrapping
  app/assets/stylesheets/application_styles.scss
  app/views/items/index.html.erb
Due: erblint, newlines

Some minor lighthouse color/contrast tweaks
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/spectre-css/_variables.scss
  app/views/shared/_search.html.erb
Due: erblint, newlines

Added alt text, "labels" for otherwise empty a tags, corrected heading ordering
  app/views/account/appointments/index.html.erb
  app/views/account/holds/index.html.erb
  app/views/account/home/index.html.erb
  app/views/account/loans/history.html.erb
  app/views/account/loans/index.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
Due: erblint, newlines

Move the pagy nav into the section
  app/views/items/index.html.erb
Due: erblint, newlines

Fix ambiguous link error
  test/system/member_checked_out_items_test.rb
Due: standardrb, newlines

Added includes to appointment check ins/outs to speed things up a bit
  app/controllers/admin/appointments_controller.rb
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
Due: standardrb, erblint, newlines

refactor: Change 'coded' scope call to just use base AR 'where'
  app/controllers/admin/documents_controller.rb
Due: standardrb, newlines

chore: Remove scope deprecated in favor of 'enum' defintion for 'code' field
  app/models/document.rb
Due: standardrb, newlines

feat: Add ability for a member to view the most receent Document 'agreement', 'code_of_conduct', and 'borrow_policy'
  app/controllers/account/members_controller.rb
  app/views/account/members/agreement.html.erb
  app/views/account/members/borrow_policy.html.erb
  app/views/account/members/code_of_conduct.html.erb
  app/views/layouts/_header.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

Accessibility improvements for search (#1943)
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/header.scss
  app/assets/stylesheets/partials/_items_index.scss
  app/assets/stylesheets/spectre-css/_variables.scss
  app/helpers/items_helper.rb
  app/views/account/appointments/index.html.erb
  app/views/account/holds/index.html.erb
  app/views/account/home/index.html.erb
  app/views/account/loans/history.html.erb
  app/views/account/loans/index.html.erb
  app/views/items/_available_now_filter.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  app/views/shared/_search.html.erb
  test/system/item_filtering_test.rb
  test/system/item_search_test.rb
  test/system/items_sorting_test.rb
  test/system/member_checked_out_items_test.rb
  test/system/multitenancy_test.rb
Due: standardrb, erblint, newlines

Added includes to appointment check ins/outs to speed things up a bit (#1946)
  app/controllers/admin/appointments_controller.rb
  app/views/admin/appointments/_checkins.html.erb
  app/views/admin/appointments/_checkouts.html.erb
Due: standardrb, erblint, newlines

Fix lint error
  app/models/document.rb
Due: standardrb, newlines

Refactor Document model to use 'enum' for 'code' (#1938)
  app/controllers/admin/documents_controller.rb
  app/controllers/renewal/acceptances_controller.rb
  app/controllers/renewal/base_controller.rb
  app/controllers/renewal/documents_controller.rb
  app/controllers/signup/acceptances_controller.rb
  app/controllers/signup/base_controller.rb
  app/controllers/signup/documents_controller.rb
  app/models/document.rb
  test/factories/documents.rb
Due: standardrb, newlines

add selectize to tags field
  app/controllers/admin/items/tickets_controller.rb
  app/javascript/controllers/tag_editor_controller.js
  app/lib/spectre_form_builder.rb
  app/views/admin/items/tickets/_form.html.erb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb, erblint, newlines

fix formatting issues
  app/javascript/controllers/tag_editor_controller.js
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb, newlines

Add tags select and tag creation to maintenance tickets (#1952)
  app/controllers/admin/items/tickets_controller.rb
  app/javascript/controllers/tag_editor_controller.js
  app/lib/spectre_form_builder.rb
  app/views/admin/items/tickets/_form.html.erb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb, erblint, newlines

cascade cancelling appointments based on cancelled holds, fudge test
  app/models/hold.rb
  app/models/item.rb
  test/models/hold_test.rb
  test/models/item_test.rb
  test/system/admin/consumables_test.rb
Due: standardrb, newlines

notes form to allow HTML redirect
  app/views/admin/members/notes/_form.html.erb
Due: erblint, newlines

Update db/migrate/20250423201733_add_pinned_to_notes.rb
  db/migrate/20250423201733_add_pinned_to_notes.rb
Due: standardrb, newlines

Move group lending feature flag to central class
  app/lib/feature_flags.rb
  app/views/layouts/admin.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

wip
  app/controllers/signup/home_controller.rb
  app/controllers/signup/organization/home_controller.rb
  app/controllers/signup/organization/signup_controller.rb
  app/views/signup/home/index.html.erb
  app/views/signup/organization/home/cost.html.erb
  app/views/signup/organization/home/index.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

wip
  app/controllers/signup/organization/home_controller.rb
  app/controllers/signup/organization/signup_controller.rb
  app/controllers/signup/organization_controller.rb
  app/forms/organization_member_signup_form.rb
  app/views/signup/organization/cost.html.erb
  app/views/signup/organization/home/index.html.erb
  app/views/signup/organization/profile.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

Cancel appointments for holds that are ended when an item is unavailable (#1955)
  app/models/hold.rb
  app/models/item.rb
  test/models/hold_test.rb
  test/models/item_test.rb
  test/system/admin/consumables_test.rb
Due: standardrb, newlines

allow searching by different number formats (fixes #1949)
  app/models/item.rb
Due: standardrb, newlines

lint
  app/models/item.rb
Due: standardrb, newlines
