Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

Add test for basic flow
  app/controllers/signup/home_controller.rb
  app/controllers/signup/organization_controller.rb
  app/controllers/signup/organizations/approvals_controller.rb
  app/controllers/signup/organizations/base_controller.rb
  app/controllers/signup/organizations/confirm_email_controller.rb
  app/controllers/signup/organizations/policies_controller.rb
  app/controllers/signup/organizations/profiles_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/forms/organization_member_signup_form.rb
  app/mailers/user_mailer.rb
  app/models/organization.rb
  app/views/devise/mailer/confirmation_instructions.mjml
  app/views/signup/organizations/approvals/show.html.erb
  app/views/signup/organizations/confirm_email/show.html.erb
  app/views/signup/organizations/payments/new.html.erb
  app/views/signup/organizations/policies/show.html.erb
  app/views/signup/organizations/profiles/show.html.erb
  config/routes.rb
  db/migrate/20250722032821_drop_organization_website_uniqueness_index.rb
  db/schema.rb
  test/application_system_test_case.rb
  test/system/organizations/owner_signup_test.rb
Due: standardrb, erblint, newlines

rm comment
  test/system/organizations/owner_signup_test.rb
Due: standardrb, newlines

Fix organization test
  test/models/organization_test.rb
Due: standardrb, newlines

allow searching by different number formats (#1961)
  app/models/item.rb
Due: standardrb, newlines

Update C-Tool copy
  app/views/items/show.html.erb
  test/system/account/holds_test.rb
Due: standardrb, erblint, newlines

Change the status reason field for borrow policy approvals into a dropdown
  app/views/admin/borrow_policy_approvals/edit.html.erb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Show a banner to admin users when there are requested borrow policy approvals
  app/views/admin/borrow_policies/index.html.erb
  app/views/layouts/_requested_borrow_policy_approvals_banner.html.erb
  app/views/layouts/admin.html.erb
  test/system/admin/borrow_policies_test.rb
  test/system/admin/borrow_policy_approvals_notifications_test.rb
Due: standardrb, erblint, newlines

Update the how appointments work copy
  app/views/account/appointments/index.html.erb
Due: erblint, newlines

Upgraded Ruby to 3.4.5
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
Due: none

Update the how appointments work copy (#1968)
  app/views/account/appointments/index.html.erb
Due: erblint, newlines

Update C-Tool copy (#1963)
  app/views/admin/borrow_policy_approvals/edit.html.erb
  app/views/items/show.html.erb
  test/system/account/holds_test.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Show a banner to admin users when there are requested borrow policy approvals (#1965)
  app/views/admin/borrow_policies/index.html.erb
  app/views/layouts/_requested_borrow_policy_approvals_banner.html.erb
  app/views/layouts/admin.html.erb
  test/system/admin/borrow_policies_test.rb
  test/system/admin/borrow_policy_approvals_notifications_test.rb
Due: standardrb, erblint, newlines

Upgraded Ruby to 3.4.5 (#1970)
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
Due: none

Run bundle exec standardrb --fix
  app/controllers/account/members_controller.rb
Due: standardrb, newlines

Add ability for member to view Documents agreed to (#1947)
  app/controllers/account/members_controller.rb
  app/views/account/members/agreement.html.erb
  app/views/account/members/borrow_policy.html.erb
  app/views/account/members/code_of_conduct.html.erb
  app/views/layouts/_header.html.erb
  config/routes.rb
Due: standardrb, erblint, newlines

Split load_notes into separate before_action
  app/controllers/admin/members/base_controller.rb
Due: standardrb, newlines

Only load notes if a member was found
  app/controllers/admin/members/base_controller.rb
Due: standardrb, newlines

1737: Add pinned notes to member profiles (#1942)
  app/controllers/admin/members/base_controller.rb
  app/controllers/admin/members/notes_controller.rb
  app/models/note.rb
  app/views/admin/members/_profile.html.erb
  app/views/admin/members/notes/_form.html.erb
  app/views/admin/members/notes/_list.html.erb
  app/views/admin/members/notes/_notes_table.html.erb
  app/views/admin/members/notes/destroy.turbo_stream.erb
  app/views/admin/members/notes/index.html.erb
  app/views/admin/members/notes/update.turbo_stream.erb
  config/routes.rb
  db/migrate/20250423201733_add_pinned_to_notes.rb
  db/schema.rb
  test/controllers/admin/notes_controller_test.rb
Due: standardrb, erblint, newlines

Remove extra file
  app/views/signup/organizations/payments/new.html.erb
Due: erblint, newlines

Move org signup URL into an env var
  .env
  .env.test
  app/controllers/signup/home_controller.rb
Due: standardrb, newlines

Ignore myturn images dir
  .gitignore
Due: none

Add gem
  Gemfile
  Gemfile.lock
Due: none

Added pill to mark tools that require approval in the search results
  app/assets/stylesheets/application_styles.scss
  app/views/items/index.html.erb
  test/system/items_requiring_approval_test.rb
Due: standardrb, erblint, newlines

Added a staff approval required filter link to items search
  app/assets/stylesheets/partials/_items_index.scss
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  test/system/item_filtering_test.rb
Due: standardrb, erblint, newlines

Added borrow policy approval statuses to the member profile page and added the ability to request approval
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/controllers/account/members_controller.rb
  app/views/account/members/show.html.erb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

Revert "Added borrow policy approval statuses to the member profile page and added the ability to request approval"
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/controllers/account/members_controller.rb
  app/views/account/members/show.html.erb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

Reapply "Added borrow policy approval statuses to the member profile page and added the ability to request approval"
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/controllers/account/members_controller.rb
  app/views/account/members/show.html.erb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

Added a small message letting users know they have been approved for C-Tools
  app/controllers/account/home_controller.rb
  app/views/account/home/index.html.erb
  test/controllers/account/home_controller_test.rb
Due: standardrb, erblint, newlines

Added pill to mark tools that require approval in the search results (#1982)
  app/assets/stylesheets/application_styles.scss
  app/views/items/index.html.erb
  test/system/items_requiring_approval_test.rb
Due: standardrb, erblint, newlines

Added a staff approval required filter link to items search (#1983)
  app/assets/stylesheets/partials/_items_index.scss
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  test/system/item_filtering_test.rb
Due: standardrb, erblint, newlines

Added a small message letting users know they have been approved for C-Tools (#1990)
  app/controllers/account/home_controller.rb
  app/views/account/home/index.html.erb
  test/controllers/account/home_controller_test.rb
Due: standardrb, erblint, newlines

Soften the language around rejected/revoked approvals
  app/views/account/members/show.html.erb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

Added borrow policy approval statuses to the member profile page and added the ability to request approval (#1985)
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/controllers/account/members_controller.rb
  app/views/account/members/show.html.erb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

Added borrow policy authorizer
  app/lib/borrow_policy_authorizer.rb
  test/lib/borrow_policy_authorizer_test.rb
Due: standardrb, newlines

Use the borrow policy authorizer in the borrow policy approvals controller
  app/controllers/account/borrow_policy_approvals_controller.rb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
Due: standardrb, newlines

Use the borrow policy authorizer in the item show page
  app/views/items/show.html.erb
Due: erblint, newlines

Fix up test
  test/system/account/holds_test.rb
Due: standardrb, newlines

Use the borrow policy authorizer on the member profile page
  app/views/account/members/show.html.erb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

A member that has been rejected, had their access to C-Tools revoked or is new can make a new request after 2 months (#1989)
  app/controllers/account/borrow_policy_approvals_controller.rb
  app/lib/borrow_policy_authorizer.rb
  app/views/account/members/show.html.erb
  app/views/items/show.html.erb
  test/controllers/account/borrow_policy_approvals_controller_test.rb
  test/lib/borrow_policy_authorizer_test.rb
  test/system/account/holds_test.rb
  test/system/member_profile_test.rb
Due: standardrb, erblint, newlines

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/new.html.erb
  config/initializers/stripe.rb
  config/routes.rb
Due: standardrb, erblint, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
