Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

standardjs:
  run: yarn run standard --fix {staged_files} && git add {staged_files}

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Add trailing newlines to files.
  bin/add_newlines
  lefthook.yml
Due: none

Add missing newlines to many files
  CONTRIBUTING.md
  app/assets/stylesheets/account.scss
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/globals.scss
  app/assets/stylesheets/helpers/layouts_helper.scss
  app/assets/stylesheets/homepage.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/partials/_admin_members_item_holds.scss
  app/assets/stylesheets/partials/_admin_memberships.scss
  app/assets/stylesheets/partials/_appointment_form.scss
  app/assets/stylesheets/partials/_group_lending.scss
  app/assets/stylesheets/partials/_index.scss
  app/assets/stylesheets/partials/_items_index.scss
  app/assets/stylesheets/partials/_users_password_new.scss
  app/assets/stylesheets/partials/_users_sign_in.scss
  app/assets/stylesheets/public.scss
  app/assets/stylesheets/volunteer.scss
  app/forms/README.md
  app/views/admin/items/notes/create.turbo_stream.erb
  app/views/admin/members/notes/create.turbo_stream.erb
  app/views/admin/pickups/_reservation_hold.erb
  app/views/admin/pickups/reservation_loans/create.turbo_stream.erb
  app/views/admin/settings/email_settings/preview.html.mjml
  app/views/member_mailer/appointment_confirmation.text.erb
  app/views/member_mailer/hold_available.mjml
  app/views/member_mailer/hold_available.text.erb
  app/views/member_mailer/membership_reminder.mjml
  app/views/member_mailer/membership_renewal_reminder.mjml
  app/views/member_mailer/overdue_notice.mjml
  app/views/member_mailer/renewal_message.text.erb
  app/views/member_mailer/renewal_request_updated.mjml
  app/views/member_mailer/renewal_request_updated.text.erb
  app/views/member_mailer/staff_daily_renewal_requests.mjml
  app/views/member_mailer/summary.mjml
  app/views/member_mailer/summary.text.erb
  test/fixtures/square/retrieve_transaction_success.json
Due: erblint

add admin items loan histories controller view for layout
  app/controllers/admin/items/loan_histories_controller.rb
  app/views/admin/items/loan_histories/show.html.erb
  config/routes.rb
Due: standardrb, erblint

Attempt fix for InvalidAuthenticityToken errors
  app/controllers/application_controller.rb
  app/lib/non_session_cookie_store.rb
Due: standardrb

linting
  app/views/admin/items/loan_histories/show.html.erb
Due: erblint

Add standardjs check to CI
  .github/workflows/ci.yml
Due: none

Send USER_AGENT header to appsignal to aid in debugging
  config/appsignal.yml
Due: none

remove old loan history layout, controller that renders it, and associated route
  app/controllers/admin/loan_histories_controller.rb
  app/views/admin/loan_histories/show.html.erb
  config/routes.rb
Due: standardrb, erblint

Item loan history page uses item layout (#1479)
  app/controllers/admin/items/loan_histories_controller.rb
  app/controllers/admin/loan_histories_controller.rb
  app/views/admin/items/loan_histories/show.html.erb
  app/views/admin/loan_histories/show.html.erb
  config/routes.rb
Due: standardrb, erblint

improve hold text and buttons on item page
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
  app/views/items/show.html.erb
Due: erblint

improve text for users not signed in
  app/views/items/place_hold_on/_not_logged_in.html.erb
Due: erblint

add bold text
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
Due: erblint

Attempt fix for InvalidAuthenticityToken errors (#1478)
  app/controllers/application_controller.rb
  app/lib/non_session_cookie_store.rb
Due: standardrb

Add standardjs check to CI (#1480)
  .github/workflows/ci.yml
Due: none

Image processing: switch to vips and track variants
  config/application.rb
Due: none

Install vips in CI
  .github/workflows/ci.yml
Due: none

Image processing: switch to vips and track variants (#1484)
  .github/workflows/ci.yml
  config/application.rb
Due: none

Convert rotation to integer when fetching variant
  app/helpers/items_helper.rb
Due: standardrb

Convert rotation to integer when fetching variant (#1485)
  app/helpers/items_helper.rb
Due: standardrb

Add show screen for reservation, improve index.
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/_reservation.html.erb
  app/views/admin/reservations/index.html.erb
  app/views/admin/reservations/show.html.erb
Due: standardrb, erblint

Nestle pickup show inside reservation tabs.
  app/controllers/admin/pickups_controller.rb
  app/views/admin/pickups/_pickup.html.erb
  app/views/admin/pickups/show.html.erb
  app/views/admin/reservations/_profile.html.erb
Due: standardrb, erblint

Collapse Pickup into Reservation
  app/controllers/admin/pickups/base_controller.rb
  app/controllers/admin/pickups/checkins_controller.rb
  app/controllers/admin/pickups/checkouts_controller.rb
  app/controllers/admin/pickups_controller.rb
  app/controllers/admin/reservations/pickups_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/controllers/admin/reservations/statuses_controller.rb
  app/helpers/pickups_helper.rb
  app/models/pickup.rb
  app/models/reservation.rb
  app/models/reservation_loan.rb
  app/views/admin/pickups/_status.html.erb
  app/views/admin/pickups/reservation_loans/create.turbo_stream.erb
  app/views/admin/pickups/show.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/_status.html.erb
  app/views/admin/reservations/pickups/_reservation_hold.erb
  app/views/admin/reservations/pickups/show.html.erb
  app/views/admin/reservations/reservation_loans/_form.html.erb
  app/views/admin/reservations/reservation_loans/create.turbo_stream.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  db/migrate/20240510045018_flatten_pickup_into_reservation.rb
  db/schema.rb
Due: standardrb, erblint

Try using a state machine to model reservation states.
  Gemfile
  Gemfile.lock
  app/lib/reservation_state_machine.rb
  app/models/reservation.rb
Due: standardrb

Use manager to drive UI for state transitions
  app/models/reservation_loan.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/pickups/_reservation_hold.erb
  app/views/admin/reservations/pickups/show.html.erb
Due: standardrb, erblint

Update reviews flow to use state machine.
  app/controllers/admin/reservations/reviews_controller.rb
  app/views/admin/reservations/reviews/_form.html.erb
Due: standardrb, erblint

Added pagination to account holds history
  Gemfile.lock
  app/controllers/account/holds_controller.rb
  app/views/account/holds/history.html.erb
  test/system/holds_test.rb
Due: standardrb, erblint

add validation on Reservation to prevent unwated ended_at dates, js for setting a min end date based on select start date in the reservation form
  app/models/reservation.rb
  app/views/admin/reservations/_form.html.erb
Due: standardrb, erblint

Added filtering by role to the users index page for admins
  Gemfile.lock
  app/controllers/admin/users_controller.rb
  app/views/admin/users/index.html.erb
  test/factories/users.rb
  test/system/admin/users_test.rb
Due: standardrb, erblint

Pulled query filtering logic into a method to make merging with a future pagination story easier
  app/controllers/admin/users_controller.rb
Due: standardrb

attemp to use stimilus controller
  app/javascript/controllers/index.js
  app/javascript/controllers/reservation_dates_controller.js
  app/views/admin/reservations/_form.html.erb
Due: standardjs, erblint

cleanup/linting
  app/javascript/controllers/index.js
  app/views/admin/reservations/_form.html.erb
Due: standardjs, erblint

Add reservation index and show pages (#1488)
  app/controllers/admin/pickups_controller.rb
  app/controllers/admin/reservations_controller.rb
  app/models/reservation.rb
  app/views/admin/pickups/_pickup.html.erb
  app/views/admin/pickups/show.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/_reservation.html.erb
  app/views/admin/reservations/index.html.erb
  app/views/admin/reservations/show.html.erb
Due: standardrb, erblint

Added pagination to account holds history (#1491)
  Gemfile.lock
  app/controllers/account/holds_controller.rb
  app/views/account/holds/history.html.erb
  test/system/holds_test.rb
Due: standardrb, erblint

Added filtering by role to the users index page for admins (#1495)
  app/controllers/admin/users_controller.rb
  app/views/admin/users/index.html.erb
  test/factories/users.rb
  test/system/admin/users_test.rb
Due: standardrb, erblint

Added pagination to the admin users index page under settings
  app/controllers/admin/users_controller.rb
  app/views/admin/users/index.html.erb
Due: standardrb, erblint

Adjust changes after pulling in main
  app/controllers/admin/users_controller.rb
Due: standardrb

Update nix setup to support vips
  flake.lock
  flake.nix
Due: none

Update nix setup to support vips (#1503)
  flake.lock
  flake.nix
Due: none

Tweak appointment required language
  app/views/account/appointments/index.html.erb
Due: erblint

Path conditions:
  standardjs: any of: *.js
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
