Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://evilmartians.github.io/lefthook/intro.html
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    prettier:
      run: yarn run lint:fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md
    newlines:
      tags: lint
      glob: "*.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}"
      run: bin/add_newlines {staged_files} && git add {staged_files}

Enable trigram extension
  db/migrate/20260107012305_activate_trigram_extension.rb
  db/schema.rb
Due: standardrb, newlines

Adjust sorting test
  test/system/items_sorting_test.rb
Due: standardrb, newlines

use blend of tsearch and trigram (#2067)
  app/models/item.rb
  db/migrate/20260107012305_activate_trigram_extension.rb
  db/schema.rb
  test/system/items_sorting_test.rb
Due: standardrb, newlines

Removed anchor that prevented the cancel link from refreshing the page
  app/views/admin/members/lookups/show.html.erb
Due: erblint, newlines

Remove system test for creating users (feature removed)
  test/system/admin/users_test.rb
Due: standardrb, newlines

Fix: Pressing cancel in the item lookup box doesn't always work (#2081)
  app/views/admin/members/lookups/show.html.erb
Due: erblint, newlines

Fix Warden test state leaking between system tests
  test/application_system_test_case.rb
Due: standardrb, newlines

Enforce User-Member relationship by auto-creating Users when admin creates Members (#2069)
  app/controllers/admin/members_controller.rb
  app/controllers/admin/users_controller.rb
  app/views/admin/users/index.html.erb
  app/views/admin/users/new.html.erb
  test/application_system_test_case.rb
  test/controllers/admin/members_controller_test.rb
  test/controllers/admin/users_controller_test.rb
  test/system/admin/users_test.rb
Due: standardrb, erblint, newlines

Replace awesomplete with a simple datalist
  Gemfile.lock
  app/assets/stylesheets/admin_application.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/styles.scss
  app/javascript/controllers/autocomplete_controller.js
  app/lib/spectre_form_builder.rb
  package.json
  yarn.lock
Due: standardrb, newlines

Add simpler status reason option for borrow policy approvals
  app/views/admin/borrow_policy_approvals/edit.html.erb
Due: erblint, newlines

Add simpler status reason option for borrow policy approvals (#2090)
  app/views/admin/borrow_policy_approvals/edit.html.erb
Due: erblint, newlines

Replace awesomplete with a simple datalist (#2087)
  Gemfile.lock
  app/assets/stylesheets/admin_application.scss
  app/assets/stylesheets/overrides.scss
  app/assets/stylesheets/styles.scss
  app/javascript/controllers/autocomplete_controller.js
  app/lib/spectre_form_builder.rb
  package.json
  yarn.lock
Due: standardrb, newlines

Handle users without member records gracefully in account area
  app/controllers/account/base_controller.rb
Due: standardrb, newlines

Handle users without member records gracefully in account area (#2091)
  app/controllers/account/base_controller.rb
Due: standardrb, newlines

Require postal_code to be a 5 digit integer
  app/models/member.rb
  test/models/member_test.rb
Due: standardrb, newlines

Replace chicago map with a more accurate one.
  app/assets/stylesheets/admin.scss
  app/controllers/admin/maps_controller.rb
  app/controllers/admin/reports/zipcodes_controller.rb
  app/lib/map/chicago.rb
  app/lib/map/chicago.svg
  app/views/admin/reports/zipcodes/index.html.erb
  config/routes.rb
  test/lib/map/chicago_test.rb
Due: standardrb, erblint, newlines

Fix the zipcode map (#2092)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/maps_controller.rb
  app/controllers/admin/reports/zipcodes_controller.rb
  app/lib/map/chicago.rb
  app/lib/map/chicago.svg
  app/models/member.rb
  app/views/admin/reports/zipcodes/index.html.erb
  config/routes.rb
  test/lib/map/chicago_test.rb
  test/models/member_test.rb
Due: standardrb, erblint, newlines

Update feature flag name
  .env
  app/lib/feature_flags.rb
Due: standardrb, newlines

Update devdata to reflect camping use case.
  db/devdata/categories.yml
  db/devdata/item_pools.yml
  db/devdata/reservable_items.yml
Due: none

Sketch out first part of new reservation UI for members.
  app/assets/stylesheets/application_styles.scss
  app/assets/stylesheets/reservations.scss
  app/controllers/account/current_reservations_controller.rb
  app/controllers/account/item_pools_controller.rb
  app/controllers/account/reservation_holds_controller.rb
  app/controllers/account/reservations/item_pool_searches_controller.rb
  app/controllers/application_controller.rb
  app/controllers/item_pools_controller.rb
  app/helpers/reservations_helper.rb
  app/models/member.rb
  app/views/account/item_pools/index.html.erb
  app/views/account/reservations/reservation_holds/_reservation_hold.html.erb
  app/views/account/reservations/show.html.erb
  app/views/item_pools/_item_pool.html.erb
  app/views/item_pools/availabilities/show.html.erb
  app/views/item_pools/index.html.erb
  app/views/item_pools/reservable_items/_reservable_item.html.erb
  app/views/item_pools/reservable_items/index.html.erb
  app/views/item_pools/reservable_items/show.html.erb
  app/views/item_pools/show.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/admin.html.erb
  app/views/shared/_current_reservation_header.html.erb
  config/initializers/custom_time_formats.rb
  config/routes.rb
  test/controllers/signup/home_controller_test.rb
Due: standardrb, erblint, newlines

Rework reservation events and tweak how start and end times are stored. Add new UI for member reservation editing.
  app/assets/stylesheets/application_styles.scss
  app/controllers/account/current_reservations_controller.rb
  app/controllers/account/reservation_holds_controller.rb
  app/controllers/account/reservations_controller.rb
  app/controllers/item_pools_controller.rb
  app/helpers/reservations_helper.rb
  app/models/appointment.rb
  app/models/item_pool.rb
  app/models/member.rb
  app/models/reservation.rb
  app/views/account/appointments/edit.html.erb
  app/views/account/appointments/index.html.erb
  app/views/account/reservations/_form.html.erb
  app/views/account/reservations/_index_tabs.html.erb
  app/views/account/reservations/index.html.erb
  app/views/account/reservations/show.html.erb
  app/views/item_pools/index.html.erb
  app/views/item_pools/show.html.erb
  app/views/shared/_current_reservation_header.html.erb
  config/initializers/date_format.rb
  config/routes.rb
  db/schema.rb
  test/factories/events.rb
  test/factories/reservations.rb
  test/lib/reservation_date_validator_test.rb
  test/models/item_pool_test.rb
  test/models/reservation_test.rb
Due: standardrb, erblint, newlines

Fix up test that breaks because of daylight saving time
  test/system/membership_renewal_test.rb
Due: standardrb, newlines

Fix tests
  app/views/account/appointments/index.html.erb
  test/system/account/reservations/questions_test.rb
  test/system/account/reservations_test.rb
  test/system/admin/reservations/questions_test.rb
  test/system/admin/reservations/reservations_test.rb
Due: standardrb, erblint, newlines

Fix setup script
  lib/tasks/devdata.rake
Due: none

run standardrb
  lib/tasks/devdata.rake
Due: none

Add gem
  Gemfile
  Gemfile.lock
Due: none

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/controllers/stripe_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/callback.html.erb
  app/views/account/organization_payments/new.html.erb
  config/environments/development.rb
  config/routes.rb
Due: standardrb, erblint, newlines

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/new.html.erb
  config/initializers/stripe.rb
  config/routes.rb
Due: standardrb, erblint, newlines

Sketch out integration
  .env
  app/controllers/account/organization_payments_controller.rb
  app/controllers/account/payment_methods_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/stripe_controller.js
  app/lib/feature_flags.rb
  app/lib/stripe_checkout.rb
  app/models/payment_method.rb
  app/models/user.rb
  app/views/account/organization_payments/callback.html.erb
  app/views/account/organization_payments/new.html.erb
  app/views/account/payment_methods/index.html.erb
  app/views/account/payment_methods/new.html.erb
  config/routes.rb
  db/migrate/20250904011345_add_stripe_customer_id_to_users.rb
  db/migrate/20250918011950_create_payment_methods.rb
  db/schema.rb
  test/factories/payment_methods.rb
  test/models/payment_method_test.rb
Due: standardrb, erblint, newlines

Rearrange migrations after rebase
  app/models/user.rb
  db/migrate/20250904011345_add_stripe_customer_id_to_users.rb
  db/migrate/20260213221407_add_stripe_customer_id_to_users_and_create_custom_payment_methods.rb
  db/schema.rb
Due: standardrb, newlines

Made skipping csrf protection narrower for the github security bot
  app/controllers/stripe_controller.rb
Due: standardrb, newlines

Added basic VCR/webmock setup and some tests for StripeCheckout
  Gemfile
  Gemfile.lock
  app/lib/stripe_checkout.rb
  test/lib/stripe_checkout_test.rb
  test/test_helper.rb
  test/vcr_cassettes/create_stripe_customer.yml
Due: standardrb, newlines

Added tests for StripeCheckout
  app/lib/stripe_checkout.rb
  test/lib/stripe_checkout_test.rb
  test/vcr_cassettes/create_intent.yml
  test/vcr_cassettes/create_intent_failure.yml
  test/vcr_cassettes/delete_stripe_payment_method.yml
  test/vcr_cassettes/delete_stripe_payment_method_failure.yml
  test/vcr_cassettes/list_stripe_payment_methods.yml
  test/vcr_cassettes/list_stripe_payment_methods_failure.yml
Due: standardrb, newlines

WIP: system tests for payment methods, non-nullable colums
  app/controllers/account/payment_methods_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/payment_methods/index.html.erb
  db/migrate/20260213221407_add_stripe_customer_id_to_users_and_create_custom_payment_methods.rb
  db/schema.rb
  test/factories/payment_methods.rb
  test/lib/stripe_checkout_test.rb
  test/models/payment_method_test.rb
  test/system/account/payment_methods_test.rb
  test/test_helper.rb
Due: standardrb, erblint, newlines

Delete commented out code
  app/controllers/account/reservation_holds_controller.rb
Due: standardrb, newlines

Adjust holds page text and buttons for more clarity
  app/helpers/holds_helper.rb
  app/views/account/holds/index.html.erb
  lib/tasks/devdata.rake
Due: standardrb, erblint, newlines

Add configurable per-item hold duration
  app/controllers/admin/items_controller.rb
  app/helpers/holds_helper.rb
  app/helpers/items_helper.rb
  app/models/hold.rb
  app/models/item.rb
  app/views/account/holds/index.html.erb
  app/views/admin/items/_form.html.erb
  app/views/items/place_hold_on/_item.html.erb
  app/views/items/show.html.erb
  app/views/member_mailer/holds_available.mjml
  app/views/member_mailer/holds_available.text.erb
  db/migrate/20260317142040_add_hold_duration_to_items.rb
  db/schema.rb
  test/controllers/account/appointments_controller_test.rb
  test/models/hold_test.rb
Due: standardrb, erblint, newlines

Use toast-warning for short hold messaging
  app/views/items/place_hold_on/_item.html.erb
  app/views/items/place_hold_on/_item_already_with_a_hold.html.erb
Due: erblint, newlines

Destroy associated user when a member is destroyed
  app/models/member.rb
  test/controllers/admin/members_controller_test.rb
Due: standardrb, newlines
