Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardjs, standardrb, erblint, readme

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    standardjs:
      glob: "*.js"
      run: yarn run standard --fix {staged_files} && git add {staged_files}
    standardrb:
      tags: style
      glob: "*.rb"
      exclude: "application.rb|routes.rb|schema.rb"
      run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}
    erblint:
      tags: style
      glob: "*.erb"
      run: bundle exec erblint -a {staged_files} && git add {staged_files}
    readme:
      glob: "README.md"
      tags: lint
      run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

Remove commented code from first attempt
  app/models/library.rb
  app/models/reservation.rb
Due: standardrb

Replaced Library##reservation_start_range with Library#valid_reservation_started_at?
  app/models/library.rb
  test/models/library_test.rb
Due: standardrb

Rename test class
  test/models/reservation_test.rb
Due: standardrb

Added Library#reservation_start_range
  app/models/library.rb
  test/models/library_test.rb
Due: standardrb

Added validation to ensure that reservations never last longer than what the library allows for
  app/models/reservation.rb
  test/models/reservation_test.rb
Due: standardrb

Removed unused strong params
  app/controllers/super_admin/libraries_controller.rb
Due: standardrb

Added comments to visualize the test data situations
  test/lib/reservation_date_validator_test.rb
Due: standardrb

Added validation to reservations to ensure started_at is valid for the associated library
  app/models/reservation.rb
  test/models/item_pool_test.rb
  test/models/reservation_test.rb
Due: standardrb

Refactored private methods to take fewer arguments
  app/lib/reservation_date_validator.rb
Due: standardrb

Lint fixes
  app/views/super_admin/libraries/edit.html.erb
  app/views/super_admin/libraries/index.html.erb
  app/views/super_admin/libraries/new.html.erb
  app/views/super_admin/libraries/show.html.erb
Due: erblint

Wind back changes to library
  app/models/library.rb
  app/models/reservation.rb
  app/views/super_admin/libraries/_form.html.erb
  app/views/super_admin/libraries/show.html.erb
  db/migrate/20240613170003_add_reservation_validations_to_libraries.rb
  db/schema.rb
  test/factories/libraries.rb
  test/models/library_test.rb
  test/models/reservation_test.rb
  test/system/super_admin/libraries_test.rb
Due: standardrb, erblint

Remove unnecessary test setup change
  test/models/item_pool_test.rb
Due: standardrb

CRUD for reservation policies
  app/controllers/admin/reservation_policies_controller.rb
  app/models/reservation_policy.rb
  app/views/admin/reservation_policies/_form.html.erb
  app/views/admin/reservation_policies/edit.html.erb
  app/views/admin/reservation_policies/index.html.erb
  app/views/admin/reservation_policies/new.html.erb
  app/views/admin/reservation_policies/show.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  test/controllers/admin/reservation_policies_controller_test.rb
  test/models/reservation_policy_test.rb
  test/system/admin/reservation_policies_test.rb
Due: standardrb, erblint

Show associated item pools on the reservation policy show page
  app/models/reservation_policy.rb
  app/views/admin/reservation_policies/show.html.erb
  test/system/admin/reservation_policies_test.rb
Due: standardrb, erblint

fixed a typo
  test/system/admin/reservation_policies_test.rb
Due: standardrb

refactor the validator and actually display warnings
  app/assets/stylesheets/styles.scss
  app/lib/reservation_date_validator.rb
  app/models/reservation_policy.rb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/_reservation_policies_warnings.html.erb
  test/lib/reservation_date_validator_test.rb
  test/models/reservation_policy_test.rb
Due: standardrb, erblint

Added the ability to associate and item pool with a reservation policy
  app/controllers/admin/item_pools_controller.rb
  app/views/admin/item_pools/_form.html.erb
  test/factories/item_pools.rb
  test/system/admin/item_pools_test.rb
Due: standardrb, erblint

Have item pools link back to their reservation policies
  app/views/admin/item_pools/_item_pool_panel.html.erb
Due: erblint

Use text instead of string for description
  db/migrate/20240621143644_create_reservation_policies.rb
  db/schema.rb
Due: standardrb

Removed unnecessary call to set_reservation_policy_options
  app/controllers/admin/item_pools_controller.rb
Due: standardrb

Lint cleanup
  app/views/admin/reservation_policies/show.html.erb
  app/views/admin/reservations/_profile.html.erb
  test/lib/reservation_date_validator_test.rb
Due: standardrb, erblint

Prevent migration issues once deployed
  db/migrate/20240627143644_create_reservation_policies.rb
  db/schema.rb
Due: standardrb

Add links to the square dashboard to membership list.
  app/helpers/admin_helper.rb
  app/views/admin/members/memberships/index.html.erb
Due: standardrb, erblint

Move Square payment processing into a background job.
  .env
  .env.test
  app/controllers/renewal/confirmations_controller.rb
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/confirmations_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/jobs/square_payment_job.rb
  app/lib/square_checkout.rb
  app/views/renewal/confirmations/show.html.erb
  app/views/renewal/payments/wait.html.erb
  app/views/signup/confirmations/_instructions.html.erb
  app/views/signup/confirmations/show.html.erb
  app/views/signup/payments/wait.html.erb
  config/routes.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/controllers/square_controller_test.rb
  test/lib/square_checkout_test.rb
  test/test_helper.rb
Due: standardrb, erblint

Allow the use of free ngrok accounts during local development.
  config/environments/development.rb
Due: standardrb

Refactor SquareCheckout into a module with multiple files.
  app/controllers/renewal/payments_controller.rb
  app/controllers/signup/payments_controller.rb
  app/controllers/square_controller.rb
  app/lib/square_checkout.rb
  app/lib/square_checkout/client.rb
  app/lib/square_checkout/fetched_order.rb
  app/lib/square_checkout/square_error.rb
  test/controllers/renewal/payments_controller_test.rb
  test/controllers/signup/payments_controller_test.rb
  test/lib/square_checkout/client_test.rb
  test/lib/square_checkout_test.rb
Due: standardrb

SquareCheckout is a module now.
  app/jobs/square_payment_job.rb
Due: standardrb

Use SQUARE_ENVIRONMENT env var to pick a square dashboard URL.
  app/helpers/admin_helper.rb
Due: standardrb

Port old controller test to a job test.
  app/jobs/square_payment_job.rb
  app/lib/square_checkout/client.rb
  test/jobs/square_payment_job_test.rb
Due: standardrb

Remove unnecessary use of SquareCheckout::Client.
  app/controllers/square_controller.rb
Due: standardrb

acts_as_tenant handles the library for us.
  app/controllers/square_controller.rb
Due: standardrb

Handle already having created a membership for a user.
  app/jobs/square_payment_job.rb
  test/jobs/square_payment_job_test.rb
Due: standardrb

Wrap membership creation and order completion in a transaction.
  app/jobs/square_payment_job.rb
Due: standardrb

Allow admins to configure reservation starts and ends at through reservation policies (#1545)
  app/assets/stylesheets/styles.scss
  app/controllers/admin/item_pools_controller.rb
  app/controllers/admin/reservation_policies_controller.rb
  app/controllers/super_admin/libraries_controller.rb
  app/lib/reservation_date_validator.rb
  app/models/item_pool.rb
  app/models/reservation.rb
  app/models/reservation_policy.rb
  app/views/admin/item_pools/_form.html.erb
  app/views/admin/item_pools/_item_pool_panel.html.erb
  app/views/admin/reservation_policies/_form.html.erb
  app/views/admin/reservation_policies/edit.html.erb
  app/views/admin/reservation_policies/index.html.erb
  app/views/admin/reservation_policies/new.html.erb
  app/views/admin/reservation_policies/show.html.erb
  app/views/admin/reservations/_profile.html.erb
  app/views/admin/reservations/_reservation_policies_warnings.html.erb
  app/views/layouts/admin.html.erb
  app/views/super_admin/libraries/edit.erb
  app/views/super_admin/libraries/edit.html.erb
  app/views/super_admin/libraries/index.html.erb
  app/views/super_admin/libraries/new.html.erb
  app/views/super_admin/libraries/show.html.erb
  config/routes.rb
  db/migrate/20240627143644_create_reservation_policies.rb
  db/schema.rb
  test/controllers/admin/reservation_policies_controller_test.rb
  test/factories/item_pools.rb
  test/factories/reservation_policies.rb
  test/lib/reservation_date_validator_test.rb
  test/models/reservation_policy_test.rb
  test/models/reservation_test.rb
  test/system/admin/item_pools_test.rb
  test/system/admin/reservation_policies_test.rb
  test/system/super_admin/libraries_test.rb
Due: standardrb, erblint

Remove library_id from expected job arguments.
  test/controllers/square_controller_test.rb
Due: standardrb

Include arm64-darwin-23 in platforms
  Gemfile.lock
Due: none

Fix test
  test/lib/square_checkout/client_test.rb
Due: standardrb

Adjust how membership validations are calculated
  app/models/membership.rb
  test/models/membership_test.rb
Due: standardrb

Include arm64-darwin-23 in platforms (#1573)
  Gemfile.lock
Due: none

Remove one day gap when renewing a membership (#1558)
  app/models/membership.rb
  test/models/membership_test.rb
Due: standardrb
