Repository chicago-tool-library/circulate: changes, and which lefthook commands are due for each by the changed paths.
All: standardrb, erblint, readme, newlines

standardrb:
  tags: style
  run: bundle exec standardrb --parallel --fix {staged_files} && git add {staged_files}

erblint:
  tags: style
  run: bundle exec erblint -a {staged_files} && git add {staged_files}

readme:
  tags: lint
  run: yarn run markdown-toc --bullets="-" -i README.md && git add README.md

newlines:
  tags: lint
  run: bin/add_newlines {staged_files} && git add {staged_files}

Added ability for librarians to instantly approve members for C-Tools from the admin member page
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/views/admin/members/_member_details.html.erb
  config/routes.rb
  test/controllers/admin/borrow_policy_approvals_controller_test.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Librarians should be able to grant access to C-Tools even when the member hasn't requested it (#2000)
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/views/admin/members/_member_details.html.erb
  config/routes.rb
  test/controllers/admin/borrow_policy_approvals_controller_test.rb
  test/system/admin/borrow_policies_test.rb
Due: standardrb, erblint, newlines

Lint fixes
  app/controllers/admin/borrow_policy_approvals_controller.rb
  app/controllers/admin/reservations/base_controller.rb
  app/controllers/admin/reservations/pending_reservation_items_controller.rb
  app/controllers/admin/reservations/reservation_loans_controller.rb
  app/helpers/application_helper.rb
  app/models/concerns/item_categorization.rb
  app/views/account/reservations/_answers.html.erb
  test/controllers/application_controller_test.rb
Due: standardrb, erblint, newlines

Revert square.rb version
  Gemfile
  Gemfile.lock
Due: none

Revert square.rb version (#2003)
  Gemfile
  Gemfile.lock
Due: none

Update nix and docker dev env
  docker-compose.yml
  flake.lock
Due: none

Add initial organization signup flow (#1962)
  .env
  .env.test
  app/controllers/signup/home_controller.rb
  app/controllers/signup/organizations/approvals_controller.rb
  app/controllers/signup/organizations/base_controller.rb
  app/controllers/signup/organizations/confirm_email_controller.rb
  app/controllers/signup/organizations/policies_controller.rb
  app/controllers/signup/organizations/profiles_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/forms/organization_member_signup_form.rb
  app/lib/feature_flags.rb
  app/mailers/user_mailer.rb
  app/models/organization.rb
  app/views/devise/mailer/confirmation_instructions.mjml
  app/views/layouts/admin.html.erb
  app/views/signup/home/index.html.erb
  app/views/signup/organizations/approvals/show.html.erb
  app/views/signup/organizations/confirm_email/show.html.erb
  app/views/signup/organizations/policies/show.html.erb
  app/views/signup/organizations/profiles/show.html.erb
  config/routes.rb
  db/migrate/20250722032821_drop_organization_website_uniqueness_index.rb
  db/schema.rb
  test/application_system_test_case.rb
  test/models/organization_test.rb
  test/system/organizations/owner_signup_test.rb
Due: standardrb, erblint, newlines

Add gem
  Gemfile
  Gemfile.lock
Due: none

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/new.html.erb
  config/initializers/stripe.rb
  config/routes.rb
Due: standardrb, erblint, newlines

wip
  .env
  app/controllers/account/organization_payments_controller.rb
  app/controllers/stripe_controller.rb
  app/lib/stripe_checkout.rb
  app/views/account/organization_payments/callback.html.erb
  app/views/account/organization_payments/new.html.erb
  config/environments/development.rb
  config/routes.rb
Due: standardrb, erblint, newlines

Sketch out integration
  .env
  app/controllers/account/organization_payments_controller.rb
  app/controllers/account/payment_methods_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/stripe_controller.js
  app/lib/feature_flags.rb
  app/lib/stripe_checkout.rb
  app/models/payment_method.rb
  app/models/user.rb
  app/views/account/organization_payments/callback.html.erb
  app/views/account/organization_payments/new.html.erb
  app/views/account/payment_methods/index.html.erb
  app/views/account/payment_methods/new.html.erb
  config/routes.rb
  db/migrate/20250904011345_add_stripe_customer_id_to_users.rb
  db/migrate/20250918011950_create_payment_methods.rb
  db/schema.rb
  test/factories/payment_methods.rb
  test/models/payment_method_test.rb
Due: standardrb, erblint, newlines

Potential fix for code scanning alert no. 27: CSRF protection weakened or disabled
  app/controllers/stripe_controller.rb
Due: standardrb, newlines

Update nix and docker dev env (#2010)
  docker-compose.yml
  flake.lock
Due: none

Add retired_reason to items.
  app/controllers/admin/items/tickets_controller.rb
  app/controllers/admin/items_controller.rb
  app/helpers/items_helper.rb
  app/models/concerns/item_statuses.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  app/views/admin/items/_item_panel.html.erb
  db/migrate/20251010001741_add_retired_reason_to_items.rb
  db/schema.rb
  test/controllers/admin/items/tickets_controller_test.rb
  test/controllers/items_controller_test.rb
  test/factories/items.rb
  test/helpers/items_helper_test.rb
  test/models/hold_test.rb
  test/models/item_test.rb
  test/models/loan_test.rb
Due: standardrb, erblint, newlines

Fix items devdata
  db/devdata/items.yml
Due: none

Added wish list item model
  app/models/item.rb
  app/models/member.rb
  app/models/wish_list_item.rb
  db/migrate/20251011200137_create_wish_list_items.rb
  db/schema.rb
  test/factories/wish_list_items.rb
  test/models/wish_list_item_test.rb
Due: standardrb, newlines

Definted through associations
  app/models/item.rb
  app/models/member.rb
Due: standardrb, newlines

WIP
  app/controllers/account/wish_list_items_controller.rb
  app/views/account/wish_list_items/index.html.erb
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/show.html.erb
  config/routes.rb
  test/controllers/account/wish_list_items_controller_test.rb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

Added most of the functionality
  app/controllers/account/wish_list_items_controller.rb
  app/controllers/items_controller.rb
  app/views/account/wish_list_items/index.html.erb
  app/views/items/_wish_list_items_index.html.erb
  app/views/items/index.html.erb
  config/routes.rb
  test/controllers/account/wish_list_items_controller_test.rb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

Fix up broken tests
  app/controllers/account/wish_list_items_controller.rb
  app/controllers/items_controller.rb
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/show.html.erb
Due: standardrb, erblint, newlines

Added some basic styles
  app/assets/stylesheets/application_styles.scss
  app/views/items/_wish_list_item_show.html.erb
  app/views/items/_wish_list_items_index.html.erb
  app/views/items/index.html.erb
  app/views/layouts/_header.html.erb
Due: erblint, newlines

styles for the wish listed items list
  app/controllers/account/wish_list_items_controller.rb
  app/views/account/wish_list_items/index.html.erb
Due: standardrb, erblint, newlines

Hide buttons for users that are not signed in
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  test/system/account/wish_list_items_test.rb
Due: standardrb, erblint, newlines

Update apt before installing libvips
  .github/workflows/ci.yml
Due: none

Adjust query
  app/controllers/items_controller.rb
Due: standardrb, newlines

Allow empty issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Allow empty issues (#2021)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Avoid invalid DOM ids when rendering controls for item accessories.
  app/views/admin/loans/_form.html.erb
  app/views/admin/members/show.html.erb
Due: erblint, newlines

Avoid invalid DOM ids when rendering controls for item accessories. (#2026)
  app/views/admin/loans/_form.html.erb
  app/views/admin/members/show.html.erb
Due: erblint, newlines

Fix NoMethodError in signup home controller
  app/controllers/signup/home_controller.rb
  test/controllers/signup/home_controller_test.rb
  test/fixtures/libraries.yml
Due: standardrb, newlines

Fix NoMethodError in signup home controller (#2027)
  app/controllers/signup/home_controller.rb
  test/controllers/signup/home_controller_test.rb
  test/fixtures/libraries.yml
Due: standardrb, newlines

Add retired_reason to items (#2016)
  app/controllers/admin/items/tickets_controller.rb
  app/controllers/admin/items_controller.rb
  app/helpers/items_helper.rb
  app/models/concerns/item_statuses.rb
  app/models/item.rb
  app/views/admin/items/_form.html.erb
  app/views/admin/items/_item_panel.html.erb
  db/devdata/items.yml
  db/migrate/20251010001741_add_retired_reason_to_items.rb
  db/schema.rb
  test/controllers/admin/items/tickets_controller_test.rb
  test/controllers/items_controller_test.rb
  test/factories/items.rb
  test/helpers/items_helper_test.rb
  test/models/hold_test.rb
  test/models/item_test.rb
  test/models/loan_test.rb
Due: standardrb, erblint, newlines

Allow setting retired_reason when creating a Ticket or TicketUpdate.
  app/controllers/admin/items/tickets/ticket_updates_controller.rb
  app/controllers/admin/items/tickets_controller.rb
  app/forms/ticket_update_form.rb
  app/views/admin/items/tickets/_form.html.erb
  app/views/admin/items/tickets/ticket_updates/new.html.erb
  test/controllers/admin/items/ticket_updates_controller_test.rb
  test/controllers/admin/items/tickets_controller_test.rb
Due: standardrb, erblint, newlines

Path conditions:
  standardrb: any of: *.rb, but not: application.rb|routes.rb|schema.rb
  erblint: any of: *.erb
  readme: any of: README.md
  newlines: any of: *.{erb,html,js,json,md,mjml,rb,scss,txt,yaml}
